<!--
  ~ This program is part of the OpenLMIS logistics management information system platform software.
  ~ Copyright © 2013 VillageReach
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~  
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see http://www.gnu.org/licenses.  For additional information contact info@OpenLMIS.org. 
  -->

<div ng-controller="UserRoleAssignmentController">
  <div>
    <div class="fluid-grid" ng-show="showHomeFacilityRoleAssignmentOptions()">
      <div class="row-fluid fluid-grid-header">
        <div class="span3">
          <div class="fluid-grid-cell" openlmis-message="program.header"></div>
        </div>
        <div class="span6">
          <div class="fluid-grid-cell" openlmis-message="create.user.role"></div>
        </div>
        <div class="span3">
          <div class="fluid-grid-cell">&nbsp;</div>
        </div>
      </div>

      <div class="row-fluid" ng-repeat="roleAssignment in user.homeFacilityRoles" tab-scroll>
        <div class="span3">
          <div class="fluid-grid-cell">
            <label ng-bind="getProgramName(roleAssignment.programId)"></label>
          </div>
        </div>
        <div class="span7">
          <div class="fluid-grid-cell">
            <select ui-select2 ng-model="roleAssignment.roleIds" openlmis-message="placeholder.add.role"
                    ng-options="role.id as role.name for role in rolesMap.LAB" multiple="multiple"
                    name="roles" id="roles" class="full-width">
            </select>
            <span ng-show="roleAssignment.roleIds.length == 0" class="field-error" openlmis-message="missing.value">
            </span>
          </div>
        </div>
        <div class="span2">
          <input type="button" class="btn delete-role" value="delete"
                 ng-click="deleteCurrentRow($index, 'homeFacilityRoles')" openlmis-message="button.remove"/>
        </div>
      </div>
    </div>

    <div class="add-role-row" tab-scroll>
      <div class="row-fluid">

        <div class="span3">
          <div class="fluid-grid-cell">
            <select
              ng-options="programSupported.program.id as programSupported.program.name group by programSupported.program.status for programSupported in programsToDisplay"
              id="programSelected" ng-model="programSelected">
              <option value="" ng-bind="selectedProgramMessage"></option>
            </select>
            <span ng-show='hasMappingError(showHomeFacilityRoleMappingError, programSelected)' class="field-error"
                  openlmis-message="create.user.selectProgram">
            </span>
          </div>
        </div>

        <div class="span7 select2-roles">
          <div class="fluid-grid-cell">
            <select ui-select2 ng-model="selectedRoleIds"
                    ng-options="role.id as role.name for role in rolesMap.LAB" class="full-width"
                    openlmis-message="placeholder.add.role" multiple="multiple">
            </select>
            <span ng-show='hasMappingError(showHomeFacilityRoleMappingError,selectedRoleIds)' class="field-error"
                  openlmis-message="create.user.selectRoles">
            </span>
          </div>
        </div>

        <div class="span2">
          <div class="fluid-grid-cell">
            <input id="addHomeRole" type="button" ng-click="addHomeFacilityRole()" class="btn btn-primary"
                   openlmis-message="button.add"/>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
