<!DOCTYPE html>
<html lang="en" ng-app="print" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}} </title>

    <!-- jQuery -->
    <!--<script src="/public/vendors/jquery/dist/jquery.min.js"></script>-->

    <script src="/public/lib/jquery/jquery-2.0.0.min.js"></script>
    <script src="/public/lib/jquery/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- Bootstrap -->
    <script src="/public/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <!--<script src="/public/vendors/fastclick/lib/fastclick.js"></script>-->
    <!--Angular-->
    <!--<script src="/public/lib/base2.js"></script>-->
    <script src="/public/lib/angular/angular.min.js"></script>
    <script src="/public/lib/angular/angular-route.min.js"></script>
    <script src="/public/lib/angular/angular-cookies.min.js"></script>
    <script src="/public/lib/angular/angular-resource.min.js"></script>
    <script src="/public/lib/angular-ui/angular-ui.min.js"></script>
    <script src="/public/lib/angular-ui/ng-grid/ng-grid-2.0.7.min.js"></script>
    <script src="/public/lib/select2/select2.js"></script>

    <!--Underscore-->
    <script src="/public/lib/underscore/underscore-min.js"></script>

    <!-- App directives -->
    <script src="/public/js/shared/app.js"></script>
    <script src="/public/js/shared/directives/form-toolbar.js"></script>
    <script src="/public/js/shared/directives/openlmis-message.js"></script>
    <!--
            <script src="/public/js/shared/directives/openlmis-pagination.js"></script>
    -->
    <script src="/public/js/shared/directives/ui-nav.js"></script>
    <script src="/public/js/shared/directives/tab-scroll.js"></script>

    <script src="/public/js/shared/services/services.js"></script>
    <script src="/public/js/shared/controller/locale-controller.js"></script>
    <script type="text/javascript" src="/public/js/shared/services/message-service.js"></script>
    <script src="/public/js/shared/controller/login-controller.js"></script>
    <script src="/public/js/shared/controller/locale-controller.js"></script>
    <script src="/public/js/shared/controller/header-controller.js"></script>
    <script src="/public/js/shared/controller/navigation-controller.js"></script>
    <script src="/public/js/shared/controller/top-tiles-controller.js"></script>
    <script src="/public/js/shared/controller/left-navigation-controller.js"></script>
    <script src="/public/lib/localstorage/localStorage.js"></script>
    <script src="/public/js/shared/localStorageKeys.js"></script>
    <script src="/public/js/shared/util.js"></script>
    <script src="/public/js/shared/accordion.js"></script>
    <script src="/public/js/shared/open-ldr-dialog.js"></script>
    <script src="/public/js/shared/directives/modal-events.js"></script>
    <script src="/public/js/shared/directives/check-list.js"></script>
    <script src="/public/js/shared/services/extension-services.js"></script>
    <script type="text/javascript" src="/public/js/shared/services/authorization-service.js"></script>
    <script type="text/javascript" src="/public/js/shared/directives/non-scope-ng-include-directive.js"></script>
    <script src="/public/lib/angular/ngletteravatar.min.js"></script>
    <script type="text/javascript" src="/public/js/shared/directives/filters.js"></script>

    <script src="/public/lib/dob/angular-date-dropdowns.js"></script>

    <!--Start web socket-->
    <script type="text/javascript" src="/public/lib/angular-io-barcode/angular-io-barcode.js"></script>

    <script src="/public/js/shared/services/navigate-back-service.js"></script>
    <script src="/public/js/print/module/print-module.js"></script>
    <script src="/public/js/print/controller/print-worksheet-controller.js"></script>
    <script src="/public/js/print/controller/print-sample-controller.js"></script>

    <script src="/public/lib/angular-ui/bootstrap/ui-bootstrap-0.1.0.min.js"></script>
    <script src="/public/lib/angular-ui/bootstrap/ui-bootstrap-pagination-0.10.0.min.js"></script>
    <link rel="stylesheet" href="/public/lib/angular-ui/angular-ui.min.css">
    <script src="/public/js/shared/controller/manage-menu-controller.js"></script>


    <script src="/public/lib/d3/d3.min.js"></script>
    <script src="/public/lib/c3/c3.min.js"></script>
    <script src="/public/lib/c3/c3-angular.min.js"></script>
    <link rel="stylesheet" href="/public/lib/c3/c3.min.css">



    <!--<link href="/public/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->


    <!-- Custom Theme Style -->
    <link rel="stylesheet" href="/public/css/app.css">
    <link href="/public/css/custom.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="/public/css/app.css">


    <link rel="stylesheet" href="/public/css/ie9.css"/>
    <style type="text/css" >
       body{
           color:#000 !important;
        }

    </style>

</head>

<body class="nav-md">
<div id="print-area" style="background-color: #fff;margin:0px 10px 10px 10px;" ng-view>

</div>
<div class="preview-pane"></div>

<!-- NProgress -->
<!--<script src="/public/vendors/nprogress/nprogress.js"></script>-->
<!-- Chart.js -->
<script src="/public/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="/public/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="/public/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/public/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="/public/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="/public/vendors/Flot/jquery.flot.js"></script>
<script src="/public/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/public/vendors/Flot/jquery.flot.time.js"></script>
<script src="/public/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/public/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/public/lib/flot/jquery.flot.orderBars.js"></script>
<script src="/public/lib/flot/date.js"></script>
<script src="/public/lib/flot/jquery.flot.spline.js"></script>
<script src="/public/lib/flot/curvedLines.js"></script>
<!-- JQVMap -->
<script src="/public/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/public/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/public/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/public/lib/moment/moment.min.js"></script>
<script src="/public/lib/datepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="/public/js/custom.js"></script>
<!--<link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.min.css">-->

<!--
  Added from VIMS Settings
-->
<link rel="icon" href="/public/favicon.ico" type="image/x-icon"/>


<script src="/public/js/shared/util.js"></script>
<script src="/public/js/shared/services/map-helpers.js"></script>


<!--[if IE 9]>

<link rel="stylesheet" href="/public/css/ie9.css"/>

<![endif]



<!-- Flot -->


</body>
</html>
