<!DOCTYPE html>
<html lang="en" ng-app="mainDashboard">
<head>
    <meta charset="UTF-8">
    <title>National VL Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css"/>
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
</head>
<body >
<div ui-view>

</div>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="bower_components/fusioncharts/fusioncharts.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="bower_components/fusioncharts/themes/fusioncharts.theme.zune.js"></script>
<script type="text/javascript" src="bower_components/fusioncharts/themes/fusioncharts.theme.ocean.js"></script>
<script type="text/javascript" src="bower_components/fusioncharts/themes/fusioncharts.theme.carbon.js"></script>
<script type="text/javascript" src="bower_components/fusioncharts/themes/fusioncharts.theme.fint.js"></script>
<script type="text/javascript" src="bower_components/lodash/lodash.js"></script>
<script type="text/javascript" src="js/angular-fusioncharts.min.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/filters.js"></script>

<script type="text/javascript" src="js/controller/MainController.js"></script>
<script type="text/javascript" src="js/controller/SummaryController.js"></script>
<script type="text/javascript" src="js/controller/TrendController.js"></script>
<script type="text/javascript" src="js/controller/LabPerformanceController.js"></script>

</body>
</html>
<script type="text/ng-template" id="filter-map-template">
    <div id="container" class="container">
    </div>
</script>

<script type="text/ng-template" id="filter-year-template">
    <div >
    <span ng-repeat="y in years" >
        <a class="new badge" ng-class="{'filter-btn-active':(y === year)}" href=""
                                                                              ng-click="setYear(y)">{{y}}</a>&nbsp;|</span>
    </div>
    <!--</div>-->
</script>
<script type="text/ng-template" id="filter-month-template">
    <div >
    <span ng-repeat="m in months" >
        <a class="new badge" href="" ng-class="{'filter-btn-active':(m.id === month)}"
           ng-click="setMonth(m.id)">{{m.name}}</a>&nbsp;|</span>
    </div>
    <!-- </div>-->
</script>

<script type="text/ng-template" id="filter-period-template">
    <div id="perion">
        <span ng-repeat="p in periods" ng-class="{'period-selected':(p.id === period)}">
            <md-button href=""
                                                                                           ng-click="setPeriod(p.id)">{{p.name}}</md-button>&nbsp;|&nbsp;</span>
    </div>
</script>
<script type="text/ng-template" id="filter-location-template">
    <div id="location">
        <span style="background-color: #F1F1F1">Labs:</span>   <span ng-repeat="l in locations" ng-class="{'location-selected':(l.id === location)}"><a href=""
                                                                                                                                                        ng-click="setLocation(l.id)">{{l.name}}</a>&nbsp;|&nbsp;</span>
    </div>
</script>