

<script type="text/ng-template" id="filter-program-template">
    <div>
        <label for="program" class="labels" openlmis-message="label.program"><span ng-show="requiredFilters.program" class="label-required">*</span></label>
        <div>
            <select id="program" ui-select2 class="input-large" ng-model="filter.program" ng-change="notifyFilterChanged('program-changed');">
                <option ng-repeat="program in programs" value="{{ program.id }}" ng-selected="program.id == filter.program">{{program.name}}</option>
            </select>
        </div>
    </div>
</script>

<script type="text/ng-template" id="filter-year-template">
    <div>
        <label for="year" class="labels" openlmis-message="label.year"><span ng-show="requiredFilters.year" class="label-required">*</span></label>
        <div>
            <select id="year" ui-select2 class="input-medium" ng-model="filter.year" ng-change="notifyFilterChanged('year-changed');">
                <option ng-repeat="year in years" ng-selected="filter.year == year" value="{{ year }}">{{year}}</option>
            </select>
        </div>
    </div>
</script>

<script type="text/ng-template" id="filter-quarter-template">
    <div>
        <label class="labels" openlmis-message="label.quarter"><span ng-show="requiredFilters.quarter" class="label-required">*</span></label>
        <div>
            <select ui-select2 class="input-medium" ng-model="filter.quarter" ng-change="notifyFilterChanged('quarter-changed');">
                <option ng-repeat="quarter in quarters" ng-selected="filter.quarter == quarter" value="{{ quarter }}">{{quarter}}</option>
            </select>
        </div>
    </div>
</script>

<script type="text/ng-template" id="filter-facility-type-template">
    <div>
        <label for="facilityType" class="labels" openlmis-message="label.facility.type"><span ng-show="requiredFilters.facilityType" class="label-required">*</span></label>
         <div>
         <select id="facilityType" ui-select2 class="input-large" ng-model="filter.facilityType" ng-change="notifyFilterChanged('facility-type-changed');">
                <option ng-repeat="type in facilityTypes" ng-selected="filter.facilityType == type.id" value="{{ type.id }}">{{type.name}}</option>
         </select>
        </div>
    </div>
</script>

<script type="text/ng-template" id="filter-facility-level-template">
    <div>
        <label for="facilityLevel" class="labels" openlmis-message="label.facility.level"><span ng-show="requiredFilters.facilityLevel" class="label-required">*</span></label>
        <div>
            <select id="facilityLevel" ui-select2 class="input-large" ng-model="filter.facilityLevel" ng-change="notifyFilterChanged('facility-level-changed');">
                <option ng-repeat="level in facilityLevels | orderBy: 'display_order'" ng-selected="filter.facilityLevel == level.id" value="{{ level.id }}">{{level.name}}</option>
            </select>
        </div>
    </div>
</script>

<script type="text/ng-template" id="filter-facility-template">
    <div>
        <label for="facility" class="labels check-box">
            <span openlmis-message="label.facility"></span>
            <span ng-show="requiredFilters.facility" class="label-required">*</span>

        </label>
        <div>
            <select id="facilityFilter" ui-select2 class="input-large" ng-model="filter.facility" ng-change="notifyFilterChanged('facility-changed');filter_facility=true;">
               <option  ng-repeat="option in facilities" ng-selected="filter.facility == option.id" value="{{ option.id }}" openlmis-message="option.name"></option>
            </select>
        </div>
    </div>
</script>

<!-- remember how to re-implement this to be more generic  -->
<script type="text/ng-template" id="filter-zone-template">
  <div>
    <label for="zone" class="labels" openlmis-message="label.geographic.zone">
        <span ng-show="requiredFilters.zone" class="label-required">*</span></label>
        <tree-dropdown class="tree-dropdown" data="zones" selected="selectedZone" ng-change="notifyFilterChanged('zone-changed')" ng-model="filter.zone"></tree-dropdown>
  </div>
</script>

<script type="text/ng-template" id="filter-schedule-template">
    <div>
        <label for="schedule" class="labels" openlmis-message="label.schedule"><span ng-show="requiredFilters.schedule" class="label-required">*</span></label>
        <div>
        <select id="schedule" ui-select2 class="input-medium" ng-change="notifyFilterChanged('schedule-changed');" ng-model="filter.schedule">
            <option ng-repeat="schedule in schedules" value="{{ schedule.id }}" ng-selected="filter.schedule == schedule.id" openlmis-message="schedule.name"></option>
            </select>
        </div>
    </div>
</script>

<script type="text/ng-template" id="filter-adjustment-type-template">
  <div>
    <label for="adjustmentType" class="labels" openlmis-message="label.adjustment.type"><span ng-show="requiredFilters.adjustmentType" class="label-required">*</span></label><div>
    <select id="adjustmentType" ui-select2 class="input-large" ng-model="filter.adjustmentType" ng-change="notifyFilterChanged('adjustment-type-changed');">
      <option ng-repeat="adjustmentType in adjustmentTypes" value="{{ adjustmentType.name }}" ng-selected="adjustmentType.name == filter.adjustmentType">{{adjustmentType.description}}</option>
    </select>
  </div>
  </div>
</script>

<script type="text/ng-template" id="filter-period-template">
    <div>
        <label for="period" class="labels" openlmis-message="label.period"><span ng-show="requiredFilters.period" class="label-required">*</span></label><div>
        <select id="period" ui-select2 class="input-medium" ng-model="filter.period" ng-change="notifyFilterChanged('period-changed');">
            <option ng-repeat="period in periods" value="{{ period.id }}" ng-selected="period.id == filter.period">{{period.name}}</option>
         </select>
        </div>
    </div>
</script>

<script type="text/ng-template" id="filter-product-category-template">
    <div>
        <label for="productCategory" class="labels" openlmis-message="label.product.category"><span ng-show="requiredFilters.productCategory" class="label-required">*</span></label>
        <div>
          <select id="productCategory" ui-select2 class="input-large" ng-model="filter.productCategory" ng-change="notifyFilterChanged('product-category-changed');">
               <option  ng-repeat="option in productCategories" value="{{ option.id }}" ng-selected="option.id == filter.productCategory">{{ option.name }}</option>
          </select>
        </div>
    </div>
</script>
<!--product multi category-->
<script type="text/ng-template" id="filter-product-category-multi-template">
    <div>
        <label for="productCategoryMulti" class="labels" openlmis-message="label.product.category"><span ng-show="requiredFilters.productCategory" class="label-required">*</span></label><div>
        <select id="productCategoryMulti" ui-select2="wideOption" multiple data-placeholder="-- All product Categories --" class="input-large" ng-model="filter.productCategory" ng-change="notifyFilterChanged('product-categories-changed');">
            <option  ng-repeat="option in productCategories" value="{{ option.id }}" ng-selected="filter.productCategory == option.id">{{ option.name }}</option>
        </select>
    </div>
    </div>
</script>
        <!--end-->
<script type="text/ng-template" id="filter-product-template">
    <div>
        <label for="product" class="labels" ><span openlmis-message="label.product"></span><span ng-show="requiredFilters.product" class="label-required">*</span></label><div>
          <select id="product" ui-select2 class="input-large" ng-model="filter.product" ng-change="notifyFilterChanged('product-changed');">
                 <option ng-repeat="option in products | filter:productCFilter" value="{{ option.id }}" ng-selected="filter.product == option.id">{{ option.name }}</option>
          </select>
        </div>
    </div>
</script>

<script type="text/ng-template" id="filter-product-multi-template">
    <div>
        <label for="productMulti" class="labels" openlmis-message="label.product"><span ng-show="requiredFilters.product" class="label-required">*</span></label><div>
        <select id="productMulti" ui-select2="wideOption" multiple data-placeholder="-- All Products --" class="input-large" ng-model="filter.products" ng-change="notifyFilterChanged('products-changed');">
            <option  ng-repeat="option in products | filter:productCFilter" value="{{ option.id }}" ng-selected="filter.product == option.id">{{ option.name }}</option>
        </select>
    </div>
    </div>
</script>

<script type="text/ng-template" id="filter-requisition-group-template">
    <div>
        <label for="requisitionGroup" class="labels" openlmis-message="label.requistion.group"><span ng-show="requiredFilters.requisitionGroup" class="label-required">*</span></label><div>
        <select id="requisitionGroup" ui-select2 class="input-large" ng-model="filter.requisitionGroup" ng-change="notifyFilterChanged('requisition-group-changed');">
                 <option ng-repeat="requisitionGroup in requisitionGroups" value="{{ requisitionGroup.id }}" ng-selected="filter.requisitionGroup == requisitionGroup.id">{{requisitionGroup.name}}</option>
            </select>
        </div>
    </div>
</script>

<script type="text/ng-template" id="filter-regimen-category-template">
    <div>
        <label for="regimenCategory" class="labels" openlmis-message="label.regimen.category"><span ng-show="requiredFilters.regimenCategory" class="label-required">*</span></label><div>
        <select id="regimenCategory" ui-select2 class="input-large" ng-model="filter.regimenCategory" ng-change="notifyFilterChanged('regimen-category-changed');">
            <option  ng-repeat="option in regimenCategories" value="{{ option.id }}" ng-selected="option.id == filter.regimenCategory">{{ option.name }}</option>

        </select>
    </div>
    </div>
</script>

<script type="text/ng-template" id="filter-regimen-template">
    <div>
        <label for="regimen" class="labels" openlmis-message="label.regimen"><span ng-show="requiredFilters.regimen" class="label-required">*</span></label><div>
        <select id="regimen" ui-select2 class="input-large" ng-model="filter.regimen" ng-change="notifyFilterChanged('regimen-changed');">
            <option ng-repeat="regimen in regimens" value="{{ regimen.id }}" ng-selected="filter.regimen == regimen.id">{{regimen.name}}</option>
        </select>
    </div>
    </div>
</script>


<script type="text/ng-template" id="filter-equipment-type">
    <div>
        <label for="equipmentType" class="labels" openlmis-message="label.equipment.type"><span ng-show="requiredFilters.equipmentType" class="label-required">*</span></label><div>
        <select id="equipmentType" ui-select2 class="input-large" ng-model="filter.equipmentType" ng-change="notifyFilterChanged('equipemnt-type-changed');">
            <option ng-repeat="equipment in equipmentTypes" value="{{ equipment.id }}" ng-selected="filter.equipmentType == equipment.id">{{equipment.name}}</option>
        </select>
    </div>
    </div>
</script>

<script type="text/ng-template" id="filter-program-product-period">
    <div class="row">
        <div class="span3">
            <program-filter></program-filter>
        </div>
        <div class="span3">
            <zone-filter ></zone-filter>
        </div>

        <div class="span3">
            <label class="labels" openlmis-message="label.product"> <span ng-show="requiredFilters.product" class="label-required">*</span></label>
            <div>
                <select ui-select2 class="input-large" ng-model="filter.product" ng-change="filterChanged();">

                    <option ng-selected="filter.product === 0" ng-value="0">--Select Product --</option>
                    <!-- <option ng-selected="filter.product === -1" ng-value="-1">--Indicator Products --</option> -->

                    <optgroup ng-repeat="category in products"  label="{{category.category}}">
                        <option  ng-repeat="option in category.children" value="{{ option.product_id }}" ng-selected="filter.product == option.product_id">{{ option.product }}</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="span3">
            <label class="labels" openlmis-message="label.period"> <span ng-show="requiredFilters.period" class="label-required">*</span></label><div>
            <div>
            <select ui-select2 class="input-large" ng-change="filterChanged();" ng-model="filter.period">
                <option ng-selected="filter.period === 0" ng-value="0">--Select Period --</option>
                <optgroup ng-repeat="year in periods"  label="{{year.year}}">

                    <option ng-repeat-start="v in year.children" value="-1">{{v.groupname}}</option>
                    <option ng-repeat-end ng-repeat="d in v.children" value="{{d.periodid}}" ng-selected="filter.period == d.periodid"> &nbsp; &nbsp; {{d.periodname}}</option>

                </optgroup>
            </select>
          </div>
        </div>
    </div>
    </div>
</script>

<script type="text/ng-template" id="filter-equipment">
    <div>
        <label for="equipment" class="labels" openlmis-message="label.equipment"> <span ng-show="requiredFilters.equipment" class="label-required">*</span></label><div>
        <select id="equipment" ui-select2 class="input-large" ng-model="filter.equipment" ng-change="notifyFilterChanged('equipment-changed');">
            <option ng-repeat="equipment in equipments" value="{{ equipment.id }}" ng-selected="filter.equipment == equipment.id">{{equipment.name}}</option>
        </select>
    </div>
    </div>
</script>


<script type="text/ng-template" id="filter-service-contract">
    <div>
        <label for="serviceContract" class="labels" openlmis-message="label.service.contract.available"><span ng-show="requiredFilters.serviceContract" class="label-required">*</span></label><div>
        <select id="serviceContract" ui-select2 class="input-large" ng-model="filter.serviceContract" ng-change="notifyFilterChanged('service-contract-changed');">
            <option  ng-repeat="contract in serviceContract" value="{{ contract.key }}" ng-selected="filter.serviceContract == contract.key">{{contract.value}}</option>
        </select>

    </div>
    </div>
</script>

<script type="text/ng-template" id="filter-donors">
    <div>
        <label for="donor" class="labels" openlmis-message="label.donor"> <span ng-show="requiredFilters.donor" class="label-required">*</span></label><div>
        <select id="donor" ui-select2 class="input-large" ng-model="filter.donor" ng-change="notifyFilterChanged('donor-changed');">
            <option  ng-repeat="donor in donors" value="{{ donor.id }}" ng-selected="filter.donors == donor.id">{{donor.shortName}}</option>
        </select>
    </div>
    </div>
</script>

<script type="text/ng-template" id="filter-period-tree-template">
    <label for="periodTree" class="labels" openlmis-message="label.period"> <span ng-show="requiredFilters.period" class="label-required">*</span></label>
    <div>
        <div>
            <select id="periodTree"
                    ui-select2 class="input-large" ng-change="notifyFilterChanged('period-tree-changed');" ng-model="filter.period">
                <option ng-selected="filter.period === 0" ng-value="0">{{period_placeholder}}</option>
                <!--<optgroup ng-repeat="year in periods"  label="{{year.year}}">-->

                    <option ng-repeat="v in periods" value="{{v.periodid}}" ng-selected="filter.period == v.periodid"> &nbsp; &nbsp; {{v.periodname}}</option>


                <!--</optgroup>-->
            </select>
        </div>
      </div>
</script>

<script type="text/ng-template" id="filter-rmnch-product-period">
    <div class="row">
        <div class="span4">
            <label for="rmnchProduct" class="labels" openlmis-message="label.product"> <span ng-show="requiredFilters.product" class="label-required">*</span></label>
            <div>
                <select id="rmnchProduct" ui-select2 class="input-large" ng-model="filter.product" ng-change="filterChanged();">
                    <option ng-selected="filter.product === 0" ng-value="0">--Select Product --</option>
                    <option  ng-repeat="option in products | filter:productCFilter" value="{{ option.id }}" ng-selected="filter.product == option.id">{{ option.name }}</option>
                </select>
            </div>
        </div>
        <div class="span4">
            <label class="labels" openlmis-message="label.period"> <span ng-show="requiredFilters.period" class="label-required">*</span></label><div>
            <div>
                <select ui-select2 class="input-large" ng-change="filterChanged();" ng-model="filter.period">
                    <option ng-selected="filter.period === 0" ng-value="0">--Select Period --</option>
                    <optgroup ng-repeat="year in periods"  label="{{year.year}}">

                        <option ng-repeat-start="v in year.children" value="-1">{{v.groupname}}</option>
                        <option ng-repeat-end ng-repeat="d in v.children" value="{{d.periodid}}" ng-selected="filter.period == d.periodid"> &nbsp; &nbsp; {{d.periodname}}</option>
                    </optgroup>
                </select>
            </div>
        </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="filter-vaccine-facility-level-template">

    <div ng-show="facilityLevels.length > 0 ">

        <div>

            <select ui-select2 class="input-large" ng-change="filterChanged();" ng-model="filter.facilityId">
                <option ng-selected="filter.facilityId === 0" ng-value="0">--Select Facility --</option>

                <optgroup ng-repeat="value in facilityLevels | orderBy:'superVisedFacility'"
                          value="{{ value.superVisedFacilityId }}"
                          ng-selected="filter.facilityId == value.superVisedFacilityId"
                          label="{{value.superVisedFacility}}">

                    <option ng-show="homeFacilityId[0] !==value.superVisedFacilityId "
                            value="{{value.superVisedFacilityId}}"><b class="green">{{value.superVisedFacility}}</b>
                    </option>

                    <option ng-repeat-end ng-repeat="d in value.children" value="{{d.facilityId}}"> &nbsp; &nbsp;&nbsp;
                        {{d.facilityName}}
                    </option>

                </optgroup>


            </select>
        </div>
    </div>
</script>
<!--
<script type="text/ng-template" id="filter-static-period">
    <div>
        <div class="horizontalFilters form-cell">
            <label for="static-period" class="labels" openlmis-message="label.period"><span class="label-required">*</span></label>
            <div>
                <select id="static-period" ui-select2 class="input-large" ng-model="periodRange"  >
                    <option ng-value="0" ng-selected="periodRange == 0">-&#45;&#45;Select period-&#45;&#45;</option>
                    <option ng-repeat="period in periods" ng-value="{{ period.key }}">{{ period.value }}</option>
                </select>
            </div>
        </div>

        <div class="horizontalFilters form-cell" ng-show="showCustomeDateInputs">
            <label for="product" class="labels" ><span openlmis-message="label.start.date"></span></label>
            <div>
                <input ng-model="periodStartdate" ui-date-format="yy-mm-dd" ui-date />
            </div>
        </div>

        <div class="horizontalFilters form-cell" ng-show="showCustomeDateInputs">
            <label for="product" class="labels" ><span openlmis-message="label.end.date"></span></label>
            <div>
                <input ng-model="periodEnddate" ui-date-format="yy-mm-dd" ui-date />
            </div>
        </div>
    </div>
</script>-->
<script type="text/ng-template" id="filter-vaccine-zone-template">
    <div>
        <div>
            <label class="labels" openlmis-message="label.geographic.zone">
                <span class="label-required">*</span></label>
            <tree-dropdown  class="tree-dropdown" data="zones" selected="filterZone"  ng-model="filterZone"></tree-dropdown>
        </div>
    </div>

</script>


<script type="text/ng-template" id="filter-vaccine-dropout-template">
    <div>

        <label class="labels" >Dropouts: <span
                class="label-required">*</span></label>

        <div>
            <select  ui-select2 class="input-large"
                     ng-model="filterProduct">
                <!--<option value="{{defualtProduct.id}}" ng-selected="filterProduct ==undefined ||filterProduct == 0">{{defualtProduct.dropout}}</option>-->
                <option ng-repeat="option in dropoutProductsList " value="{{option.id}}">{{option.dropout}}</option>

            </select>
        </div>

    </div>
</script>

<script type="text/ng-template" id="filter-vaccine-product-template">
    <div>

        <label class="labels" openlmis-message="label.product"><span ng-show="requiredFilters.product" class="label-required">*</span></label>
        <div>
            <select  ui-select2 class="input-large"
                     ng-model="filterProduct" >
                <option ng-value="0" ng-selected="filterProduct ==undefined ||filterProduct == 0">---Select product---</option>
                <option ng-repeat="option in products " value="{{option.id}}" ng-selected ="filterProduct == option.id">{{option.name}}</option>

            </select>
        </div>

    </div>
</script>


<script type="text/ng-template" id="filter-vaccine-monthly-period-tree-template">
    <label for="periodTree" class="labels" openlmis-message="label.period"> <span ng-show="requiredFilters.period" class="label-required">*</span></label>
    <div>
        <div>
            <select id="vaccinePeriodTree"
                    ui-select2  ng-change="notifyFilterChanged('period-tree-changed');" ng-model="period" class="input-large" style="width: 100px">
                <!--<option ng-selected="period == 0" ng-value="0">{{period_placeholder}}</option>
-->
                <option ng-value="0" ng-selected="period ==undefined ||period == 0">{{period_placeholder}}</option>
                <!--<optgroup ng-repeat="year in periods"  label="{{year.year}}">-->

                    <!--<option ng-repeat-start="v in year.children" value="-1">{{v.groupname}}</option>-->
                    <option ng-repeat="v in periods" value="{{v.periodid}}" ng-selected="period == v.periodid"> &nbsp; &nbsp; {{v.startdate|date:'MMM yyyy'}}</option>

                <!--</optgroup>-->
            </select>
        </div>
    </div>
</script>

<script type="text/ng-template" id="filter-static-period">
    <div>
        <div  class="horizontalFilters form-cell">
            <label for="static-period"  class="labels" openlmis-message="label.period"><span class="label-required">*</span></label>
            <div>
                <select style="width: 140px" id="static-period" ui-select2 class="input-large" ng-model="periodRange">
                    <option ng-value="0" ng-selected="periodRange == 0">---Select period---</option>
                    <option ng-repeat="period in periods" ng-value="{{ period.key }}">{{ period.value }}</option>
                </select>
            </div>
        </div>

        <div class="horizontalFilters form-cell" ng-show="showCustomeDateInputs">
            <label for="product" class="labels" ><span openlmis-message="label.start.date"></span></label>
            <div>
                <input ng-model="periodStartdate" ui-date-format="yy-mm-dd" ui-date/>
            </div>
        </div>

        <div class="horizontalFilters form-cell" ng-show="showCustomeDateInputs">
            <label for="product" class="labels" ><span openlmis-message="label.end.date"></span></label>
            <div>
                <input ng-model="periodEnddate" ui-date-format="yy-mm-dd" ui-date/>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="filter-vaccine-facility-template">

    <div ng-show="facilityLevels.length > 0 ">

        <div>

            <select ui-select2 class="input-large" ng-change="filterChanged();" ng-model="filter.facilityId">
                <option ng-selected="filter.facilityId === 0" ng-value="0">--Select Facility --</option>

                <optgroup ng-repeat="value in facilityLevels | orderBy:'superVisedFacility'"
                          value="{{ value.superVisedFacilityId }}"
                          ng-selected="filter.facilityId == value.superVisedFacilityId"
                          label="{{value.superVisedFacility}}">

                    <option
                            value="{{value.superVisedFacilityId}}"><b class="green">{{value.superVisedFacility}}</b>
                    </option>

                    <option ng-repeat-end ng-repeat="d in value.children" value="{{d.facilityId}}"> &nbsp; &nbsp;&nbsp;
                        {{d.facilityName}}
                    </option>

                </optgroup>


            </select>
        </div>
    </div>


</script>

<script type="text/ng-template" id="filter-range-pagination">
    <div>
            <label for="range-pagination"  class="labels" openlmis-message="{{fieldLabel}}"> <span class="label-required">*</span></label>
            <div style="width: 60px; max-height: 12px;">
                <select style="width: 80px; height:20px " id="range-pagination" ui-select2 class="input-large" ng-model="offset">
                    <option ng-repeat="page in pages" ng-value="{{ page.offset }}" ng-selected="offset == page.offset">{{ page.value }}</option>
                </select>
            </div>

    </div>
</script>


<script type="text/ng-template" id="filter-vaccine-facility-by-level-template">
    <div>
        <label for="facility" class="labels" openlmis-message="label.facility"><span ng-show="requiredFilters.facility"
                                                                                     class="label-required">*</span></label>

        <div>
            <select id="facility" ui-select2 class="input-large" ng-model="filter.facility"
                    ng-change="notifyFilterChanged('facility-changed');">
                <option ng-repeat="option in facilities" ng-selected="filter.facility == option.id"
                        value="{{ option.id }}" openlmis-message="option.name"></option>
            </select>
        </div>
    </div>
</script>



<script type="text/ng-template" id="filter-product-without-description-template">
    <div>
        <label for="product" class="labels" ><span openlmis-message="label.product"></span><span ng-show="requiredFilters.product" class="label-required">*</span></label><div>
        <select id="product" ui-select2 class="input-large" ng-model="filter.product" ng-change="notifyFilterChanged('product-changed');">
            <option ng-repeat="option in products | filter:productCFilter" value="{{ option.id }}" ng-selected="filter.product == option.id">{{ option.name }}</option>
        </select>
    </div>
    </div>
</script>


<script type="text/ng-template" id="filter-static-year">
    <div>
        <div  class="horizontalFilters form-cell">
            <label for="static-year"  class="labels" openlmis-message="label.period"><span class="label-required">*</span></label>
            <div>
                <select style="width: 140px" id="static-year" ui-select2 class="input-large" ng-model="staticYear">

                    <option ng-repeat="option in years" value="{{option.id}}" >{{option.year_value}}</option>
                </select>
            </div>
        </div>
        <div class="horizontalFilters form-cell" >
            <label for="periodStartdate" class="labels" ><span openlmis-message="label.start.date"></span></label>
            <div>
                <input id="periodStartdate" ng-model="periodStartdate" ui-date-format="yy-mm-dd" ui-date/>
            </div>
        </div>

        <div class="horizontalFilters form-cell" >
            <label for="periodEnddate" class="labels" ><span openlmis-message="label.end.date"></span></label>
            <div>
                <input id="periodEnddate" ng-model="periodEnddate" ui-date-format="yy-mm-dd" ui-date/>
            </div>
        </div>

    </div>
</script>

<script type="text/ng-template" id="filter-static-year-month">
    <div>
        <div  class="horizontalFilters form-cell">
            <label for="static-year1"  class="labels" openlmis-message="label.period"><span class="label-required">*</span></label>
            <div>
                <select style="width: 140px" id="static-year1" ui-select2 class="input-large" ng-model="staticYear">

                    <option ng-repeat="option in years" value="{{option.id}}" >{{option.year_value}}</option>
                </select>
            </div>
        </div>
        <div class="horizontalFilters form-cell" >
            <label for="periodStartMonth" class="labels" ><span openlmis-message="label.start.month"></span></label>
            <div>
                <select style="width: 140px" id="periodStartMonth" ui-select2 class="input-large" ng-model="startMonth">

                    <option ng-repeat="option in monthNames" value="{{option.id}}" >{{option.value}}</option>
                </select>
            </div>
        </div>

        <div class="horizontalFilters form-cell" >
            <label for="periodEndMonth" class="labels" ><span openlmis-message="label.end.month"></span></label>
            <div>
                <select style="width: 140px" id="periodEndMonth" ui-select2 class="input-large" ng-model="endMonth">

                    <option ng-repeat="option in monthNames" value="{{option.id}}" >{{option.value}}</option>
                </select>
            </div>
        </div>

    </div>
</script>
<script type="text/ng-template" id="filter-vaccine-product-doses-template">
    <div>
        <div  class="horizontalFilters form-cell">
            <label for="vaccine-product-doeses"  class="labels" openlmis-message="label.vaccine.product.filter"></label>
            <div>
                <select id="vaccine-product-doeses" ui-select2 class="input-large" ng-model="filter.dose" ng-change="filterChanged();">
                    <option ng-repeat="dose in doses" value="{{dose.doseId}}" ng-selected="filter.dose === dose.id">{{dose.displayName}}</option>
                </select>
            </div>
        </div>


    </div>
</script>
<script type="text/ng-template" id="filter-vaccine-stock-date-template">
    <div>

        <label class="labels" openlmis-message="label.to.date"><span class="label-required">*</span></label>

        <div>
            <input style="width:90px !important; height:20px !important "
                   name="searchDate"
                   type="text"
                   ui-date="{dateFormat: 'dd/mm/yy', changeYear: true, maxDate:'today'}"
                   ng-model="filterToDate"
                   ui-date-format="yy-mm-dd"/>
        </div>

    </div>
</script>

<script type="text/ng-template" id="filter-vaccine-facility-levels-template">
    <div>

        <label class="labels" openlmis-message="label.facility.level"><span class="label-required">*</span></label>

        <div>
            <select ui-select2 class="input-large"
                    ng-model="filterFacilityLevel">
                <option ng-value="0" ng-selected="filterFacilityLevel ==undefined ||filterFacilityLevel == 0">Select
                </option>
                <option ng-repeat="option in facilityLevels " value="{{option.code}}"
                        ng-selected="filterFacilityLevel == option.code">{{option.code}}
                </option>

            </select>

        </div>

    </div>
</script>

<script type="text/ng-template" id="filter-custom-legend-template">
    <div>
        <div style="position:relative;margin:1px auto;width:70%;text-align:center">
        <span ng-repeat="item in data" style="margin-left:4px;">
            <span style="background:{{item.color}};display: inline-block;width: 10px;height: 10px;"></span>
            <span style="margin-right:5px;font-size:70%;vertical-align:middle">{{item.label}}</span>
        </span>
        </div>

    </div>
</script>

<script type="text/ng-template" id="filter-facility-operator-template">
    <div>
        <label for="facilityOperator" class="labels" openlmis-message="label.facility.operator"><span ng-show="requiredFilters.facilityOperator" class="label-required">*</span></label><div>
        <select id="facilityOperator" ui-select2 class="input-large" ng-model="filter.facilityOperator" ng-change="notifyFilterChanged('facility-operator-changed');">
            <option ng-repeat="facilityOperator in facilityOperators" value="{{ facilityOperator.id }}" ng-selected="facilityOperator.id == filter.facilityOperator">{{facilityOperator.text}}</option>
        </select>
    </div>
    </div>
</script>

<script type="text/ng-template" id="filter-facility-level-without-program-template">
    <div>
        <label for="facilityLevelWithoutProgram" class="labels" openlmis-message="label.store.level"><span ng-show="requiredFilters.facilityLevel" class="label-required">*</span></label>
        <div>
            <select id="facilityLevelWithoutProgram" ui-select2 class="input-large" ng-model="filter.facilityLevel" ng-change="notifyFilterChanged('facility-level-changed');">
                <option ng-repeat="level in facilityLevels | orderBy: 'display_order'" ng-selected="filter.facilityLevel == level.id" value="{{ level.id }}">{{level.name}}</option>
            </select>
        </div>
    </div>
</script>

<script type="text/ng-template" id="filter-product-category-without-program-template">
    <div>
        <label for="productCategory" class="labels" openlmis-message="label.product.category"><span ng-show="requiredFilters.productCategory" class="label-required">*</span></label>
        <div>
            <select id="productCategoryWithoutProgram" ui-select2 class="input-large" ng-model="filter.productCategory" ng-change="notifyFilterChanged('product-category-changed');">
                <option  ng-repeat="option in productCategories" value="{{ option.id }}" ng-selected="option.id == filter.productCategory">{{ option.name }}</option>
            </select>
        </div>
    </div>
</script>

<script type="text/ng-template" id="filter-product-without-description-and-program-template">
    <div>
        <label for="product" class="labels" ><span openlmis-message="label.product"></span><span ng-show="requiredFilters.product" class="label-required">*</span></label><div>
        <select id="product" ui-select2 class="input-large" ng-model="filter.product" ng-change="notifyFilterChanged('product-changed');">
            <option ng-repeat="option in products | filter:productCFilter" value="{{ option.id }}" ng-selected="filter.product == option.id">{{ option.name }}</option>
        </select>
    </div>
    </div>
</script>

<script type="text/ng-template" id="filter-product-without-description-and-without-program-template">
    <div>
        <label for="product" class="labels" ><span openlmis-message="label.product"></span><span ng-show="requiredFilters.product" class="label-required">*</span></label><div>
        <select id="product" ui-select2 class="input-large" ng-model="filter.product" ng-change="notifyFilterChanged('product-changed');">
            <option ng-repeat="option in products | filter:productCFilter" value="{{ option.id }}" ng-selected="filter.product == option.id">{{ option.name }}</option>
        </select>
    </div>
    </div>
</script>
