body {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    /*font-size: 81.25%;*/
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    color: rgba(0,0,0,0.87);
    background-color: #EAEAEA;
}

 g[class*="-creditgroup"] {
     display: none !important;
}
md-list.md-dense md-list-item, md-list.md-dense md-list-item .md-list-item-inner {
     min-height: 30px;
 }

a.filter-btn {
   color:#555 !important;
    font-size:14px !important;
    padding:0px 4px !important;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    background-color: #EEEEEE;
    border: 1px solid #ccc;
}

a.filter-btn-active{
    color:#fff !important;
    font-weight: bold;
    background: #26a69a;

}
.md-toolbar-tools a{
    font-size:13px ;
}
.row{
    margin-bottom: 0px !important;
}

.card {
    margin-bottom: 0px !important;
}
.card .card-content{
    padding:10px !important;
}
.tat-group{
    font-weight: bolder;
}
.tat-cr{
    color: #01B8AA;
}
.tat-rp{
    color: #F2C80F;
}

.tat-pd{
    color: #FD625E;
}

.tat-group-desc {
    font-size: 10px !important;
    font-weight: normal !important;
}
.datepicker{
    color: #26a69a;
}
