<style>
    .table-bordered{
    border:1px solid #ddd;border-collapse:collapse !important;
    }

</style>

<div ng-hide="geoLevel" openlmis-message="msg.loading"></div>
<div xmlns="http://www.w3.org/1999/html" tab-scroll>

    <div ng-hide="geoLevel.id"><h2 id="addNewGeoZoneHeader">Add Geographic Level</h2></div>
    <div ng-show="geoLevel.id"><h2 id="editGeoZoneHeader">Edit Geographic Level</h2></div>


    <form id="create-role" name="geographicLevelForm" novalidate class="app-form">

        <div>
            <div class="x_panel">
                <div class="x_content">

                    <form class="form-horizontal form-label-left">

                        <div>
                            <fieldset class="form-group">
                                <label for="code" openlmis-message="label.code">
                                    <span class="label-required"> *</span>

                                </label>
                                <input type="text" class="form-control" id="code" name="code"
                                       ng-model="geoLevel.code"
                                       placeholder="" ng-required="true">

                                 <span class="field-error" ng-show="!geoLevel.code && showError"
                                       openlmis-message="missing.value"></span>
                            </fieldset>
                            <br/>

                            <fieldset class="form-group">
                                <label for="name" openlmis-message="label.name">
                                    <span class="label-required"> *</span>

                                </label>

                                <input type="text" class="form-control" id="name" name="name"
                                       ng-model="geoLevel.name"
                                       placeholder="" ng-required="true">
                                    <span class="field-error" ng-show="!geoLevel.name && showError"
                                          openlmis-message="missing.value"></span>

                            </fieldset>
                            <br/>
                            <form class="form-horizontal">
                                <div class="row-fluid">
                                    <div class="span2">
                                        <div class="form-group">
                                            <label for="geoLevelNumber">Level Number</label>
                                            <input type="text" class="form-control" id="geoLevelNumber"
                                                   ng-required="true"
                                                   ng-model="geoLevel.levelNumber" numeric-validator="positiveInteger"
                                                   placeholder="">
                                            <span class="field-error" ng-show="!geoLevel.levelNumber && showError"
                                                  openlmis-message="missing.value"></span>

                                        </div>
                                    </div>

                                </div>
                            </form>
                            <br/>

                        </div>
                    </form>

                </div>
            </div>
        </div>


        <div class="sidebar-footer" style="width:90%;height:50px;padding:7px 9px 3px 10px">
            <div style="float:left">
                <input id="saveButton" type="button" class="btn btn-primary save-button" openlmis-message="button.save"
                       ng-click="save()"/>
                <input id="cancelButton" type="button" class="btn btn-primary btn-cancel save-button"
                       openlmis-message="button.cancel" ng-click="cancel();"/>
            </div>
            <div class="toolbar-error" id="saveFailMessage" openlmis-message="error" ng-show="error"></div>
        </div>
    </form>
</div>

