<div>
    <h2><span>Initiate Commodity Report</span></h2>

    <div ng-show="programs.length > 1">
        <div class="row-fluid">
            <div class="span12">
                <label>Program</label>
            </div>
        </div>
        <div class="row-fluid">
            <select ui-select2
                    id="programList" class="span3"
                    ng-model="filter.program"   ng-change="onProgramChanged()">
                <option value="{{program.id}}" ng-repeat="program in programs">{{program.name}}</option>
            </select>
        </div>
    </div>
    <div ng-show="programs.length == 1">
        <div class="info-box">
            <strong><span>Program</span>:</strong>
            <span ng-bind="programs[0].name"></span>
            <div class="padding2px"></div>
        </div>
    </div>


  <!--  <div class="row-fluid">
        <div class="span12">
            <label>Facility Name</label>
        </div>
    </div>-->
  <!--  <div class="row-fluid">
        <select ui-select2
                id="facility" class="span3"
                ng-model="filter.facility"  ng-change="onFacilityChanged()">
            <option value="{{facility.id}}" ng-repeat="facility in facilities">{{facility.name}}</option>

        </select>
    </div>
-->
    <div ng-show="programs.length == 1">
        <div class="info-box">
            <strong><span>Facility</span>:</strong>

            <span ng-bind="facilities.name" ng-model="filter.facility"></span>

            <div class="padding2px"></div>
        </div>
    </div>


    <div class="row-fluid" ng-show="facilities.name">
        <div class="row-fluid init-rnr-grid">
            <div class="span6">
                <div class="gridStyle small" ng-grid="periodGridOptions"
                     ng-show="!(periodGridData.length == 0)"></div>
                <div
                        ng-show="periodGridData == undefined || periodGridData.length == 0">
                    <span>No pending Periods</span>
                </div>
            </div>
        </div>
    </div>


    <div class="row-fluid" ng-show="error">
        <div class="span12">
            <div class="alert alert-error" id="saveSuccessMsgDiv"
                 openlmis-message="error" ng-show="error"></div>
        </div>
    </div>

</div>