body {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    /*font-size: 81.25%;*/
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    color: rgba(0,0,0,0.87);
    background-color: transparent;
}

 g[class*="-creditgroup"] {
     display: none !important;
}
md-list.md-dense md-list-item, md-list.md-dense md-list-item .md-list-item-inner {
     min-height: 30px;
 }

a.filter-btn {
   color:#555 !important;
    font-size:14px !important;
    padding:0px 4px !important;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    background-color: #EEEEEE;
    border: 1px solid #ccc;
}

a.filter-btn-active{
    color:#fff !important;
    font-weight: bold;
    background: #26a69a;

}
.md-toolbar-tools a{
    font-size:13px ;
}
