<div class="body" >
    <h2>{{workSheet.testType.name}} WORKSHEET</h2>
    <div class="row-fluid" >
                <table border="1" cellpadding="8" align="center" width="100%">
                        <tr>
                                <td style="width:20%">Lab:</td>
                                <td>{{workSheet.laboratory.name}}</td>
                                <td style="width:20%">Batch Number:</td>
                                <td>{{workSheet.workSheetNumber}}</td>
                       </tr>
                    <tr>
                        <td style="width:20%">Test Type</td>
                        <td>{{workSheet.testType.name}}</td>
                        <td style="width:20%">Total Samples:</td>
                        <td>{{sampleCount}}</td>
                    </tr>
                    <tr>
                        <td style="width:20%">Prepared By:</td>
                        <td style="width:30%">{{workSheet.creator.lastName}},{{workSheet.creator.firstName}}</td>
                        <td style="width:20%">Date Prepared:</td>
                        <td style="width:30%">{{workSheet.createdDate|date:"yyyy-MM-dd HH:mm:ss"}}</td>
                    </tr>
                </table>
                <br/>
                <table border="1" cellpadding="8" align="center" width="100%">
                    <tr ng-repeat="row in workSheet.samples">
                        <td colspan="8" ng-repeat="col in row" style="text-align: center;">
                            <io-barcode  code="{{col.labNumber}}" type="{{ type }}" options="options"></io-barcode>
                            <div >
                                {{col.patientId| patientFilter}}
                            </div>
                        </td>
                    </tr> 
                </table>
        </div>
</div>

