<div class="body">
        <div class="row-fluid" >
                <h2>HIV VL SAMPLE</h2>
                <table border="1" cellpadding="8" align="center" width="100%">
                        <tr>
                                <td style="width:30%">Lab Number</td>
                                <td>
                                        <io-barcode  code="{{sample.labNumber}}" type="{{ type }}" options="options"></io-barcode>
                                </td>
                       </tr>
                        <tr>
                                <td style="width:30%"> PatientID</td>
                                <td>{{sample.patientId| patientFilter}}</td>
                       </tr>
                        <tr>
                                <td style="width:30%"> Facility</td>
                                <td>{{sample.facility}}</td>
                       </tr>
                        <tr>
                                <td style="width:30%"> District</td>
                                <td>{{sample.district}}</td>
                       </tr>
                        <tr>
                                <td style="width:30%"> Region</td>
                                <td>{{sample.region}}</td>
                       </tr>
                </table>
                <br />
                <table ng-show="sample.results !== undefined" border="1" cellpadding="8" align="center" width="100%">
                    <tr ng-repeat="r in sample.results">
                       <td>
                           {{r.result}}&nbsp;&nbsp;{{r.unit}}
                       </td>
                        <td>
                            Result Date: {{r.resultDate | date:'dd/MM/yyyy'}}
                        </td>
                    </tr>

                </table>


        </div>
</div>

