
<div class="manage-nav" ng-controller="ManageMenuController">
  <ul class="clearfix">

      <li ng-show="hasPermission('MANAGE_USERS')" ng-class="facilitySelected">
      <a id="facility-tab" href="/public/pages/admin/facility/index3.html"
         >Facility</a>
    </li>

      <li ng-show="hasPermission('MANAGE_USERS')" ng-class="userSelected">
      <a id="user-tab" href="/public/pages/admin/user/index.html"
         openlmis-message="menu.header.users"></a>
    </li>

      <li ng-show="hasPermission('MANAGE_SUPERVISORY_NODE')" ng-class="supervisoryNodeSelected">
          <a id="supervisory-node-tab" href="/public/pages/admin/supervisory-node/index2.html"
                  >Referral LABS</a>
      </li>

      <li ng-show="hasPermission('MANAGE_REQUISITION_GROUP')" ng-class="requisitionGroupSelected">
          <a id="requisition-group-tab" href="/public/pages/admin/requisition-group/index2.html"
                  >Requisition Group</a>
      </li>

      <li ng-show="!hasPermission('MANAGE_ACCOUNT_PACKAGES')" ng-class="packageSelected">
      <a id="account-tab" href="/public/pages/account-package/index.html"
              >Account Package</a>
    </li>
      <li ng-show="!hasPermission('MANAGE_CLIENT_TYPES')" ng-class="clientTypeSelected">
      <a id="client-type-tab" href="/public/pages/client-type/index.html"
              >Client Type</a>
    </li>
      <li ng-show="hasPermission('MANAGE_ROLES')" ng-class="roleSelected">
      <a id="role-tab" href="/public/pages/role/index.html" openlmis-message="menu.header.roles"></a>
    </li>
      <li ng-show="hasPermission('MANAGE_RIGHTS')" ng-class="rightsSelected">
      <a id="right-tab" href="/public/pages/admin/rights/index.html"
              >Rights</a>
    </li>

      <li ng-show="hasPermission('MANAGE_SCHEDULE')" ng-class="scheduleSelected">
      <a id="schedule-tab" href="/public/pages/admin/schedule/index.html"
              >Schedule</a>
    </li>
      <li ng-show="hasPermission('MANAGE_GEO_LEVELS')" ng-class="geoLevelSelected">
      <a id="geo-level-tab" href="/public/pages/admin/geo-level/index.html"
              >Geographic Levels</a>
    </li>
      <li ng-show="hasPermission('MANAGE_GEO_ZONES')" ng-class="geoZoneSelected">
      <a id="geoZoneTab" href="/public/pages/admin/geo-zone/index.html"
         openlmis-message="menu.header.geographic.zones"></a>
    </li>

      <li ng-show="hasPermission('MANAGE_PRODUCT')" ng-class="productSelected">
      <a id="productTab" href="/public/pages/admin/product/index2.html"
              >Product</a>
      </li>

      <li ng-show="hasPermission('MANAGE_FACILITY_APPROVED_PRODUCT')" ng-class="facilityApprovedProductSelected">
          <a id="facilityApprovedProductTab" href="/public/pages/admin/facility-approved-product/index.html"
             openlmis-message="header.facility.approved.products"></a>
      </li>


      <li ng-show="!hasPermission('MANAGE_SMS')" ng-class="smsSelected">
      <a id="smsTab" href="/public/pages/admin/sms/index.html"
              >sms</a>
    </li>

      <li ng-show="!hasPermission('MANAGE_EXTENSIONS')" ng-class="extensionNumberSelected">
      <a id="extensionNumberTab" href="/public/pages/admin/extension-number/index.html"
              >Extension Number</a>
    </li>

      <li ng-show="!hasPermission('MANAGE_EXTENSIONS')" ng-class="landingPageSelected">
          <a id="landingPageTab" href="/public/pages/admin/landing-page/index.html"
                  >Landing Page</a>
      </li>


      <li ng-class="regimenSelected">
          <a id="landingPageTab" href="/public/pages/admin/regimen/index.html"
                  >Regimen</a>
      </li>


  </ul>
</div>
