<div layout="column" layout-fill>
    <div flex="100" layout="row" layout-fill>
                <md-card flex="20">
                </md-card>
                <md-card flex="10">
                    <div  >
                        <year-filter default="defaultYear" cm-model="filter.year" range="2"
                                     on-change="filterChange(filter)"></year-filter>
                    </div>
                </md-card>
                <!-- Month-->
                <md-card flex="70">
                     <month-filter default="defaultMonth" cm-model="filter.month"
                                      on-change="filterChange(filter)"></month-filter>
                </md-card>
        <!--</md-card>-->
    </div>
    <div flex="100" layout="row" layout-fill>
        Lab
    </div>
</div>
