<script type="text/ng-template" id="filter-map-template">
    <div id="container"></div>
</script>

<script type="text/ng-template" id="filter-year-template">
        <span ng-repeat="y in years" ng-class="{'year-selected':(y === year)}"><a href=""
                                                                                  ng-click="setYear(y)">{{y}}</a>
       |&nbsp;
        </span>
    <!--</div>-->
</script>
<script type="text/ng-template" id="filter-month-template">
        <span ng-repeat="m in months" ng-class="{'month-selected':(m.id === month)}"><a href=""
                                                                                        ng-click="setMonth(m.id)">{{m.name}}</a>
        |&nbsp;
        </span>
   <!-- </div>-->
</script>

<script type="text/ng-template" id="filter-period-template">
    <div id="perion">
        <span ng-repeat="p in periods" ng-class="{'period-selected':(p.id === period)}"><a href=""
                                                                                           ng-click="setPeriod(p.id)">{{p.name}}</a>&nbsp;|&nbsp;</span>
    </div>
</script>
<script type="text/ng-template" id="filter-location-template">


<div>
    <select ui-select2="{width: '5%'}"  style="background-color: #F1F1F1"
            name="lab" ng-model="location" ng-class="{'location-selected':(item.id === location)}"
    ng-options="item.id as item.name for item in locations" ng-selected="setLocation(location)">
        <option value="">{{item}}</option>
    </select></div>

</script>


