<div class="col s12">
    <div  class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content row">
                <div  class="col s12 m12 l2">
                    <div class="input-group">
                        <select ng-model="lab" class="form-control" ng-change="labChange()"
                                style="border:0px; border-radius:0px;border-bottom:1px solid #9e9e9e;box-shadow:none">
                            <option  value="%">All Labs</option>
                            <option ng-repeat="r in labs" value="{{r.name}}">{{r.name}}</option>
                        </select>
                        <span class="input-group-addon" style="border:0px; border-bottom:0px solid #9e9e9e;border-radius:0px;background-color: transparent">&nbsp;Tanzania &nbsp;</span>
                    </div>
                </div>
                <div class="col s12 m12 l6" >
                    <div class="row" style="margin-bottom:8px !important;">
                        <div class="col-md-1" style="color:#555;font-weight: bold">Year:</div>
                        <div class="col-md-11">
                            <year-filter default="defaultYear" cm-model="filter.year" range="3"
                                            on-change="filterChange(filter)"></year-filter>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-1" style="color:#555;font-weight: bold">Month:</div>
                        <div class="col-md-11">
                            <month-filter default="defaultMonth" cm-model="filter.month"
                                            on-change="filterChange(filter)"></month-filter>
                        </div>
                    </div>

                </div>
                <div  class="col s12 m12 l4">
                    <div class="row">
                        <div class="col s5">
                            <input placeholder="Start Date" ng-model="fStartDate" type="text" class="datepicker"/>
                        </div>
                        <div class="col s5">
                            <input placeholder="End Date" ng-model="fEndDate" type="text" class="datepicker"/>
                        </div>
                        <div class="col s2">
                            <a class="waves-effect waves-light btn btn-default" ng-click="searchByDate()"><i class="material-icons white-text ">search</i></a>
                        </div>


                    </div>
                    <script type="text/javascript">
                        $('.datepicker').pickadate({
                            selectMonths: true, // Creates a dropdown to control month
                            selectYears: 15, // Creates a dropdown of 15 years to control year,
                            today: 'Today',
                            clear: 'Clear',
                            close: 'Ok',
                            closeOnSelect: false // Close upon selecting a date,
                        });
                    </script>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content row">
                    <img src="../vldashboard/img/loading.gif" ng-show="tatIsLoading" width="40" align="middle">
                    <div ng-if="!tatIsLoading">
                        <div class="col s12"  fusioncharts
                             width="100%"
                             height="120"
                             type="hlineargauge"
                             dataSource="{{tatDataSource}}" >
                        </div>
                        <div class="col s12">
                            <div  class="row" >
                                <div class="col s12 m3"><span class="tat-group tat-cr">c-r: <span class="tat-group-desc">Sample collection to receipt</span></span></div>
                                <div class="col s12 m3"><span class="tat-group tat-rp">r-p: <span class="tat-group-desc">Sample receipt to processing</span></span></div>
                                <div class="col s12 m3"><span class="tat-group tat-pd">p-d: <span class="tat-group-desc">Sample processing to dispatch</span></span></div>
                                <div class="col s12 m3"><i class="material-icons tat-group tat-cd" ng-style="{color: pointerColor}" aria-hidden="true">arrow_drop_down</i> <span class="tat-group-desc">Sample collection to dispatch</span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <img src="../vldashboard/img/loading.gif" ng-show="trendIsLoading" width="40" align="middle">
                    <div ng-show="!trendIsLoading" fusioncharts
                         width="100%"
                         height="400"
                         type="stackedcolumn{{chartMode}}"
                         dataSource="{{testTrendsDataSource}}" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-content">
                    <img src="../vldashboard/img/loading.gif" ng-show="byGenderIsLoading" width="40" align="middle">
                    <div ng-show="!byGenderIsLoading" fusioncharts
                         width="600"
                         height="400"
                         type="stackedcolumn{{chartMode}}"
                         dataSource="{{byGenderDataSource}}" >
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-content">
                    <img src="../vldashboard/img/loading.gif" ng-show="byAgeIsLoading" width="40" align="middle">
                    <div ng-show="!byAgeIsLoading" fusioncharts
                         width="600"
                         height="400"
                         type="stackedcolumn{{chartMode}}"
                         dataSource="{{byAgeDataSource}}" >
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" >
        <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-content">
                    <img src="../vldashboard/img/loading.gif" ng-show="byResultIsLoading" width="40" align="middle">
                    <div ng-show="!byResultIsLoading" fusioncharts
                         width="600"
                         height="400"
                         type="pie{{chartMode}}"
                         dataSource="{{vlOutComesDataSource}}" >
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-content">
                    <img src="../vldashboard/img/loading.gif" ng-show="byJustificationIsLoading" width="40" align="middle">
                    <div ng-show="!byJustificationIsLoading" fusioncharts
                         width="600"
                         height="400"
                         type="pie2d"
                         dataSource="{{justficationForTestDataSource}}" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <img src="../vldashboard/img/loading.gif" ng-show="byRegionIsLoading" width="40" align="middle">
                    <div ng-if="!byRegionIsLoading" fusioncharts
                         width="100%"
                         height="400"
                         type="msstackedcolumn2dlinedy"
                         dataSource="{{byRegionDataSource}}" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>