<ul id="slide-out" class="side-nav">
    <li>
        <a href="/#!/summary" style="background-color: #EAEAEA;">
            <img src="img/vlimslogo1.png" style="width:100%" />
        </a>
        <br/>
    </li>
    <li><a href="/#!/summary" class="teal-text darken-4-text"><i class="small material-icons">insert_chart</i>Summary</a></li>
    <li><a href="/#!/trend" class="teal-text darken-4-text"><i class="small material-icons">show_chart</i>Trend</a></li>
    <li><a href="/#!/lab" class="teal-text darken-4-text"><i class="small material-icons">pie_chart</i>Lab Performance</a></li>
    <li><a href="/#!/partners" class="teal-text darken-4-text"><i class="small material-icons">people</i> Partners</a></li>
    <li><a href="/#!/contact" class="teal-text darken-4-text"><i class="small material-icons">contacts</i> Contact Us</a></li>
    <li><a href="http://evlims.nacp.go.tz/public/pages/login.html" class="teal-text darken-4-text"> <i class="small material-icons">power_settings_new</i>Login</a></li>

</ul>

<nav>
    <div class="nav-wrapper white ">
            <a href="/#!/summary" class="brand-logo">
                <img src="img/vlimslogo1.png" />
                <!--<h5 class="teal-text darken-4-text" style="text-align: center">&nbsp;&nbsp;&nbsp;National Viral Load Dashboard</h5>-->
                </a>
            <a href="#" data-activates="slide-out" class="left button-collapse show-on-medium-and-down">
                <i class="material-icons teal-text darken-4-text">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down ">
                <li><a href="/#!/summary" class="teal-text darken-4-text">Summary</a></li>
                <li><a href="/#!/trend" class="teal-text darken-4-text">Trend</a></li>
                <li><a ui-sref="vl.lab" class="teal-text darken-4-text">Lab Performance</a></li>
                <li><a href="/#!/partners" class="teal-text darken-4-text">Partners</a></li>
                <li><a href="/#!/contact" class="teal-text darken-4-text">Contact Us</a></li>
                <li><a href="http://evlims.nacp.go.tz/public/pages/login.html" class="teal-text darken-4-text">Login</a></li>

            </ul>

        </div>
</nav>
<div class="row">
    <div ui-view></div>
</div>
<script>
    $(document).ready(function(){
        $(".button-collapse").sideNav();

    });
</script>


