<div layout="column" layout-fill>
    <div flex="100" layout="row" layout-fill>
                <md-card flex="20">
                </md-card>
    </div>
    <div flex="100" layout="row" layout-fill>
        <md-card flex="50" layout-align="center">
            <md-card-content>
                <md-progress-circular ng-show="trendIsLoading" md-mode="indeterminate"></md-progress-circular>
                <div ng-if="!trendIsLoading && chartMode =='3d'" fusioncharts
                     width="100%"
                     height="400"
                     type="stackedcolumn3dlinedy"
                     dataSource="{{byYearTrendDataSource3d}}" >
                </div>
                <div ng-if="!trendIsLoading && chartMode =='2d'" fusioncharts
                     width="100%"
                     height="400"
                     type="msstackedcolumn2dlinedy"
                     dataSource="{{byYearTrendDataSource2d}}" >
                </div>

            </md-card-content>
        </md-card>
        <md-card flex="50" >
            <md-card-content>
                <md-progress-circular ng-show="suppressionTrendIsLoading" md-mode="indeterminate"></md-progress-circular>
                <div ng-show="!suppressionTrendIsLoading" fusioncharts
                     width="600"
                     height="400"
                     type="msline"
                     dataSource="{{suppressionTrendDataSource}}" >
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
