<!--
* Electronic Logistics Management Information System (eLMIS) is a supply chain management system for health commodities in a developing country setting.
*
* Copyright (C) 2015 Clinton Health Access Initiative (CHAI)/MoHCDGEC Tanzania.
*
* This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.   See the GNU Affero General Public License for more details.
*
-->
<style>
    /*   .box-header {
           height: 40px;
           border: 1px solid #ddd;
           margin-bottom: -1px;
           padding: 10px;
           background-color: #fafafa;
           background-image: -moz-linear-gradient(top, #fafafa, #efefef);
           background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
           background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
           background-image: -o-linear-gradient(top, #fafafa, #efefef);
           background-image: linear-gradient(to bottom, #fafafa, #efefef);
           filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
           -webkit-box-shadow: none;
           -moz-box-shadow: none;
           box-shadow: none;
           -webkit-border-radius: 2px 2px 0px 0px;
           -moz-border-radius: 2px 2px 0px 0px;
           border-radius: 2px 2px 0px 0px;
           overflow: hidden;
       }*/
    .box-header {
        height: 20px;
        border: 1px solid #ddd;
        margin-bottom: -1px;
        padding: 10px;
        background-color: #fafafa;
        background-image: -moz-linear-gradient(top, #fafafa, #efefef);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
        background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
        background-image: -o-linear-gradient(top, #fafafa, #efefef);
        background-image: linear-gradient(to bottom, #fafafa, #efefef);
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 2px 2px 0px 0px;
        -moz-border-radius: 2px 2px 0px 0px;
        border-radius: 2px 2px 0px 0px;
        overflow: hidden;
    }

    tr.odd td {
        background: #e1f5f8 !important;
    }

    tr.even td {
        background: #c7e5e7 !important;
    }

    th {

        padding-top: 0px !important;
        width: 2% !important;
    }

    a {
        position: relative;
    }

    #tableRows td {

        padding-top: 0px !important;

    }

    #header th {
        height: 40px !important;
        font-size: 12px !important;

    }

    .popover {
        text-decoration: none;
        color: black;
        position: absolute;
        left: 100%;
        top: 0;
        display: block;
        padding: 0 40px;
        max-width: 150px;
    }

    .popover span {
        display: block;
        font-weight: 700;
    }

    h4 {
        text-decoration: underline;
    }

    tr th {
        height: 40px !important;
    }

    input, .uneditable-input {
        width: 180px !important;
    }
</style>


<div class="row-fluid">
    <div class="row-fluid">

        <div class=" ">

            <h2><i class="icon-edit"></i><span class="break">HVL Regional By Age Summary Report</span></h2>

            <div class="box-icon  pull-right">
                <a ng-click="section(0)" ng-show="show(1)" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                <a ng-click="section(1)" ng-show="show(0)" class="btn-minimize"><i class="icon-chevron-down"></i></a>
                <a id="pdf-button" ng-show="filterForm.$valid" href="" ng-click="exportReport('PDF')"
                   class='btn-small btn-info'>PDF</a>
                <a id="xls-button" ng-show="filterForm.$valid" href="" ng-click="exportReport('XLS')"
                   class='btn-small btn-info'><span>Excel</span></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div>
            <div class="row-fluid">
                <div style="">
                    <div class="app-form">

                        <form ng-submit="filterGrid()" name="filterForm" novalidate>
                            <div filter-container class="clearfix">

                                <!--      <product-without-description-and-without-program-filter class="form-cell horizontalFilters" required="false"></product-without-description-and-without-program-filter>

                                      <vaccine-facility-by-supervisory-node-without-program-Filter class="form-cell horizontalFilters"
                                                                                                   required="true"></vaccine-facility-by-supervisory-node-without-program-Filter>
      -->
                                <div class="form-cell horizontalFilters">
                                    <label for="product" class="labels"><span>Start Age</span><span
                                            ng-show="requiredFilters.status" class="label-required">*</span></label>

                                    <div>
                                        <select id="startAge" ui-select2 class="input-large" ng-model="filter.startAge"
                                                ng-change="OnFilterChanged()">
                                            <option value="">Select Start Age</option>
                                            <option ng-repeat="option in startAges" value="{{ option }}"
                                                    ng-selected="filter.startAge == option">{{ option }}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-cell horizontalFilters">
                                    <label for="product" class="labels"><span>End Age</span><span
                                            ng-show="requiredFilters.status" class="label-required">*</span></label>

                                    <div>
                                        <select id="endAge" ui-select2 class="input-large" ng-model="filter.endAge"
                                                ng-change="OnFilterChanged()">
                                            <option value="">Select End Age</option>
                                            <option ng-repeat="option in endAges" value="{{ option }}"
                                                    ng-selected="filter.endAge == option">{{ option }}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-cell horizontalFilters">
                                    <label for="product" class="labels"><span
                                            openlmis-message="label.status"></span><span
                                            ng-show="requiredFilters.status" class="label-required">*</span></label>

                                    <div>
                                        <select id="product" ui-select2 class="input-large" ng-model="filter.status"
                                                ng-change="OnFilterChanged()">
                                            <option value="">Select Status</option>
                                            <option ng-repeat="option in statusFilter " value="{{ option.name }}"
                                                    ng-selected="filter.status == option.name">{{ option.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-cell horizontalFilters">
                                    <label for="startTime" class="labels">
                                        <span>Start Date</span>
                                        <span class="label-required"> *&nbsp;</span>

                                    </label>

                                    <div class="form-field">
                                        <input name="startTime" id="startTime" type="text"
                                               ui-date="{maxDate:'today', dateFormat: 'dd/mm/yy', changeYear: false}"
                                               ui-date-format
                                               ng-model="filter.startTime"
                                               ng-change="OnFilterChanged()"/>

                                    </div>
                                </div>


                                <div class="form-cell horizontalFilters">
                                    <label for="endTime" class="labels">
                                        <span>End Date</span>
                                        <span class="label-required"> *&nbsp;</span>
                                    </label>

                                    <div class="form-field">
                                        <input name="endTime" id="endTime" type="text"
                                               ui-date="{maxDate:'today', dateFormat: 'dd/mm/yy', changeYear: true}"
                                               ui-date-format
                                               ng-model="filter.endTime"
                                               ng-change="OnFilterChanged()"
                                               ng-disabled="!filter.startTime"/>

                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix">
                        <br>
                    </div>

                    <div class="row-fluid">
                        <div class="pull-right legend">Page: {{tableParams.page}}, Showing records {{ ((tableParams.page
                            - 1) *
                            tableParams.count) + 1 }} to {{ (tableParams.page ) * tableParams.count }} of
                            {{tableParams.total}}
                        </div>



                    </div>


                    <div class="content-body">

                        <div class="clearfix"><br/></div>

                        <table client-side-sort-pagination class="table table-bordered"
                               ng-show="data == undefined || data.length == 0">
                            <tr>
                                <td>No data to show under selected filters</td>
                            </tr>
                        </table>

                        <div class="row-fluid rnr-table" scrollable ng-show="data.length >0">

                            <div class="rnr-table">
                                <table id="podTable4" class="table table-bordered" ng-table="tableParams">
                                    <thead>
                                    <tr id="header">
                                        <th style="max-width: 2px" colspan="1">#</th>
                                        <th colspan="1">Region</th>
                                        <th colspan="1">District</th>
                                        <th colspan="1">Facility Name</th>
                                        <th colspan="2">Male</th>
                                        <th colspan="2">Female</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>< 1000 Copies/ML</th>
                                        <th>>= 1000 Copies/ML</th>
                                        <th>< 1000 Copies/ML</th>
                                        <th>>= 1000 Copies/ML</th>
                                    </tr>


                                    </thead>

                                    <tbody>

                                    <tr ng-repeat="row in datarows" ng-class-odd="'odd'" ng-class-even="'even'">
                                        <td style="width:2% !important; text-align: left !important;">{{ row.no }}</td>
                                        <td style="width:30%" sortable="age">
                                            {{ datarows[$index-1].region == datarows[$index].region ?'':row.region }}

                                        </td>
                                        <td style="width:40%">
                                            {{ datarows[$index-1].district == datarows[$index].district ?'':row.district
                                            }}

                                        </td>
                                        <td style="width:20% !important;" sortable="facilityName">
                                            {{ row.facilityName}}
                                        </td>

                                        <td
                                                sortable=" ">{{row.maleResultLess }}
                                        </td>

                                        <td style="width:10% !important;"
                                            sortable="district">
                                            {{ row.maleResult}}
                                        </td>

                                        <td style="width:10% !important;"
                                            sortable="district">
                                            {{ row.femaleResultLess}}
                                        </td>
                                        <td style="width:10% !important;"
                                            sortable="district">
                                            {{ row.femaleResult}}
                                        </td>


                                    </tr>

                                    </tbody>
                                </table>
                                <!--   <pagination total-items="dTotalItems" page="dCurrentPage" max-size="5"
                                               items-per-page="dPagination.limit"
                                               direction-links="false" class="pagination-sm"></pagination>-->
                            </div>
                        </div>

                        <div class="clear-both"><br/></div>


                    </div>


                </div>
            </div>

        </div>
    </div>
</div>