<!DOCTYPE html>

<style>
    .red {
        color: red;
    }

    .black {
        color: black;
    }

    .yellow {
        color: yellow;
    }

    .green {
        color: green;
    }

    #rows td {
        text-align: right;
    }
    td.cell-input.col-product, th.col-product {
        width: 245px !important;
    }
    td.cell-input.col-maximumStock, th.col-maximumStock {
        width: 245px !important;
    }

    td.cell-input.col-reOrderLevel,th.col-reOrderLevel{
        width: 245px !important;
    }

    td.cell-input.col-quantityRequested,th.col-quantityRequested{
        width: 245px !important;
    }
    td.cell-input.col-stockAvailable,th.col-stockAvailable{
        width: 245px !important;
    }
    td.cell-input.col-stockAvailable,th.col-unit-measure{
        width: 100px !important;
    }
    hr{
      margin:0px !important;
    }

    .row-fluid{
       padding:15px 30px 10px 30px !important;
    }

</style>

<div class="clearfix"></div>
<div ng-form="sampleForm" name="sampleForm" auto-save-form="updateSample()">
    <!--<button ng-click="saveSample()">Save</button>-->
    <h2>Edit {{selectedTestType.name}} Sample
    <span style="float: right" ng-show="totalL">Sample Form # <Strong>{{totalL}}</Strong></span>
    </h2>
    <hr/>
    <div class="row-fluid" style="background:#EEECE1">

        <div class="span6">
            <fieldset class="form-group" ng-class="{ 'has-error': sampleForm.facilityType.code.$invalid }">
                <label for='searchFacility'>Lab Name
                    <span class="label-required">*</span>
                </label>
                <select ng-if="homeFacility.facilityType.code==='HUB'" id="lab" name="lab"
                        ng-required="homeFacility.facilityType.code==='HUB'"
                        ui-select2 class="cel"
                        style="width: 90% !important;"
                        ng-model="sample.labId">
                    <option selected value="homeFacility.id">{{homeFacility.name}}</option>
                    <option ng-repeat="lab in labs" value="{{lab.id}}">{{lab.name}}</option>
                </select>
                <select ng-if="homeFacility.facilityType.code==='LAB'" id="lab" name="lab"
                        ng-required="homeFacility.facilityType.code==='LAB'"
                        ui-select2 class="cel"
                        style="width: 90% !important;"
                        ng-model="sample.labId">
                    <option selected  value="{{homeFacility.id}}">{{homeFacility.name}}</option>
                </select>
                <span class="field-error" ng-show="sampleForm.lab.$error.required && showError">Lab is required</span>
            </fieldset>
            <span ng-if="sampleForm.$dirty && sampleForm.$valid" class="help-block">Updating ...</span>

        </div>
        <div class="span6">
            <fieldset class="form-group" >
                <label for='facilityCode'>Received Date <span class="label-required">*</span>
                </label>
                <input
                        id="dateReceived"
                        class="receiveDate"
                        name="receiveDate"
                        ng-required="true"
                        ui-date="{ changeYear: true, maxDate:'today'}"
                        ng-model="sample.dateReceived"
                       />
                <span class="field-error" ng-show="sampleForm.receiveDate.$error.required && showError">Date received is required</span>

            </fieldset>
        </div>

    </div>
    <hr />
    <div class="row-fluid" style="background:#EEECE1">

        <div class="span6">
            <fieldset class="form-group" >
            <label for='searchFacility'>Facility Name
                <span class="label-required">*</span>
            </label>
                <div class="form-field autosuggest-input">
                    <div class="suggest-field" style="height:32px">
                        <input id="searchFacility" type="text" ng-change="showFacilitySearchResults()"
                               ng-model="query" maxlength="50"
                               style="height:20px !important"
                               openlmis-message="placeholder.facility.search" ng-hide="facilitySelected"/>

                        <div id="searchList" class="search-list" ng-show="query.length > 2" style="width:300px !important">
                            <ul>
                                <li ng-repeat="facility in filteredFacilityList">
                                    <a href="" id="result{{$index}}" ng-click="setSelectedFacility(facility)"
                                       ng-bind="facility.name"></a>
                                </li>
                                <li ng-show="hasSearch && facilityResultCount == 0">
                                    <a href="" openlmis-message="msg.no.matches|query"></a>
                                </li>
                            </ul>
                        </div>
                        <div ng-show="facilitySelected">
                            <span ng-bind="facilitySelected.name"></span>
                            <a id="clearNodeSearch" href="" class="clear-search" ng-click="clearSelectedFacility()"></a>
                        </div>
                    </div>
                    <div class="form-tip" openlmis-message="search.threeCharacters"></div>
                </div>
                <span class="field-error" ng-show="facilitySelected === undefined && showError">Facility is required</span>
                </fieldset>
        </div>

        <div class="span3">
            <fieldset class="form-group" >
            <label for='facilityCode'>Facility Code: </label>
            <span id="facilityCode" ng-show="facilitySelected !== undefined">{{facilitySelected.code}}</span>
</fieldset>
        </div>

        <div class="span3">
            <fieldset class="form-group" >
            <label for='facilityLevel'>Facility Level: </label>
            <span id="facilityLevel" ng-show="facilitySelected !== undefined">{{facilitySelected.facilityLevel}}</span>
                </fieldset>
        </div>
    </div>
    <hr/>
    <div class="row-fluid" style="background:#EEECE1">
        <div class="span3">
            <fieldset class="form-group" >
                <label for="region">Patient ID Number
                    <span class="label-required">*</span>
                </label>
                        <input ng-model="sample.patient.patientId" ng-value="{{sample.patient.patientId|patientFilter}}" name="patientIdNumber"  type="text" maxlength="17"
                               ng-required="true"/>

               <span class="field-error" ng-show="sampleForm.patientIdNumber.$error.required && showError" >Patient Id is required</span>
               <span class="field-error" ng-show="invalidPatientId && showError" >Invalid Patient Id submitted, you should enter full id (RR-DD-FFFF-PPPPPP)</span>
            </fieldset>
        </div>
        <div class="span2" >
            <fieldset class="form-group" >
                <label for="region">Gender
                    <span class="label-required"> *</span>
                </label>
                <select id="gender" name="gender" ng-required="true" ui-select2 class="cel"
                        ng-model="sample.patient.gender">
                                <option value="">Select gender</option>
                                <option>Male</option>
                                <option>Female</option>
                </select>
                <span class="field-error" ng-show="sampleForm.gender.$error.required && showError" >Gender is required</span>
            </fieldset>
        </div>
        <div class="span4">
            <fieldset class="form-group" >
                <label for="region">Date of Birth
                    <span class="label-required"> *</span>
                </label>
                <input ng-required="true" id="dateOfBirth" name="dob" rsmdatedropdowns
                       ng-model="sample.patient.dob">
                <span class="field-error" ng-show="sampleForm.dob.$error.required && showError" >Date of birth is required</span>
                <span class="field-error" ng-show="invalidDob && showError" >Invalid Date of Births</span>
            </fieldset>
        </div>
        <div class="span3">
            <fieldset class="form-group" >
                <label for="cellphone">Mobile Number
                    <!--<span class="label-required">*</span>-->
                </label>
                        <input ng-model="sample.patientPhoneNumber" name="cellphone" id="cellphone" type="text" maxlength="50"
                               />
            </fieldset>
        </div>
    </div>
    <hr/>
    <div class="row-fluid" style="background:#EEECE1">
        <!--<div class="span3" ng-show="facilitySelected == undefined">
            <fieldset class="form-group" >
                <label for="region">Region
                    <span class="label-required"> *</span>
                </label>
                <select  id="region" ui-select2
                        class="input-small" ng-required="true" name="region"
                        ng-change="GetDistricts()"
                        style="width: 70% !important;" ng-model="sample.regionId">
                    <option value="">-Select Region-</option>
                    <option ng-repeat="r in regions" value="{{r.id}}">{{r.name}}</option>
                </select>
                <span class="field-error" ng-show="sampleForm.region.$error.required && showError">Region is required</span>
            </fieldset>
        </div> -->
        <div class="span3">
            <fieldset class="form-group" >
                <label for='Region'>Region: </label>
                <span id="region"  ng-show="facilitySelected!==undefined">{{facilitySelected.location.region}}</span>
            </fieldset>
        </div>
        <!--<div class="span3" ng-show="facilitySelected==undefined">
            <fieldset class="form-group" >
                <label for="district">District
                    <span class="label-required"> *</span>
                </label>
                <select ng-disabled="sample.regionId == undefined" id="district" ui-select2
                        class="input-large" ng-required="true" name="district"
                        style="width: 70% !important;" ng-model="sample.geographicZoneId">
                    <option value="">-Select District-</option>
                    <option ng-repeat="d in districts" value="{{d.id}}">{{d.name}}</option>
                </select>
                <span class="field-error" ng-show="sampleForm.district.$error.required && showError">District is required</span>
            </fieldset>
        </div>-->
        <div class="span3">
            <fieldset class="form-group" >
                <label for='District'>District: </label>
                <span id="district"  ng-show="facilitySelected!==undefined" >{{facilitySelected.location.district}}</span>
            </fieldset>
        </div>
        <div class="span3">
            <fieldset class="form-group" >
                <label for="ward">Ward
                    <!--<span class="label-required"> *</span>-->
                </label>
                <input ng-model="sample.ward" name="ward" id="ward" type="text" maxlength="50"
                       />
            </fieldset>
        </div>
        <div class="span3">
            <fieldset class="form-group" >
                <label for="ward">Name of cell leader :
                    <!--<span class="label-required">*</span>-->
                </label>
                        <input ng-model="sample.nameOfCellLeader" name="identificationNumber" id="cell" type="text" maxlength="50"/>
            </fieldset>
        </div>

    </div>
    <hr/>
    <div class="row-fluid" style="background:#EEECE1">
        <div class="span3">
            <fieldset class="form-group" >
                <label for="ward">Does Client has TB?
                    <span class="label-required"> *</span>
                </label>
                        <input type="radio" ng-model="sample.patientHasTb" ng-value="true"> YES &nbsp; &nbsp;
                        <input type="radio" ng-model="sample.patientHasTb" ng-value="false"> NO
                        <span class="field-error" ng-show="sampleForm.patientHasTb.$error.required && showError">This field is required</span>
            </fieldset>
        </div>
        <div class="span3" ng-if="sample.patientHasTb">
            <fieldset class="form-group" >
                <label for="ward">If Yes,on treatment?
                    <span class="label-required">*</span>
                </label>
                      <input type="radio" ng-model="sample.patientUnderTbTreatment" ng-value="true"> YES &nbsp; &nbsp;
                      <input type="radio" ng-model="sample.patientUnderTbTreatment" ng-value="false"> NO
            </fieldset>
        </div>
        <div class="span3" ng-if="sample.patient.gender == 'Female'">
            <fieldset class="form-group" >
                <label for="ward">Client Pregnant?:
                    <span class="label-required">*</span>
                </label>
                     <input type="radio" ng-model="sample.patientIsPregnant" ng-value="true"> YES &nbsp; &nbsp;
                     <input type="radio" ng-model="sample.patientIsPregnant" ng-value="false"> NO&nbsp; &nbsp;
                     <input type="radio" ng-model="sample.patientIsPregnant" ng-value="null"> N/A
                     <span class="field-error" ng-show="sampleForm.patientIsPregnat.$error.required && showError">This field  is required</span>
            </fieldset>
        </div>
        <div class="span3"  ng-if="sample.patient.gender == 'Female'">
            <fieldset class="form-group" >
                <label for="ward">Client Breast Feeding?:
                    <span class="label-required">*</span>
                </label>
                     <input type="radio" ng-model="sample.patientIsBreastFeeding" ng-value="true"> YES &nbsp; &nbsp;
                     <input type="radio" ng-model="sample.patientIsBreastFeeding" ng-value="false"> NO
                     <span class="field-error" ng-show="sampleForm.patientIsBreastFeeding.$error.required && showError">This field is required</span>
            </fieldset>
        </div>
    </div>
    <hr/>
    <div class="row-fluid" style="background:#EEECE1">
        <div class="span3">
            <fieldset class="form-group" >
                <label for="sampleType">Type of Sample
                    <span class="label-required"> *</span>
                </label>
                <select id="sampleType" ui-select2
                        class="input-large" ng-required="true" name="sampleType"
                        style="width: 80% !important;" ng-model="sample.sampleTypeId">
                    <option value="">-Select Sample Type-</option>
                    <option ng-repeat="s in sampleTypes" value="{{s.id}}">{{s.name}}</option>
                </select>
                <span class="field-error" ng-show="sampleForm.sampleType.$error.required && showError">Sample type is required</span>
            </fieldset>
        </div>
        <div class="span4" >
            <fieldset class="form-group" >
                <label for="sampleType">Date of Sample Request
                    <span class="label-required"> *</span>
                </label>
                     <input
                             id="requestDate"
                             class="requestDate"
                             name="sampleRequestDate"
                             ng-required="true"
                             type="text"
                             ui-date="{dateFormat: 'dd/mm/yy', changeYear: true, maxDate:'today'}"
                             ng-model="sample.sampleRequestDate"
                             ui-date-format="yy-mm-dd"/>
                  <span class="field-error" ng-show="sampleForm.sampleRequestDate.$error.required && showError">Date of Sample Request is required</span>
                 </fieldset>
        </div>
    </div>
    <hr/>
    <div class="row-fluid" style="background:#DCE6F1">
        <div class="span3">
            <fieldset class="form-group" >
            <label for='art-regimen'>ART Regimen group </label>&nbsp;
                <select id="art-regimen"  ui-select2 class="cel"
                                ng-model="regimenGroupId"
                                style="width: 70% !important;"
                                ng-change="getRegimenLines()">
                    <option value="">Select ART Regimen</option>
                    <option ng-repeat="rg in regimenGroups" value="{{rg.id}}">{{rg.name}}</option>
                 </select>

                </fieldset>
        </div>
        <div class="span3" >
            <fieldset class="form-group" >
            <label for='regimen-line'>Regimen Line</label>&nbsp;

                <select id="regimen-line"  ui-select2 class="cel"
                        ng-model="regimenLineId"
                        name="regimenLine"
                        ng-change="getRegimens()"
                        style="width: 70% !important;">
                    <option value="">Select Regimen Line</option>
                    <option ng-repeat="rl in regimenLines" value="{{rl.id}}">{{rl.name}}</option>
                </select>
            </fieldset>
        </div>
        <div class="span3" >
            <fieldset class="form-group" >
                <label for='regimen'>Regimen</label>&nbsp;

                <select id="regimen"  ui-select2 class="cel"
                        ng-model="sample.patientRegimenId"
                        style="width: 70% !important;"
                        ng-change="">
                    <option value="">Select Regimen</option>
                    <option ng-repeat="r in regimens" value="{{r.id}}">{{r.name}}</option>
                </select>
            </fieldset>
        </div>
        <div class="span3" >
            <fieldset class="form-group" >
                <label for="adhrence">Drug Adherence
                    <!--<span class="label-required"> *</span>-->
                </label>
                <select id="adhrence" ui-select2
                        class="input-large"
                        style="width: 80% !important;" ng-model="sample.drugAdherenceId">
                    <option value="">-Select Adherence-</option>
                    <option ng-repeat="a in drugAdherence" value="{{a.id}}">{{a.name}}</option>
                </select>
                <!--<span class="field-error" ng-show="showError">Adherence is required</span>-->
            </fieldset>
        </div>
    </div>
    <hr/>
    <div class="row-fluid" style="background:#DCE6F1">
        <div class="span3">
            <fieldset class="form-group" >
                <label for="vlreason">Reasons for HVL Testing
                    <span class="label-required"> *</span>
                </label>
                <select id="vlreason" ui-select2
                        class="input-large" ng-required="true" name="vlReason"
                        style="width: 100% !important;" ng-model="sample.testReasonId">
                    <option value="">-Select Reason-</option>
                    <option ng-repeat="r in testingReasons" value="{{r.id}}">{{r.name}}</option>
                </select>
                <span class="field-error" ng-show="sampleForm.vlReason.$error.required && showError">Reason is required</span>
            </fieldset>

        </div>
        <div class="span3">
            <fieldset class="form-group" >
                <label for="reasonForRepeatTest">If repeated Test,Give Reason </label>
                <input  id="reasonForRepeatTest" ng-model="sample.reasonForRepeatTest" type="text" maxlength="50"/>
            </fieldset>
        </div>
        <div class="span3" >
            <fieldset class="form-group" >
                <label for="nameRequesting">Name of person requesting test
                    <!--<span class="label-required"> *</span>-->
                </label>
                <input  id="nameRequesting" ng-model="sample.nameOfPersonRequestingTest" type="text" maxlength="50"/>
             </fieldset>
        </div>
        <div class="span3" >
            <fieldset class="form-group" >
                <label for="cadre">Cadre
                    <!--<span class="label-required"> *</span>-->
                </label>
                 <input id="cadre"  ng-model="sample.cadreOfPersonRequestingTest" type="text" maxlength="50"/>
            </fieldset>
        </div>
    </div>
    <hr/>
    <div class="row-fluid" style="background:#DCE6F1">
        <div class="span3">
            <fieldset class="form-group" >
                <label for="cadre">Date of Sample Collection
                    <span class="label-required"> *</span>
                </label>
                <input
                        id="dateOfSampleCollection"
                        class="requestDate"
                        name="sampleCollectionDate"
                        ng-required="true"
                        type="text"
                        ui-date="{dateFormat: 'dd/mm/yy', changeYear: true, maxDate:'today'}"
                        ng-model="sample.dateOfSampleCollection"
                        ui-date-format="yy-mm-dd"/>
                <span class="field-error" ng-show="sampleForm.sampleCollectionDate.$error.required && showError">Date of sample collection is required</span>
                <span class="field-error" ng-show="invalidCollectionDate && showError">Sample Collection date can't be greater than received</span>
            </fieldset>
        </div>
        <div class="span3" >
            <fieldset class="form-group" >
                <label for="nameOfPhlebotomist">Name of Phlebotomist
                    <!--<span class="label-required"> *</span>-->
                </label>
                <input  ng-model="sample.nameOfPhlebotomist" id="nameOfPhlebotomist" type="text" maxlength="50"/>
             </fieldset>
        </div>
        <div class="span3" >
            <fieldset class="form-group" >
                <label for="cadre">Date of sample dispatch
                    <span class="label-required"> *</span>
                </label>
                <input
                        id="dateOfSampleDispatch"
                        class="requestDate"
                        name="sampleDispatchDate"
                        ng-required="true"
                        type="text"
                        ui-date="{dateFormat: 'dd/mm/yy', changeYear: true, maxDate:'today'}"
                        ng-model="sample.dateOfSampleDispatch"
                        ui-date-format="yy-mm-dd"/>
                <span class="field-error" ng-show="sampleForm.sampleDispatchDate.$error.required && showError">Date of sample dispatch is required</span>
                <span class="field-error" ng-show="dateOfSampleDispatch && showError">Sample request date can't be greater than dispatch date</span>
             </fieldset>
        </div>
        <div class="span3" >
            <fieldset class="form-group" >
                <label for="nameOfSampleDispatcher">Name of Dispatcher
                    <!--<span class="label-required"> *</span>-->
                </label>
                <input  ng-model="sample.nameOfSampleDispatcher" id="nameOfSampleDispatcher" type="text" maxlength="50" />
             </fieldset>
        </div>
    </div>
    <hr/>
</div>

<div style="margin-left:-38px !important;width:90%;height:50px;padding:7px 9px 3px 10px;z-index:0 !important" class="sidebar-footer">

    <div>
        <button class="btn btn-primary" ng-click="updateSample()" ng-hide="true">Save</button>
        <button class="btn btn-danger" ng-click="cancel()" ng-hide="true">Cancel</button>
<!--
        <button class="btn btn-primary pull-right" style="padding-right:5%" ng-click="goNext()">Go Next!!!</button>
-->
        <!-- <span style=" float:right; padding-right:10%;">
         <button class="btn btn-primary" ng-click="callUpdate();" ng-hide="true">Go Next!!!</button>

        </span> -->
<!--
        <button class="btn btn-danger pull-right" style="padding-right:10%" ng-click="goBack()" ng-hide="false">Go Back!!!</button>
-->

    </div>

    <div class="toolbar-success" id="saveSuccessMessage"  ng-show="message">{{message2}}</div>
    <span  class="toolbar-success"  style=" float:right;padding-right:30%" ng-show="totalL">Sample Form # <Strong>{{totalL}}</Strong></span>

    <div class="toolbar-error" id="saveFailMessage"  ng-show="sampleForm.$invalid && showError">The form is invalid please correct before submission</div>
</div>

