<style>
    @heading-green: #17888F;
    .input-append, .input-prepend {
    margin-bottom: 5px;
    font-size: 0;
    white-space: nowrap;
    }

    a:hover {
    color: #055e74;
    }
    td a{
    color:#055e74 !important; ;
    }
    a:hover {
    color: #055e74;
    }
    a:hover {
    color: #005580;
    text-decoration: underline;
    }
    a:hover, a:active {
    outline: 0;
    }

    .alert-success {
    color: #468847 !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    }

    h2 {
    font-size: 3em;
    font-weight: normal;
    }

    h2 {
    margin-top: 0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.4em;
    font-weight: normal;
    color: #17888F;
    }

    h2 {
    margin-top: 0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.4em;
    font-weight: normal;
    color: #17888f;
    line-height: 40px;
    }
    tr.unsaved td{
    background:#FCF8E3 !important;
    }

    /*font-size: 18px;
    font-weight: 400; */
    }

    @media print {
        body * {
        visibility: hidden;
        }
        #section-to-print, #section-to-print * {
        visibility: visible;
        }
        #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
        }
    }

</style>
<div xmlns="http://www.w3.org/1999/html">
    <div class="clearfix"></div>


    <div class="fadeout alert alert-success" id="showAccountSaveSuccessFull" ng-show="showAccountSaveSuccessFull">
        <span ng-show="successfulReference !== undefined">Account successful created with reference Number&nbsp;{{successfulReference}}</span>
        <span ng-show="successfulReference === undefined">Account successful saved</span>
        <a id="viewHereLink" href="" ng-click="edit(userId)"></a>
    </div>

    <div id="searchControl" class="row-fluid" style="border-bottom:1px solid #E6E9ED">
        <div class="span6 search-in-category">
            <div class="input-append input-prepend">
                <div class="btn-group">
                    <button id='searchOptionButton' class="btn dropdown-toggle">
                        <span id="selectedSearchOption">{{selectedSearchOption.name}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="searchOption in searchOptions">
                            <a id="searchOption{{$index}}" href=""
                               ng-click="selectSearchType(searchOption)">{{searchOption.name}}</a>
                        </li>
                    </ul>
                </div>
                <input style="height:30px !important" placeholder="{{selectedSearchOption.placeholder}}"
                       id='searchGeoZone' type="text" class="span6" ng-model="query" maxlength="50"
                       ng-keydown="triggerSearch($event)" autocomplete="off"/>
                <button ng-disabled="selectedSearchOption.value===''" class="btn" ng-click="search(1)">
                    <i id='searchIcon' class="icon-search"></i>
                </button>
            </div>
        </div>
    </div>

    <br/>
    <div class="fadeout alert alert-success" ng-show="messageSent == true"
         openlmis-message="label.message.sent"></div>
    <!--<div non-scope-ng-include template-path="/public/pages/vl/partials/sample-menu.html"></div>-->
    <div class="row-fluid" >
        <div class="span12" style="margin-left:0px !important">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Backlog Samples</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="rnr-table" ng-show="samples.length >0">
                        <table id="podTable4" class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="max-width:150px !important; width:150px !important" class="col-product">
                                    <span>Lab Number</span></th>
                                <th style="max-width:100px !important; width:100px !important" class="col-product">
                                    <span>Patient ID</span></th>
                                <!--<th style="max-width:50px !important; width:50px !important" class="col-product">-->
                                    <!--<span>Gender</span></th>-->
                                <!--<th style="max-width:100px !important; width:50px !important" class="col-product">-->
                                    <!--<span>Age</span></th>-->
                                <th style="max-width:150px !important; width:150px !important" class="col-product">
                                    <span>Facility</span></th>
                                <th style="max-width:120px !important; width:120px !important" class="col-product">
                                    <span>District</span></th>
                                <th style="max-width:120px !important; width:120px !important" class="col-product">
                                    <span>Region</span></th>
                                <th style="max-width:100px !important; width:100px !important" class="col-product">
                                    <span>Sample Type</span></th>
                                <th style="max-width:120px !important; width:120px !important" class="col-product">
                                    <span>Receive Date</span></th>
                                <th style="max-width:160px !important; width:160px !important" class="col-product"><span>Action</span>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="sample in samples">
                                <td ng-bind="sample.labNumber"></td>
                                <td ng-bind="sample.patientId"></td>
                                <!--<td ng-bind="sample.gender"></td>-->
                                <!--<td >-->
                                    <!--{{sample.dbo| ageFilter}}-->
                                <!--</td>-->
                                <td ng-bind="sample.facility"></td>
                                <td ng-bind="sample.district"></td>
                                <td ng-bind="sample.region"></td>
                                <td ng-bind="sample.sample"></td>
                                <td ng-bind="sample.receiveDate"></td>
                                <td>
                                   <button class="btn btn-primary" ng-click="acceptSample(sample.id)">Accept</button>
                                   <button class="btn btn-danger" ng-click="rejectSample(sample.id)">Reject</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination total-items="totalItems" page="currentPage" max-size="5"
                                    items-per-page="pagination.limit"
                                    direction-links="false" class="pagination-sm"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="sidebar-footer" style="width:100%;height:50px;padding:7px 9px 3px 10px">-->
        <!--<div style="float:left">-->
            <!--&lt;!&ndash;<input id="userSaveButton" type="submit" value="Save" class="btn btn-primary save-button"&ndash;&gt;-->
                   <!--&lt;!&ndash;openlmis-message="button.save"&ndash;&gt;-->
                   <!--&lt;!&ndash;ng-disabled="accountForm.$invalid || account.members.length ===0"&ndash;&gt;-->
                   <!--&lt;!&ndash;ng-click="saveAccount()"/>&ndash;&gt;-->

            <!--&lt;!&ndash;<input id="userCancelButton" type="button" class="btn btn-cancel save-button"&ndash;&gt;-->
                   <!--&lt;!&ndash;openlmis-message="button.cancel"&ndash;&gt;-->
                   <!--&lt;!&ndash;ng-click="cancel()"/>&ndash;&gt;-->

        <!--</div>-->
        <!--<div class="toolbar-error" id="saveErrorMsgDiv" openlmis-message="error" ng-show="error"></div>-->
        <!--<div class="toolbar-success" id="saveSuccessMsgDiv" ng-show="message"><span-->
                <!--style="text-align: right"></span></div>-->
    <!--</div>-->

</div>

</div>

<div non-scope-ng-include template-path="/public/pages/vl/partials/sample-modal.html"></div>
<!--<div non-scope-ng-include template-path="/public/pages/client/partials/account-balance-modal.html"></div>-->

