<style>
    @heading-green: #17888F;

    .input-append, .input-prepend {
    margin-bottom: 5px;
    font-size: 0;
    white-space: nowrap;
    }

    a:hover {
    color: #055e74;
    }
    td a{
    color:#055e74 !important; ;
    }
    a:hover {
    color: #055e74;
    }
    a:hover {
    color: #005580;
    text-decoration: underline;
    }
    a:hover, a:active {
    outline: 0;
    }

    .alert-success {
    color: #468847 !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    }

    h2 {
    font-size: 3em;
    font-weight: normal;
    }

    h2 {
    margin-top: 0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.4em;
    font-weight: normal;
    color: #17888F;
    }

    h2 {
    margin-top: 0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.4em;
    font-weight: normal;
    color: #17888f;
    line-height: 40px;
    }
    tr.unsaved td{
    background:#FCF8E3 !important;
    }

    /*font-size: 18px;
    font-weight: 400; */

    tr.odd td{
        background:#e1f5f8 !important;
    }
    tr.even td{
       background:#c7e5e7 !important;
    }


</style>
<div xmlns="http://www.w3.org/1999/html">
    <div class="clearfix"></div>

    <br/>
    <div class="fadeout alert alert-success" ng-show="messageSent == true"
         openlmis-message="label.message.sent"></div>
    <!--<div non-scope-ng-include template-path="/public/pages/vl/partials/sample-menu.html"></div>-->
    <div class="row-fluid" >
        <div class="span12" style="margin-left:0px !important">
                    <h2>Samples List </h2>
                <div class="rnr-tabs clearfix">
                    <ul>
                        <li ng-show="hasPermission('VIEW_REGISTERED_SAMPLES')" ng-class="{'selected':status == 'REGISTERED' }" >
                            <a href="" ng-click="changeTab('REGISTERED')">PENDING</a>
                        </li>
                        <li ng-show="hasPermission('VIEW_RECEIVED_SAMPLES')" ng-class="{'selected':status == 'RECEIVED' }" >
                            <a href="" ng-click="changeTab('RECEIVED')">RECEIVED</a>
                        </li>
                        <li ng-show="hasPermission('VIEW_ACCEPTED_SAMPLES')" ng-class="{'selected':status == 'ACCEPTED' }" >
                            <a href="" ng-click="changeTab('ACCEPTED')"><img width="18" src="/public/images/yell_bl.gif"/>&nbsp;BACKLOG</a></li>
                        <li ng-show="hasPermission('VIEW_INPROGRESS_SAMPLES')" ng-class="{'selected':status == 'INPROGRESS' }" >
                            <a href="" ng-click="changeTab('INPROGRESS')"><img width="18" src="/public/images/green_bl.gif"/>&nbsp;IN PROGRESS</a>
                        </li>
                        <li ng-show="hasPermission('VIEW_RESULTED_SAMPLES')" ng-class="{'selected':status == 'RESULTED' }" >
                            <a href="" ng-click="changeTab('RESULTED')">RESULTED</a>
                        </li>
                        <li ng-show="hasPermission('VIEW_APPROVED_SAMPLES')" ng-class="{'selected':status == 'APPROVED' }" >
                            <a href="" ng-click="changeTab('APPROVED')">APPROVED</a>
                        </li>
                    </ul>
                </div>
                    <a ng-show="(status === 'RECEIVED' || !homeFacility.sdp) &&
                        hasPermission('ADD_SAMPLES')" href="#/create-sample" id="userAddNew" class="pull-right btn btn-primary">Add Sample</a>
                       <button ng-disabled="selectedAll == false && isSelected == false"
                               style="float: right" ng-show="hasPermission('TEST_SAMPLE') && status =='ACCEPTED' && hideWorksheetButton==false" class="btn btn-primary btn-small" ng-click="generateWorksheet(samples)"
                               openlmis-message="label.generate.work.sheet"
                               >
                           <a href ng-click="showSampleModal(sample)">{{sample.labNumber}}</a>
                       </button>

                       <button ng-disabled="selectedAll == false && isSelected == false"
                               style="float: right" ng-show="hasPermission('TEST_SAMPLE') && status =='ACCEPTED' && hideWorksheetButton==true" class="btn btn-primary btn-small" ng-click="generateWorksheetForSelectedItems(selectedSamples)"
                               openlmis-message="label.generate.work.sheet">
                           <a href ng-click="showSampleModal(sample)">{{sample.labNumber}}</a>
                       </button>

                       <button style="float: right" ng-show="hasPermission('APPROVE_RESULT') && status =='INPROGRESS'" class="btn btn-primary btn-small"  ng-click="uploadResult(samples)"
                               > Upload Result
                           </a>
                       </button>
                     <button ng-if="homeFacility.sdp && status === 'REGISTERED' && batchNumber !==undefined && samples.length "
                             style="float: right"  class="btn btn-primary btn-small"  ng-click="receiveByBatch(batchNumber)"
                               > Receive All
                           </a>
                       </button>

                    <div class="clearfix"></div>
            <div ng-if="message" class="alert alert-success">{{message}}</div>
            <div id="searchControl" class="row-fluid" style="border-bottom:1px solid #E6E9ED"  ng-show="status === 'REGISTERED'">
                <div class="span6 search-in-category">
                    <div class="input-append input-prepend">
                        <div class="btn-group">
                            <button id='searchOptionButton' class="btn dropdown-toggle">
                                <span id="selectedSearchOption">Batch Number</span>
                                <span class="caret"></span>
                            </button>
                            <!--<ul class="dropdown-menu">-->
                                <!--<li ng-repeat="searchOption in searchOptions">-->
                                    <!--<a id="searchOption{{$index}}" href=""-->
                                       <!--ng-click="selectSearchType(searchOption)">{{searchOption.name}}</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        </div>
                        <input style="height:30px !important" placeholder="Enter hub batch number"
                               id='searchGeoZone' type="text" class="span6" ng-model="batchNumber" maxlength="50"
                                autocomplete="off"/>
                        <button  class="btn" ng-click="getByBatch(batchNumber)">
                            <i id='searchIcon' class="icon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div id="searchControl" class="row-fluid" style="border-bottom:1px solid #E6E9ED"  ng-show="status !== 'REGISTERED'">
                <div class="span6 search-in-category">
                    <div class="input-append input-prepend">
                        <div class="btn-group">
                            <button id='searchOptionButton' class="btn dropdown-toggle">
                                <span id="selectedSearchOption">{{selectedSearchOption.name}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="searchOption in searchOptions">
                                    <a id="searchOption{{$index}}" href=""
                                       ng-click="selectSearchType(searchOption)">{{searchOption.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <input style="height:30px !important" placeholder="{{selectedSearchOption.placeholder}}"
                               id='searchGeoZone' type="text" class="span6" ng-model="query" maxlength="50"
                               ng-keydown="triggerSearch($event)" autocomplete="off"/>
                        <button  class="btn" ng-click="search(query)">
                            <i id='searchIcon' class="icon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
                    <div class="rnr-table" ng-show="samples.length >0">
                        <table id="podTable4" class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="max-width:5px !important; width:5px !important" class="col-product">
                                    <span>SN</span></th>
                                <th ng-if="!homeFacility.sdp || status == 'REGISTERED'" style="max-width:170px !important; width:80px !important" class="col-product">
                                    <span>Batch Number</span></th>
                                <th ng-if="homeFacility.sdp && status !== 'REGISTERED'" style="max-width:80px !important; width:80px !important" class="col-product">
                                    <span>Lab Number</span></th>
                                <th style="max-width:80px !important; width:80px !important" class="col-product">
                                    <span>Lab Name</span></th>


                                <th style="max-width:80px !important; width:80px !important" class="col-product">
                                    <span>Age</span></th>

                                <th style="max-width:80px !important; width:80px !important" class="col-product">
                                    <span>District/Region</span></th>
                                <th style="max-width:120px !important; width:120px !important" class="col-product">
                                    <span>Sample Type</span></th>
                                <th ng-if="status =='RESULTED'" style="max-width:120px !important; width:120px !important" class="col-product">
                                    <span>Result</span></th>
                                <th ng-if="status !=='RESULTED'" style="max-width:80px !important; width:80px !important" class="col-product">
                                    <span>Date Received</span></th>
                                <th ng-if="status =='RESULTED'" style="max-width:80px !important; width:80px !important" class="col-product">
                                    <span>Result Date</span></th>

                                <th style="max-width:140px !important; width:140px !important" class="col-product">
                                    <span>Facility Name</span></th>
                                <th style="max-width:140px !important; width:140px !important" class="col-product">
                                    <span>Order ID</span>
                                </th>
                                <th style="max-width:100px !important; width:100px !important" class="col-product">
                                    <span>Patient ID</span></th>

                                <th ng-show="hasPermission('TEST_SAMPLE') || hasPermission('REJECT_SAMPLE') || hasPermission('ACCEPT_SAMPLE')" class="col-product" colspan="1">
                                    <span ng-show="!hasPermission('TEST_SAMPLE') && status =='ACCEPTED'" >
                                    Select All  <input type="checkbox" id="selectedAll" ng-model="selectedAll"
                                                       ng-click="checkAll()"/>
                                    </span>
                                </th>


                            </tr>
                            </thead>
                            <tbody >

                            <tr ng-repeat="sample in samples | filter:query " ng-class-odd="'odd'" ng-class-even="'even'">
                                <td><span class="cell-input">{{totalSamples-(totalSamples -$index-1)}}</span></td>
                                <td >
                                    <a ng-if="homeFacility.sdp && status !== 'REGISTERED'" href ng-click="showSampleModal(sample)">{{sample.labNumber}}</a>
                                    <a ng-if="!homeFacility.sdp || status === 'REGISTERED'" href >{{sample.batchNumber}}</a>
                                </td>
                                <td ng-bind="sample.lab"></td>
                                <td ng-bind="sample.age"></td>
                                <td >{{sample.district}}/{{sample.region}}</td>
                                <td ng-bind="sample.sample"></td>
                                <td ng-if="status =='RESULTED'" >{{sample.results[0].result }}&nbsp;{{sample.results[0].unit}}</td>
                                <td ng-if="status !=='RESULTED'" >{{sample.dateReceived | date:'dd/MM/yyyy'}}</td>
                                <td ng-if="status =='RESULTED'" >{{sample.results[0].resultDate | date:'dd/MM/yyyy' }}</td>
                                <td ng-bind="sample.facility"></td>
                                <td ng-bind="sample.orderId"></td>
                                <!-- <td ng-bind="sample.patientId"></td> -->
                                <td >{{sample.patientId|patientFilter}}</td>
                                <!---It is needed when users are Hub USERS-->
                                <td ng-if="!homeFacility.sdp && status === 'REGISTERED'" ><button class="btn btn-danger btn-small" ng-click="showSampleModal2(sample)">Generate Barcode</button></td>

                                <td  ng-show="hasPermission('TEST_SAMPLE') || hasPermission('REJECT_SAMPLE') || hasPermission('ACCEPT_SAMPLE')" >
                                    <button ng-show="hasPermission('REJECT_SAMPLE') && status == 'RECEIVED'" class="btn btn-danger btn-small" ng-click="rejectSample(sample.id)">Reject</button>
                                    <button ng-show="hasPermission('ACCEPT_SAMPLE') && status =='RECEIVED'" class="btn btn-primary btn-small" ng-click="acceptSample(sample.id)">Accept</button>
                                    <button ng-show="hasPermission('REJECT_SAMPLE') && status == 'RECEIVED'" class="btn btn-danger btn-small" ng-click="deleteSample(sample.id)">Delete</button>
                                    <button ng-show="hasPermission('REJECT_SAMPLE') && status == 'RECEIVED'" class="btn btn-warning btn-small" ng-click="edit(sample.id)">Edit</button>

<!--
                                    <button ng-show="hasPermission('TEST_SAMPLE') && status =='ACCEPTED'" class="btn btn-primary btn-small" ng-click="testSample(sample.id)">Test</button>
-->
                                    <button ng-show="hasPermission('APPROVE_RESULT') && status =='RESULTED'" class="btn btn-primary btn-small" ng-click="approveSample(sample.id)">Approve</button>
                                    <button ng-show="hasPermission('DISPATCH_RESULTS') && status =='APPROVED'" class="btn btn-primary btn-small" ng-click="dispatchSample(sample.id)">Dispatch</button>
                                    <button ng-show="hasPermission('DISPATCH_RESULTS') && status =='APPROVED'" class="btn btn-success btn-small" ng-click="printResultByPatient(sample.id,'PDF')">Print Results</button>
                                    <input ng-show="!hasPermission('_TEST_SAMPLE') && status =='ACCEPTED'" style="margin-left:10px"
                                           type="checkbox" ng-model="sample.isSelected" ng-change="toggleSingle()" /></td>
                            </tr>
                            </tbody>
                        </table>

                        <pagination total-items="totalSamples" page="currentPage" max-size="5"
                                    items-per-page="pagination.limit"
                                    direction-links="true" class="pagination-sm"></pagination>
                    </div>
            <!--<div barcode-scanner="barcodeScanned"></div>
            <div>
                <span>Barcode:</span>
                <span ng-bind="model.barcode"></span>
            </div>
            <div><input type="text" ng-model="testvalue">
            <div><input type="text" ng-model="testvalue"></input></div>
            <div><span ng-bind="testvalue"></span></div>
                <div data-bar-code-scanner></div>
-->
<!--
            <div ><input type="text" ng-model="testScan" ng-scanner-detect="scan_options" ng-change="getData(testScan)" show-focus="customcondition" ng-show="customcondition"/></div>
-->
<!--
            <div><input ng-change="getData(testScan)" type="text" ng-show="customcondition" show-focus="customcondition"  ng-model="testScan"  ng-scanner-detect="scan_options"></div>
-->
                    <div ng-show="samples.length ==0">No Pending Samples </div>
        </div>
    </div>

</div>

<div id="popup-box section-to-print"  modal="sampleModal2"
     options="{'backdrop':'static', 'escape':false}"

     style="width:90% !important;margin-left:-45% !important;">

    <div class="modal-header">
        <h2><span>{{selectedTestType.name}} WORKSHEET</span></h2>
    </div>

    <div class="modal-body to-print">
        <div>
            <!--
                        <h2>{{selectedTestType.name}} WORKSHEET</h2>
            -->
            <hr />
            <div class="row-fluid">
                <div class="span4">
                    <strong for='facilityLabel'>Equipment</strong>
                    &nbsp;<span>
            <select id="equipment" ng-required="true" style="width:90%" ui-select2 class="cel"
                    ng-model="equipmentId">
                <option value="">Select Equipment</option>
                <option ng-repeat="e in testEquipments" value="{{e.id}}">{{e.name}}</option>
            </select>
                 </span>
                </div>
                <div class="span8">
                    <button class="btn btn-primary" ng-disabled="preWorkSheet !== undefined || preWorkSheet.samples.length <=0" ng-click="prepareWorkSheet()">GET SAMPLES</button>
                    &nbsp;<input style="margin-left:10px" type="button" id="issueSubmit"
                                 class="btn btn-primary save-button"
                                 ng-click="createWorkSheet()"
                                 ng-show="preWorkSheet != undefined"
                                 value="Create and Print"/>

                    <input style="float:right" type="button" ng-click="hideWorksheetModal();" class="btn btn-cancel"
                           openlmis-message="button.cancel"/>
                </div>
            </div>
            <hr/>


            <div style="border:1px solid #000;padding:4px" class="row-fluid" ng-show="preWorkSheet != undefined">
                <br/>
                <div class="span2" style="height:100px; border:1px solid #000;padding:4px;margin-top:6px;margin-bottom:24px"
                     ng-repeat="sample in preWorkSheet.samples" ng-init="sample.isSelected =true">
                    <io-barcode  code="{{sample.labNumber}}" type="{{ type }}" options="options"></io-barcode>
                    <!--<input type="checkbox" value="true" ng-model="sample.isSelected" />-->
                </div>
              <!--  <div class="span1" style="height:100px; border:1px solid #000;margin-top:8px;margin-bottom:6px" ng-repeat="control in workSheet.controls">
                    {{control}}
                </div>-->
             <!--   <br/>
                <br/>
                <div class="span12">

                </div>-->

            </div>

            <!-- <div class="modal-footer">
                 <input type="button" id="issueSubmit"
                        class="btn btn-primary save-button"
                        ng-click="printSample(sampleToShow)"
                        openlmis-message="button.print"/>

                 <input type="button" ng-click="hideSampleModal();" class="btn btn-cancel"
                        openlmis-message="button.cancel"/>
             </div>-->



        </div>
    </div>

</div>


<!--
<div non-scope-ng-include template-path="/public/pages/vl/partials/worksheet-modal.html"></div>
-->
<div non-scope-ng-include template-path="/public/pages/vl/partials/sample-modal.html"></div>
<!--
<div non-scope-ng-include template-path="/public/pages/vl/partials/sample-modal2.html"></div>
-->
<div non-scope-ng-include template-path="/public/pages/vl/partials/sample-rejection-reason-modal.html"></div>
<!--<div non-scope-ng-include template-path="/public/pages/client/partials/account-balance-modal.html"></div>-->

