<style>
    @heading-green: #17888F;
    .input-append, .input-prepend {
        margin-bottom: 5px;
        font-size: 0;
        white-space: nowrap;
    }

    a:hover {
        color: #055e74;
    }
    td a{
        color:#055e74 !important; ;
    }
    a:hover {
        color: #055e74;
    }
    a:hover {
        color: #005580;
        text-decoration: underline;
    }
    a:hover, a:active {
        outline: 0;
    }

    .alert-success {
        color: #468847 !important;
        background-color: #dff0d8 !important;
        border-color: #d6e9c6 !important;
    }

    h2 {
        font-size: 3em;
        font-weight: normal;
    }

    h2 {
        margin-top: 0;
        border-bottom: 1px solid #d6d6d6;
        font-size: 1.4em;
        font-weight: normal;
        color: #17888F;
    }

    h2 {
        margin-top: 0;
        border-bottom: 1px solid #d6d6d6;
        font-size: 1.4em;
        font-weight: normal;
        color: #17888f;
        line-height: 40px;
    }
    tr.unsaved td{
        background:#FCF8E3 !important;
    }

    /*font-size: 18px;
    font-weight: 400; */
    }

    tr.odd td{
        background:#e1f5f8 !important;
    }
    tr.even td{
        background:#c7e5e7 !important;
    }


</style>
<div xmlns="http://www.w3.org/1999/html">
    <div class="clearfix"></div>

    <br/>
    <div class="fadeout alert alert-success" ng-show="messageSent == true"
         openlmis-message="label.message.sent"></div>
    <!--<div non-scope-ng-include template-path="/public/pages/vl/partials/sample-menu.html"></div>-->
    <div class="row-fluid" >
        <div class="span12" style="margin-left:0px !important">
            <h2>Samples Rejected List</h2>
       <!--     <div class="rnr-tabs clearfix">
                <ul>
                    <li ng-show="hasPermission('VIEW_RECEIVED_SAMPLES')" ng-class="{'selected':status == 'RECEIVED' }" >
                        <a href="" ng-click="changeTab('RECEIVED')">RECEIVED</a>
                    </li>
                    <li ng-show="hasPermission('VIEW_ACCEPTED_SAMPLES')" ng-class="{'selected':status == 'ACCEPTED' }" >
                        <a href="" ng-click="changeTab('ACCEPTED')"><img width="18" src="/public/images/yell_bl.gif"/>&nbsp;BACKLOG</a></li>
                    <li ng-show="hasPermission('VIEW_INPROGRESS_SAMPLES')" ng-class="{'selected':status == 'INPROGRESS' }" >
                        <a href="" ng-click="changeTab('INPROGRESS')"><img width="18" src="/public/images/green_bl.gif"/>&nbsp;IN PROGRESS</a>
                    </li>
                    <li ng-show="hasPermission('VIEW_RESULTED_SAMPLES')" ng-class="{'selected':status == 'RESULTED' }" >
                        <a href="" ng-click="changeTab('RESULTED')">RESULTED</a>
                    </li>
                    <li ng-show="hasPermission('VIEW_APPROVED_SAMPLES')" ng-class="{'selected':status == 'APPROVED' }" >
                        <a href="" ng-click="changeTab('APPROVED')">APPROVED</a>
                    </li>
                </ul>
            </div>-->
            <a ng-show="status === 'RECEIVED' && hasPermission('ADD_SAMPLES')" href="#/create-sample" id="userAddNew" class="pull-right btn btn-primary">Add Sample</a>
            <div class="clearfix"></div>

            <div class="rnr-table" ng-show="rejectedSamples.length >0">
                <table id="podTable4" class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="max-width:15px !important; width:15px !important" class="col-product">
                            <span>SN</span></th>
                        <th style="max-width:80px !important; width:80px !important" class="col-product">
                            <span>Lab Number</span></th>
                        <th style="max-width:80px !important; width:80px !important" class="col-product">
                            <span>Lab Name</span></th>

                        <th style="max-width:140px !important; width:140px !important" class="col-product">
                            <span>Facility Name</span></th>


                        <th style="max-width:100px !important; width:100px !important" class="col-product">
                            <span>Patient ID</span></th>

                        <th style="max-width:80px !important; width:80px !important" class="col-product">
                            <span>Age</span></th>

                        <th style="max-width:170px !important; width:170px !important" class="col-product">
                            <span>District/Region</span></th>
                        <th style="max-width:120px !important; width:120px !important" class="col-product">
                            <span>Sample Type</span></th>
                        <th ng-if="status =='RESULTED'" style="max-width:120px !important; width:120px !important" class="col-product">
                            <span>Result</span></th>
                        <th ng-if="status !=='RESULTED'" style="max-width:80px !important; width:80px !important" class="col-product">
                            <span>Date Received</span></th>
                        <th ng-if="status !=='RESULTED'" style="max-width:80px !important; width:80px !important" class="col-product">
                            <span>Rejected Date</span></th>
                        <th ng-if="status =='RESULTED'" style="max-width:80px !important; width:80px !important" class="col-product">
                            <span>Result Date</span></th>
                        <th style="max-width:140px !important; width:140px !important"
                            ng-show="hasPermission('TEST_SAMPLE') || hasPermission('REJECT_SAMPLE') || hasPermission('ACCEPT_SAMPLE')" class="col-product" colspan="1">
                            <span>Action</span>
                        </th>

                    </tr>
                    </thead>
                    <tbody >

                    <tr ng-repeat="sample in rejectedSamples" ng-class-odd="'odd'" ng-class-even="'even'">
                        <td >{{totalSamples-(totalSamples -$index-1)}}</td>
                        <td >
                            <a href ng-click="showSampleModal(sample)">{{sample.labNumber}}</a>
                        </td>
                        <td ng-bind="sample.lab"></td>
                        <td ng-bind="sample.facility"></td>
                        <td ng-bind="sample.patientId"></td>
                        <td ng-bind="sample.age"></td>
                        <td >{{sample.district}}/{{sample.region}}</td>
                        <td ng-bind="sample.sample"></td>
                        <td ng-if="status =='RESULTED'" >{{sample.results[0].result }}&nbsp;{{sample.results[0].unit}}</td>
                        <td ng-if="status !=='RESULTED'" >{{sample.dateReceived | date:'dd/MM/yyyy'}}</td>
                        <td ng-if="status !=='RESULTED'" >{{sample.rejectedDate | date:'dd/MM/yyyy'}}</td>
                        <td ng-if="status =='RESULTED'" >{{sample.results[0].resultDate | date:'dd/MM/yyyy' }}</td>
                        <td  ng-show="hasPermission('TEST_SAMPLE') || hasPermission('REJECT_SAMPLE') || hasPermission('ACCEPT_SAMPLE')" >
                            <button ng-show="hasPermission('REJECT_SAMPLE') && status == 'RECEIVED'" class="btn btn-danger btn-small" ng-click="rejectSample(sample.id)">Reject</button>
                            <button ng-show="hasPermission('ACCEPT_SAMPLE') && status =='RECEIVED'" class="btn btn-primary btn-small" ng-click="acceptSample(sample.id)">Accept</button>
                            <button ng-show="hasPermission('TEST_SAMPLE') && status =='ACCEPTED'" class="btn btn-primary btn-small" ng-click="testSample(sample.id)">Test</button>
                            <button ng-show="hasPermission('APPROVE_RESULT') && status =='RESULTED'" class="btn btn-primary btn-small" ng-click="approveSample(sample.id)">Approve</button>
                            <button ng-show="hasPermission('DISPATCH_RESULTS') && status =='APPROVED'" class="btn btn-primary btn-small" ng-click="dispatchSample(sample.id)">Dispatch</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <pagination total-items="totalSamples" page="currentPage" max-size="5"
                            items-per-page="pagination.limit"
                            direction-links="true" class="pagination-sm"></pagination>
            </div>
<!--
            <div ng-show="rejectedSamples.length == 0">No Rejected Samples </div>
-->
        </div>
    </div>

</div>

</div>

<!--<div non-scope-ng-include template-path="/public/pages/vl/partials/sample-modal.html"></div>
<div non-scope-ng-include template-path="/public/pages/vl/partials/sample-rejection-reason-modal.html"></div>-->
<!--<div non-scope-ng-include template-path="/public/pages/client/partials/account-balance-modal.html"></div>-->

