<style>
    @heading-green: #17888F;
    .input-append, .input-prepend {
    margin-bottom: 5px;
    font-size: 0;
    white-space: nowrap;
    }

    a:hover {
    color: #055e74;
    }
    td a{
    color:#055e74 !important; ;
    }
    a:hover {
    color: #055e74;
    }
    a:hover {
    color: #005580;
    text-decoration: underline;
    }
    a:hover, a:active {
    outline: 0;
    }

    .alert-success {
    color: #468847 !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    }

    h2 {
    font-size: 3em;
    font-weight: normal;
    }

    h2 {
    margin-top: 0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.4em;
    font-weight: normal;
    color: #17888F;
    }

    h2 {
    margin-top: 0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.4em;
    font-weight: normal;
    color: #17888f;
    line-height: 40px;
    }


    /*font-size: 18px;
    font-weight: 400; */
    }

    @media print {
        body * {
        visibility: hidden;
        }
        #section-to-print, #section-to-print * {
        visibility: visible;
        }
        #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
        }
    }

    tr.odd td{
    background:#e1f5f8 !important;
    }
    tr.even td{
    background:#c7e5e7 !important;
    }

</style>
<div xmlns="http://www.w3.org/1999/html">
    <div class="clearfix"></div>
    <div class="row-fluid" >
        <div class="span12" style="margin-left:0px !important">
                    <h2>Results</h2>

            <div class="box-icon pull-right" ng-hide="true">
                <a id="pdf-button" href="" ng-click="exportReport('PDF')"
                   class='btn-small btn-info'><span>Export PDF</span></a>
                <a id="xls-button"  href="" ng-click="exportReport('XLS')"
                   class='btn-small btn-info'><span>Export EXCEL</span></a>
            </div>
            <div class="box-icon pull-right">
                <a class="btn btn-primary" export export-data="results"
                   export-keys="['labNumber','patientId','facility','region','district','sample','result','resultDate','status']" export-headers="['lab Number','Patient Id','FacilityName','Region','district','Sample Type','Result','Result Date','Status']"

                        >Export Excel</a>
            </div>
<div class="clearfix"></div>
                    <div class="rnr-table" ng-show="results.length >0">
                        <table id="podTable4" class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="max-width:150px !important; width:150px !important" class="col-product">
                                    <span><br />Lab Number</span></th>
                                <th style="max-width:100px !important; width:100px !important" class="col-product">
                                    <span>Patient ID</span></th>
                                <th style="max-width:150px !important; width:150px !important" class="col-product">
                                    <span>Facility</span></th>
                                <th style="max-width:120px !important; width:120px !important" class="col-product">
                                    <span>District</span></th>
                                <th style="max-width:120px !important; width:120px !important" class="col-product">
                                    <span>Region</span></th>

                                <th style="max-width:100px !important; width:100px !important" class="col-product">
                                    <span>Sample Type</span></th>
                                <th style="max-width:120px !important; width:120px !important" class="col-product">
                                    <span>Result</span></th>
                                <th>Status</th>
                                <th ng-hide="stopResultRight" style="max-width:160px !important; width:160px !important" class="col-product" colspan="1"><span>Action</span>
                                </th>


                            </tr>
                            </thead>
                            <tbody >
                            <tr ng-repeat="sample in results" ng-class-odd="'odd'" ng-class-even="'even'">
                                <td >
                                    <a href ng-click="showSampleModal(sample)">{{sample.labNumber}}</a>
                                </td>
                                <td ng-bind="sample.patientId"></td>
                                <td ng-bind="sample.facility"></td>
                                <td ng-bind="sample.district"></td>
                                <td ng-bind="sample.region"></td>
                                <td ng-bind="sample.sample"></td>
                                <td >{{sample.results[0].result }}&nbsp;{{sample.results[0].unit}}</td>
                                <td>{{sample.status}}</td>
                                <td ng-hide="!stopResultRight">
                                   <input ng-show="stopResultRight==false" type="submit" value="Approve" class="btn btn-primary btn-small" ng-click="approveSample(sample.id)" />
                                </td>
                                <td><button  class="btn btn-success btn-small" ng-click="printResultByPatient(sample.id,'PDF')">Print Results</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <pagination total-items="totalSamples" page="currentPage" max-size="5"
                                    items-per-page="pagination.limit"
                                    direction-links="true" class="pagination-sm"></pagination>

                    </div>
        </div>
    </div>

</div>

</div>

<div non-scope-ng-include template-path="/public/pages/vl/partials/sample-modal.html"></div>
<div non-scope-ng-include template-path="/public/pages/vl/partials/sample-rejection-reason-modal.html"></div>
<!--<div non-scope-ng-include template-path="/public/pages/client/partials/account-balance-modal.html"></div>-->

