<div class="manage-nav" >
  <ul class="clearfix">

      <li  ng-class="userSelected">
      <a id="facility-tab" href=
         >Received</a>
    </li>
      <li ng-show="!hasPermission('MANAGE_ACCOUNT_PACKAGES')" ng-class="packageSelected">
      <a id="account-tab" href=
              >Accepted</a>
    </li>
      <li ng-show="!ShasPermission('MANAGE_CLIENT_TYPES')" ng-class="clientTypeSelected">
      <a id="client-type-tab" href=
              >Rejected</a>
    </li>
      <li ng-show="!ShasPermission('MANAGE_CLIENT_TYPES')" ng-class="clientTypeSelected">
      <a id="client-type-tab2" href=
              >In Progress</a>
    </li>
      <li ng-show="!ShasPermission('MANAGE_CLIENT_TYPES')" ng-class="clientTypeSelected">
      <a id="client-type-tab3" href=
              >Resulted</a>
    </li>
  </ul>
</div>
