<div id="popup-box section-to-print"  modal="sampleModal2"
     options="{'backdrop':'static', 'escape':false}"

     style="width:80% !important;margin-left:-40% !important;">

    <div class="modal-header">
        <h3><span>{{selectedTestType.name}} WORKSHEET</span></h3>
    </div>

    <div class="modal-body to-print">
        <div>
<!--
            <h2>{{selectedTestType.name}} WORKSHEET</h2>
-->
            <hr />
            <div class="row-fluid">
                <div class="span4">
                    <strong for='facilityLabel'>Equipment</strong>
                    &nbsp;<span>
            <select id="equipment" ng-required="true" style="width:90%" ui-select2 class="cel"
                    ng-model="equipmentId">
                <option value="">Select Equipment</option>
                <option ng-repeat="e in testEquipments" value="{{e.id}}">{{e.name}}</option>
            </select>
                 </span>
                </div>
                <div class="span4">
                    <button class="btn btn-primary" ng-disabled="preWorkSheet !== undefined || preWorkSheet.samples.length <=0" ng-click="prepareWorkSheet()">GET SAMPLES</button>
                    &nbsp;<input style="margin-left:10px" type="button" id="issueSubmit"
                                 class="btn btn-primary save-button"
                                 ng-click="createWorkSheet()"
                                 ng-show="preWorkSheet != undefined"
                                 value="Create and Print"/>

                    <input type="button" ng-click="hideSampleModal();" class="btn btn-cancel"
                           openlmis-message="button.cancel"/>
                </div>
            </div>
            <hr/>


            <div style="border:1px solid #000;padding:4px" class="row-fluid" ng-show="preWorkSheet != undefined">
                <br/>
                <div class="span3" style="height:100px; border:1px solid #000;padding:4px;margin-top:6px;margin-bottom:24px"
                     ng-repeat="sample in preWorkSheet.samples" ng-init="sample.isSelected =true">
                    <io-barcode  code="{{sample.labNumber}}" type="{{ type }}" options="options"></io-barcode>
                    <input type="checkbox" value="true" ng-model="sample.isSelected" /><br/><br/>
                </div>
                <div class="span3" style="height:100px; border:1px solid #000;margin-top:8px;margin-bottom:6px" ng-repeat="control in workSheet.controls">
                    {{control.name}}
                </div>
                <br/>
                <br/>
                <div class="span12">

                </div>

            </div>

           <!-- <div class="modal-footer">
                <input type="button" id="issueSubmit"
                       class="btn btn-primary save-button"
                       ng-click="printSample(sampleToShow)"
                       openlmis-message="button.print"/>

                <input type="button" ng-click="hideSampleModal();" class="btn btn-cancel"
                       openlmis-message="button.cancel"/>
            </div>-->



        </div>
</div>

</div>
