<div id="popup-box section-to-print"  modal="rejectSampleModal"
     options="{'backdrop':'static', 'escape':false}"
     style="width:60% !important;margin-left:-30% !important;">

    <div class="modal-header">
        <h3><span>Reason For rejection</span></h3>
    </div>

    <div class="modal-body">
        <div class="row-fluid addForm" ng-form="addMember">
            Reason for sample rejection;
            <textarea cols="30" ng-model="sampleToReject.reason">
            </textarea>
        </div>
    </div>

    <div class="modal-footer">
        <input type="button" id="issueSubmit"
               class="btn btn-primary save-button"
               ng-click="saveRejected()"
               openlmis-message="button.save"/>

        <input type="button" ng-click="hideRejectedReasonModal();" class="btn btn-cancel"
               openlmis-message="button.cancel"/>
    </div>
</div>
