<div id="popup-box section-to-print"  modal="sampleModal"
     options="{'backdrop':'static', 'escape':false}"

     style="width:80% !important;margin-left:-40% !important;">

    <div class="modal-header">
        <h3><span>Sample</span></h3>
    </div>

    <div class="modal-body to-print">
        <div class="row-fluid addForm" >
            <div ng-if="homeFacility.sdp && status !== 'REGISTERED'" class="span2 col-md-12 col-sm-12 col-xs-12">
                Lab Number: <io-barcode  code="{{code}}" type="{{ type }}" options="options"></io-barcode>
            </div>
            <div ng-if="!homeFacility.sdp && status === 'REGISTERED'"  class="span2 col-md-12 col-sm-12 col-xs-12">
                Batch Number: <io-barcode  code="{{code}}" type="{{ type }}" options="options"></io-barcode>
            </div>
            <div class="span2">
                PatientID:{{sampleToShow.patientId}}
            </div>
            <div class="span2">
                Facility: {{sampleToShow.facility}}
            </div>
            <div class="span2">
                District: {{sampleToShow.district}}
            </div>

            <div class="span2">
                Region: {{sampleToShow.region}}
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <input type="button" id="issueSubmit"
               class="btn btn-primary save-button"
               ng-click="printSample(sampleToShow)"
               openlmis-message="button.print"/>

        <input type="button" ng-click="hideSampleModal();" class="btn btn-cancel"
               openlmis-message="button.cancel"/>
    </div>
</div>
