<div></div>
<!--<div class="app-form vaccine-form-filter">
    <form ng-submit="filterGrid()" name="filterForm" novalidate>
        <div filter-container class="clearfix">
            <vaccine-stock-date-filter default="defaultToDate" class="form-cell horizontalFilters"
                                       cm-model="myStock.toDate"
                                       on-change="facilityInventoryStockStatusCallback(myStock)">

            </vaccine-stock-date-filter>
        </div>
    </form>
</div>-->

<div ng-show="getByAgeLessThan2.dataPoints">
    <c3chart bindto-id="total-Test" show-labels="true"
             chart-data="getByAgeLessThan2.dataPoints"
             chart-columns="getByAgeLessThan2.dataColumns"
             chart-x="getByAgeLessThan2.dataX"
            >
        <chart-group group-values="suppressed,notsuppressed"/>
        <chart-axis>
            <chart-axis-x axis-position="outer-center"

                          padding-top="100"
                          padding-bottom="1"
                          axis-type="category"
                          axis-label="Age"
                    >
            </chart-axis-x>
            <chart-axis-y axis-position="outer-middle"
                          axis-label="Tests"
                    >
            </chart-axis-y>
        </chart-axis>

        <chart-line step-type="step" connect-null="true"/>
    </c3chart>
</div>
<div style="font-weight: bold" ng-show="getByAgeLessThan2.dataPoints==0"
     openlmis-message="label.report.no.data.to.show"></div>