<!--<div class="app-form vaccine-form-filter">
    <form novalidate>
    &lt;!&ndash;<div  class="clearfix">&ndash;&gt;
    &lt;!&ndash;<vaccine-product-filter default="defaultProduct" class="form-cell horizontalFilters"  cm-model="filter.districtStock.product" on-change="districtStockCallback()"></vaccine-product-filter>&ndash;&gt;
    &lt;!&ndash;<vaccine-monthly-period-tree-filter default="defaultMonthlyPeriod" cm-model="filter.districtStock.period"  class="form-cell horizontalFilters" on-change="districtStockCallback()"></vaccine-monthly-period-tree-filter>&ndash;&gt;
    &lt;!&ndash;</div>&ndash;&gt;
        &lt;!&ndash;<input style="width: 100px; height:20px "&ndash;&gt;
        &lt;!&ndash;name="searchDate"&ndash;&gt;
        &lt;!&ndash;type="text"&ndash;&gt;
        &lt;!&ndash;ng-change="facilityInventoryStockStatusCallback(toDate)"&ndash;&gt;
        &lt;!&ndash;ui-date="{dateFormat: 'dd/mm/yy', changeYear: true, maxDate:'today'}"&ndash;&gt;
        &lt;!&ndash;ng-model="toDate"&ndash;&gt;
        &lt;!&ndash;ui-date-format="yy-mm-dd"/>&ndash;&gt;
    </form>
    <br/><br/><br/>
</div>-->
<div ng-show="vlResult.dataPoints">

    <c3chart bindto-id="totalResult" show-labels="true"
             chart-data="vlResult.dataPoints"
             chart-columns="vlResult.dataColumns"
            >
        <chart-pie expand="true"/>
    </c3chart>
</div>
<div style="font-weight: bold" ng-show="vlResult.dataPoints == 0"
     openlmis-message="label.report.no.data.to.show"></div>