<div></div>
<style>
    .input-large {
    width: 80px;
    }
</style>
<!--<div class="app-form vaccine-form-filter">
    <form novalidate>
        <div class="clearfix">
            <vaccine-stock-date-filter default="defaultToDate" class="form-cell horizontalFilters"
                                       cm-model="mySupervisedFilter.date"
                                       on-change="mySupervisedFacilitiesCallback(mySupervisedFilter)">

            </vaccine-stock-date-filter>
                <vaccine-stock-facility-level-filter
                        default="defaultLevel" class="form-cell horizontalFilters"
                        cm-model="mySupervisedFilter.level"
                        on-change="mySupervisedFacilitiesCallback(mySupervisedFilter)">

                </vaccine-stock-facility-level-filter>

            <vaccine-product-filter style="margin-top:2px" default="defaultProduct" class="form-cell horizontalFilters"
                                        cm-model="mySupervisedFilter.product"
                                        on-change="mySupervisedFacilitiesCallback(mySupervisedFilter)">

                </vaccine-product-filter>

            <range-pagination style="margin-top:-1px" field-label="label.facility" class="form-cell horizontalFilters"
                              total="mySupervisedFilterTotal" range="mySupervisedFacilityFilterSize"
                              offset="mySupervisedFilter.page" label-all="all facility"
                              on-change="mySupervisedFacilitiesPagination(mySupervisedFilter.page)"></range-pagination>


        </div>
    </form>
</div>-->

<div ng-show="testingTrend.dataPoints">
    <c3chart bindto-id="lab-performance" show-labels="true"
             chart-data="testingTrend.dataPoints"
             chart-columns="testingTrend.dataColumns"
             chart-x="testingTrend.dataX"
             padding-bottom="10">
        <chart-legend show-legend="true"/>
        <chart-group group-values="wholeblood,plasma"/>
        <chart-axis>
            <chart-axis-x axis-position="outer-center"
                          axis-label="LAB"
                          axis-type="category"
                    >
            </chart-axis-x>
            <chart-axis-y axis-position="outer-middle"
                          axis-label="Tests"
                          padding-top="4"
                          padding-bottom="0"
                          range-min="0"
                    >
            </chart-axis-y>
        </chart-axis>
    </c3chart>


</div>
<div style="font-weight: bold" ng-show="mySupervisedFacilityStock.dataPoints==0"
     openlmis-message="label.report.no.data.to.show"></div>