<div ng-hide="accountPackages" openlmis-message="msg.loading"></div>
<div class="clearfix"></div>

<div>
    <h2>
        <span id="rolesHeader">Account Packages</span>
        <a id="role-add-new" ng-href="#/create" class="pull-right btn btn-primary"
           openlmis-message="button.add.new"></a>
    </h2>

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-bind="message" ng-show="message"/>
    <table class="table table-striped table-bordered" ng-show="accountPackages">
        <thead>
        <tr class="gradient-header">
            <th id="nameHeader" openlmis-message="header.name"></th>
            <th id="descriptionHeader" openlmis-message="label.description"></th>
            <th id="periodHeader">Period (Number Of Days)</th>
            <th id="priceHeader">Price</th>

            <th id="typeHeader">Display Order</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="package in accountPackages">
            <td><a id="name{{$index}}" ng-href="#/edit/{{package.id}}">{{package.name}}</a></td>
            <td id="description{{$index}}" ng-bind="package.description"></td>
            <td id="period{{$index}}" ng-bind="package.period"></td>
            <td id="price{{$index}}" ng-bind="package.price"></td>
            <td id="displayOrder{{$index}}" ng-bind="package.displayOrder"></td>
            <td align="center">
                <button class="btn  btn-danger" ng-click="delete(package.id);">Delete</button>
            </td>

        </tr>
        </tbody>
    </table>
</div>
