<div ng-hide="clientTypes" openlmis-message="msg.loading"></div>
<div>
    <div ng-hide="clientTypes">
        <h2 id="addNewRoleHeader">Add New Client Type</h2>
    </div>
    <div ng-show="clientTypes">
        <h2 id="editRoleHeader">Edit Client Type</h2>
    </div>

    <form id="create-role" name="clientTypeForm" novalidate class="app-form">

        <div>
            <div class="x_panel">
                <div class="x_content">

                    <form class="form-horizontal form-label-left">

                        <br>
                        <fieldset class="form-group">
                            <label for="type">Type
                                <span class="label-required"> *</span>
                            </label>
                            <input type="text" class="form-control" id="type" name="type"
                                   ng-model="clientTypes.userType" ng-required="true"
                                   placeholder=""/>
                              <span class="field-error" ng-show="!clientTypes.userType && showError"
                                    openlmis-message="missing.value"></span>
                        </fieldset>
                        <br/>

                        <fieldset class="form-group">
                            <label for="description"> Description </label>
                            <input type="text" class="form-control" id="description" name="description"
                                   ng-model="clientTypes.description"
                                   placeholder=""/>
                        </fieldset>
                        <br/>

                        <fieldset class="form-group">
                            <label for="displayOrder">Display Order</label>
                            <input type="text" class="form-control" id="displayOrder" name="displayOrder"
                                   ng-model="clientTypes.displayOrder"
                                   placeholder=""/>
                        </fieldset>
                        <br/>

                        <fieldset class="form-group">
                            <label for="displayOrder">Maximum Members

                            </label>
                            <input type="text" class="form-control" id="maximumMembers" name="displayOrder"
                                   ng-model="clientTypes.maximumMembers"
                                   placeholder="" ng-required="true" />
                            <span class="field-error" ng-show="!userTypes.maximumMembers && showError"
                                  openlmis-message="missing.value"></span>
                        </fieldset>
                        <br/>

                     <!--   <fieldset class="form-group">
                            <label for="extraFieldName">Extra Field Name</label>
                            <input type="text" class="form-control" id="extraFieldName" name="extraFieldName"
                                   ng-model="clientTypes.extraFieldName"
                                   placeholder=""/>
                        </fieldset>-->

                    </form>

                </div>
            </div>
        </div>


        <div class="sidebar-footer" style="width:90%;height:50px;padding:7px 9px 3px 10px">
            <div style="float:left">
                <input id="saveButton" type="button" class="btn btn-primary save-button" openlmis-message="button.save"
                       ng-click="saveClientTypes()"/>
                <input id="cancelButton" type="button" class="btn btn-primary btn-cancel save-button"
                       openlmis-message="button.cancel" ng-click="cancel();"/>
            </div>
            <div class="toolbar-error" id="saveFailMessage" openlmis-message="error" ng-show="error"></div>
        </div>
    </form>
</div>

