<style>
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
    input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
    .uneditable-input {
    display: inline-block;
    height: 30px !important;
    padding: 4px 6px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    }

    /* .modal {
    display: block;
    }

    .hide {
    display: none;
    }*/

    .table-bordered{
    border:1px solid #ddd;border-collapse:collapse !important;
    }


</style>

<div ng-hide="rights && role" openlmis-message="msg.loading"></div>
<div ng-show="rights && role">
    <div ng-hide="role.id">
        <h2 id="addNewRoleHeader" openlmis-message="create.role.addNew"></h2>
    </div>
    <div ng-show="role.id">
        <h2 id="editRoleHeader" openlmis-message="edit.role.edit"></h2>
    </div>

    <form ng-submit="saveRole()" id="create-role" name="roleForm" novalidate>
        <div class="app-form roles-form" tab-scroll>
            <div class="row-fluid clearfix">
                <div class="span5">
                    <label id="roleNameLabel" for="name">
                        <span openlmis-message="create.role.roleName"></span>
                        <span class="label-required">*</span>
                    </label>

                    <input ng-model="role.name" name="name" id="name" type="text" maxlength="50" ng-required="true"/>
          <span class="field-error" ng-show="roleForm.name.$error.required && showError"
                openlmis-message="missing.value">
          </span>
                </div>
            </div>

            <div class="row-fluid clearfix">
                <div class="span5">
                    <label id="roleDescriptionLabel" for="description"
                           openlmis-message="create.role.description"></label>
                    <input ng-model="role.description" name="description" id="description" type="text" maxlength="250"/>
                </div>
            </div>

            <div class="form-group clearfix">
                <h3 id="assignRightsLabel">
                    <span openlmis-message="create.role.assignRights"></span>
                    <span class="label-required">*</span>
                </h3>
                <br/>
                <label id="roleMixedWarning" class="role-mixed-warning">
                    <span class="roles-note" openlmis-message="create.role.mixed.warning"></span>
                </label>

                <div class="row-fluid">
                    <div class="span12">
                        <table id="rightsTable" class="rights-table table table-bordered">
                            <thead>
                            <tr>
                                <th ng-click='showRoleTypeModal("ADMIN")'>
                                    <div class="form-inline" ng-class="{'is-selected': currentRightType == 'ADMIN'}">
                                        <label id="adminRoleType">
                                            <h4 openlmis-message="create.role.adminRights"></h4>
                                        </label>
                                    </div>
                                </th>
                                <th ng-click='showRoleTypeModal("REPORT")'>
                                    <div class="form-inline" ng-class="{'is-selected': currentRightType == 'REPORT'}">
                                        <label id="reportRoleType">
                                            <h4 openlmis-message="create.role.report.rights"></h4>
                                        </label>
                                    </div>
                                </th>
                                <th ng-click='showRoleTypeModal("LAB")'>
                                    <div class="form-inline" ng-class="{'is-selected': currentRightType == 'LAB'}">
                                        <label id="reportingRoleType">
                                            <h4> LAB Rights</h4>
                                        </label>
                                    </div>
                                </th>
                                <th ng-click='showRoleTypeModal("HUB")'>
                                    <div class="form-inline" ng-class="{'is-selected': currentRightType == 'HUB'}">
                                        <label id="allocationRoleType">
                                            <h4> Hub Rights</h4>
                                        </label>
                                    </div>
                                </th>

                                <!--     <th ng-click='showRoleTypeModal("FULFILLMENT")'>
                                         <div class="form-inline" ng-class="{'is-selected': currentRightType == 'FULFILLMENT'}">
                                             <label id="fulfillmentRoleType">
                                                 <h4 openlmis-message="label.fulfillment.based.rights"></h4>
                                             </label>
                                         </div>
                                     </th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td ng-class="{'is-disabled': currentRightType != 'ADMIN'}">
                                    <div id="rights-{{right.name}}" class="checkbox-list clearfix"
                                         ng-repeat="right in adminRights" tab-scroll>
                                        <input id="{{right.name}}" type="checkbox"
                                               ng-click="updateRights(right)"
                                               ng-model="right.selected"
                                               ng-checked="false"
                                               ng-disabled="areRelatedFieldsSelected(right) || currentRightType != 'ADMIN'"/>
                                        <label for="{{right.name}}">{{right.name}}</label>
                                    </div>
                    <span class="field-error" ng-show="showRightError && currentRightType=='ADMIN'"
                          openlmis-message="create.role.selectRightWarning">
                    </span>
                                </td>

                                <td ng-class="{'is-disabled': currentRightType != 'REPORT'}">
                                    <div id="reportRights-{{reportRight.name}}" class="checkbox-list clearfix"
                                         ng-repeat="reportRight in reportRights" tab-scroll>
                                        <input id="{{reportRight.name}}" type="checkbox"
                                               ng-click="updateRights(reportRight)"
                                               ng-model="reportRight.selected"
                                               ng-checked="false">
                                        <label for="{{reportRight.name}}">
                                            <span ng-if="reportRight.name === 'MANAGE_REPORT'">{{reportRight.name}}</span>

                        <span ng-if="reportRight.name !== 'MANAGE_REPORT'">
                          <span>View - {{reportRight.name}}</span>
                        </span>
                                        </label>
                                    </div>
                    <span class="field-error" ng-show="showRightError && currentRightType == 'REPORT'"
                          openlmis-message="create.role.selectRightWarning">
                    </span>
                                </td>

                                <td ng-class="{'is-disabled': currentRightType != 'LAB'}">
                                    <div id="labRights-{{labRight.name}}" class="checkbox-list clearfix"
                                         ng-repeat="labRight in labRights" tab-scroll>
                                        <input id="{{labRight.name}}" type="checkbox"
                                               ng-click="updateRights(labRight)"
                                               ng-model="labRight.selected"
                                               ng-checked="false"
                                               ng-disabled="areRelatedFieldsSelected(labRight) || currentRightType != 'LAB'"/>
                                        <label for="{{labRight.name}}">{{labRight.name}}</label>
                                    </div>
                    <span class="field-error" ng-show="showRightError && currentRightType=='LAB'"
                          openlmis-message="create.role.selectRightWarning">
                    </span>
                                </td>

                                <td ng-class="{'is-disabled': currentRightType != 'HUB'}">
                                    <div id="hubRights-{{hubRight.name}}" class="checkbox-list clearfix"
                                         ng-repeat="hubRight in hubRights" tab-scroll>
                                        <input id="{{hubRight.name}}" type="checkbox"
                                               ng-click="updateRights(hubRight)"
                                               ng-model="hubRight.selected"
                                               ng-checked="false"
                                               ng-disabled="areRelatedFieldsSelected(hubRight) || currentRightType != 'HUB'"/>
                                        <label for="{{hubRight.name}}">{{hubRight.name}}</label>
                                    </div>
                    <span class="field-error" ng-show="showRightError && currentRightType=='HUB'"
                          openlmis-message="create.role.selectRightWarning">
                    </span>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div style="width:90%;height:50px;padding:7px 9px 3px 10px" class="sidebar-footer">
            <!--    <div style="float:left">
                    <input id="saveButton" type="submit" class="btn btn-primary save-button" openlmis-message="button.save"/>
                    <a id="cancelButton" ng-href="#/list" class="btn btn-cancel save-button" openlmis-message="button.cancel"></a>
                </div>-->


            <div style="float:left">
                <input id="saveButton" type="submit" class="btn btn-primary save-button"
                       openlmis-message="button.save" ng-click="save()"/>
                <input id="cancelButton" type="button" class="btn btn-cancel" openlmis-message="button.cancel"
                       ng-click="cancel()"/>
            </div>


            <div class="toolbar-error" id="saveFailMessage" openlmis-message="error" ng-show="error"></div>
        </div>
    </form>
</div>
