<style>
    .table-bordered{
    border:1px solid #ddd;border-collapse:collapse !important;
    }
</style>
<div ng-hide="roles" openlmis-message="msg.loading"></div>
<div class="clearfix"></div>

<div ng-show="roles">
    <h2>
        <span id="rolesHeader" openlmis-message="roles.header"></span>
        <a id="role-add-new" ng-href="#/create" class="pull-right btn btn-primary"
           openlmis-message="button.add.new"></a>
    </h2>

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-bind="message" ng-show="message"/>
    <table class="table table-striped table-bordered">
        <thead>
        <tr class="gradient-header">
            <th id="nameHeader" openlmis-message="header.name"></th>
            <th id="descriptionHeader" openlmis-message="label.description"></th>
            <th id="rightsHeader" openlmis-message="header.rights"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="role in roles">
            <td><a id="role{{$index}}" ng-href="#/edit/{{role.id}}">{{role.name}}</a></td>
            <td id="description{{$index}}" ng-bind="role.description"></td>
            <td>
                <div ng-repeat="right in role.rights">
                    <div id="right{{$parent.$index}}{{$index}}">
                        <!--         <span ng-if="right.displayNameKey != null" openlmis-message="right.displayNameKey"></span>
                     <span ng-if="right.type === 'REPORTING' && right.name !== 'MANAGE_REPORT'">
                       <span openlmis-message="label.reporting.right.view"></span>-->

                        <span>{{right.name}}</span>

                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
