<div id="popup-box" ng-form="addNewMember" modal="newMemberModal"
     options="{'backdrop':'static', 'escape':false}"
     style="width:80% !important;margin-left:-40% !important;">

    <div class="modal-header">
        <h3>Add <span>Member</span></h3>
    </div>

    <div class="modal-body">
        <div class="row-fluid addForm" ng-form="addMember">
            <div class="span12 col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" style="">
                    <!--<div class="x_title">-->
                    <!--</div>-->
                    <div class="clearfix"></div>
                    <div class="x_content">
                        <div class="row-fluid">
                            <div class="span6">
                                <fieldset class="form-group">
                                    <label for="username">User Name
                                        <span class="label-required"> *</span>
                                    </label>
                                    <input style="width:70% !important" name="userName" type="text" class="form-control"
                                           id="username"
                                           ng-model="memberToAdd.userName"
                                           placeholder="" ng-required="true">
                                    <span class="field-error" ng-show="!client.userTypeId && showError">Username name is required</span>
                                </fieldset>

                                <fieldset class="form-group">
                                    <label for="firstName">First Name
                                        <span class="label-required"> *</span>
                                    </label>
                                    <input style="width:70% !important" name="firstName" type="text"
                                           class="form-control" id="firstName"
                                           ng-model="memberToAdd.firstName"
                                           placeholder="" ng-required="true">
                                    <span class="field-error" ng-show="!client.userTypeId && showError">First name is required</span>
                                </fieldset>

                                <fieldset class="form-group">
                                    <label for="lastName">Last Name
                                        <span class="label-required"> *</span>
                                    </label>
                                    <input style="width:70% !important" name="lastName" type="text" class="form-control"
                                           id="lastName"
                                           ng-model="memberToAdd.lastName"
                                           placeholder="" ng-required="true">
                                    <span class="field-error" ng-show="!client.userTypeId && showError">Last name is required</span>
                                </fieldset>

                                <fieldset class="form-group">
                                    <label for="gender">Gender
                                        <span class="label-required"> *</span>
                                    </label>
                                    <select id="gender" ng-required="true" ui-select2
                                            style="width:70% !important;" ng-model="memberToAdd.gender">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                    <span class="field-error" ng-show="!client.userTypeId && showError">Gender name is required</span>
                                </fieldset>

                                <fieldset class="form-group">
                                    <label for="dateOfBirth">Date of Birth
                                        <span class="label-required"> *</span>
                                    </label>
                                    <input ng-required="true" id="dateOfBirth" rsmdatedropdowns
                                           ng-model="memberToAdd.dateOfBirth">

                                    <span class="field-error"
                                          ng-show="!client.userTypeId && showError">Date of Birth is required</span>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label for="lastName">Occupation
                                    </label>
                                    <input style="width:70% !important" name="occupation" type="text"
                                           class="form-control" id="occupation"
                                           ng-model="memberToAdd.occupation"
                                           placeholder="">
                                </fieldset>
                                <fieldset class="form-group">
                                    <label for="email">Email</label>
                                    <input style="width:70% !important" type="text" class="form-control" id="email"
                                           ng-model="memberToAdd.email"
                                           placeholder="">
                                </fieldset>
                            </div>

                            <div class="span6">
                                <fieldset class="form-group">
                                    <label for="cellPhone">Cell Phone
                                        <span ng-show="account.members.length ===0" class="label-required"> *</span>
                                        (e.g. 255785000000)
                                    </label>
                                    <input style="width:70% !important" name="cellPhone" type="text"
                                           class="form-control" id="cellPhone"
                                           ng-model="memberToAdd.cellPhone"
                                           placeholder="" ng-required="account.members.length ===0">
                                    <span class="field-error" ng-show="!client.userTypeId && showError">Cell phone is required</span>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label for="cellPhone">Alternative Cell Phone
                                    </label>
                                    <input style="width:70% !important" name="alternativeCellPhone" type="text"
                                           class="form-control"
                                           id="alternativeCellPhone"
                                           ng-model="memberToAdd.alternativeCellPhone"
                                           placeholder="">
                                </fieldset>
                                <fieldset class="form-group">
                                    <label for="gender">Nationality
                                        <span class="label-required"> *</span>
                                    </label>
                                    <select id="nationality" ng-required="true" ui-select2
                                            ng-change="GetRegions()"
                                            style="width:70% !important;" ng-model="memberToAdd.countryId">
                                        <option value="">-Select Country-</option>
                                        <option ng-repeat="c in countries" value="{{c.id}}">{{c.name}}</option>
                                    </select>
                                    <span class="field-error" ng-show="!client.userTypeId && showError">Nationality is required</span>
                                </fieldset>

                                <fieldset class="form-group">
                                    <label for="firstName">Region
                                        <span class="label-required"> *</span>
                                    </label>
                                    <select ng-disabled="memberToAdd.countryId == undefined" id="region" ui-select2
                                            class="input-large" ng-required="true"
                                            ng-change="GetDistricts()"
                                            style="width: 70% !important;" ng-model="memberToAdd.regionId">
                                        <option value="">-Select Region-</option>
                                        <option ng-repeat="r in regions" value="{{r.id}}">{{r.name}}</option>
                                    </select>
                                    <span class="field-error" ng-show="!client.userTypeId && showError">Region is required</span>
                                </fieldset>

                                <fieldset class="form-group">
                                    <label for="firstName">District
                                        <span class="label-required"> *</span>
                                    </label>
                                    <select ng-disabled="memberToAdd.regionId == undefined" id="district" ui-select2
                                            class="input-large" ng-required="true"
                                            style="width: 70% !important;" ng-model="memberToAdd.geographicZoneId">
                                        <option value="">-Select District-</option>
                                        <option ng-repeat="d in districts" value="{{d.id}}">{{d.name}}</option>
                                    </select>
                                    <span class="field-error" ng-show="!client.userTypeId && showError">District is required</span>
                                </fieldset>

                                <fieldset class="form-group">
                                    <label for="street">Street Address</label>
                                    <input style="width:70% !important" type="text" class="form-control" id="street"
                                           ng-model="memberToAdd.address"
                                           placeholder=""
                                            >
                                </fieldset>

                                <fieldset class="form-group">
                                    <label for="ward">Ward</label>
                                    <input style="width:70% !important" type="text" class="form-control" id="ward"
                                           ng-model="memberToAdd.ward"
                                           placeholder=""
                                            >
                                </fieldset>

                            </div>


                        </div>

                    </div>
                </div>
                </div>

        </div>
    </div>

    <div class="modal-footer">
        <input type="button" id="issueSubmit"
               class="btn btn-primary save-button"
               ng-click="addAccountMember()"
               ng-disabled="addMember.$invalid"
               openlmis-message="button.add"/>

        <input type="button" ng-click="cancelAddModal();" class="btn btn-cancel"
               openlmis-message="button.cancel"/>
    </div>
</div>
