<style>
    @heading-green: #17888F;
    .input-append, .input-prepend {
    margin-bottom: 5px;
    font-size: 0;
    white-space: nowrap;
    }

    a:hover {
    color: #055e74;
    }
    td a{
    color:#055e74 !important; ;
    }
    a:hover {
    color: #055e74;
    }
    a:hover {
    color: #005580;
    text-decoration: underline;
    }
    a:hover, a:active {
    outline: 0;
    }

    .alert-success {
    color: #468847 !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    }

    h2 {
    font-size: 3em;
    font-weight: normal;
    }

    h2 {
    margin-top: 0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.4em;
    font-weight: normal;
    color: #17888F;
    }

    h2 {
    margin-top: 0;
    border-bottom: 1px solid #d6d6d6;
    font-size: 1.4em;
    font-weight: normal;
    color: #17888f;
    line-height: 40px;
    }
    tr.unsaved td{
    background:#FCF8E3 !important;
    }

    /*font-size: 18px;
    font-weight: 400; */
    }

</style>
<div xmlns="http://www.w3.org/1999/html">
    <div class="clearfix"></div>
    <h2>
        <span>Search Account</span>
        <a href="#/create-user" id="userAddNew" class="pull-right btn btn-primary">Create New Account</a>
    </h2>

    <div class="fadeout alert alert-success" id="showAccountSaveSuccessFull" ng-show="showAccountSaveSuccessFull">
        <span ng-show="successfulReference !== undefined">Account successful created with reference Number&nbsp;{{successfulReference}}</span>
        <span ng-show="successfulReference === undefined">Account successful saved</span>
        <a id="viewHereLink" href="" ng-click="edit(userId)"></a>
    </div>

    <div id="searchControl" class="row-fluid" style="border-bottom:1px solid #E6E9ED">
        <div class="span6 search-in-category">
            <div class="input-append input-prepend">
                <div class="btn-group">
                    <button id='searchOptionButton' class="btn dropdown-toggle">
                        <span id="selectedSearchOption">{{selectedSearchOption.name}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="searchOption in searchOptions">
                            <a id="searchOption{{$index}}" href=""
                               ng-click="selectSearchType(searchOption)">{{searchOption.name}}</a>
                        </li>
                    </ul>
                </div>
                <input style="height:30px !important" placeholder="{{selectedSearchOption.placeholder}}"
                       id='searchGeoZone' type="text" class="span6" ng-model="query" maxlength="50"
                       ng-keydown="triggerSearch($event)" autocomplete="off"/>
                <button ng-disabled="selectedSearchOption.value===''" class="btn" ng-click="search(1)">
                    <i id='searchIcon' class="icon-search"></i>
                </button>
            </div>
        </div>
    </div>


    <br/>

    <div class="fadeout alert alert-success" ng-show="messageSent == true"
         openlmis-message="label.message.sent"></div>
    <div class="row-fluid" ng-show="account !== undefined && account !== null">
        <div class="span12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Account Information</h2>
                    <input style="float:right" id="addCredit" type="submit"
                           value="Balance({{account.wallet.balance}} TSHs)"
                           class="btn btn-primary save-button"
                           ng-disabled="account === undefined"
                           ng-click="showBalanceModal()"/>
                    <input style="float:right" id="sendInvoice" type="submit"
                           value="Send Invoice SMS"
                           class="btn btn-primary save-button"
                           ng-disabled="account === undefined"
                           ng-click="sendInvoiceSMS(account.referenceNumber)"/>
                    <input style="float:right" id="sendPinSMS" type="submit"
                           value="Send PIN SMS"
                           class="btn btn-primary save-button"
                           ng-disabled="account === undefined"
                           ng-click="sendPINSMS(account.referenceNumber)"/>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="alert alert-success" ng-show="saveAccountSuccess">Save Successful</div>

                    <form class="form-inline form-label-left">
                        <div class="row-fluid">
                            <div class="span3 col-md-3 col-sm-12 col-xs-12">
                                <fieldset class="form-group">
                                    <label for="referenceNumber">Reference Number</label>
                                    <div id="referenceNumber" ng-bind="account.referenceNumber"></div>
                                </fieldset>
                            </div>
                            <div class="span3 col-md-2 col-sm-12 col-xs-12">
                                <fieldset class="form-group">
                                    <label for="accountType">Account Type</label>
                                    <div id="accountType" ng-bind="account.accountType.name"></div>
                                </fieldset>
                                <div ng-show="account.accountType.organization==true">({{account.organization.name}})
                                </div>
                            </div>
                            <div class="span3 col-md-2 col-sm-12 col-xs-12">
                                <fieldset class="form-group">
                                    <label for="accountPackage">Account Package</label>

                                    <div id="accountPackage" ng-bind="account.accountPackage.name"></div>
                                </fieldset>
                            </div>
                            <div class="span3 col-md-2 col-sm-12 col-xs-12">
                                <fieldset class="form-group">
                                    <label for="registeredDate">Registered Date</label>

                                    <div id="registeredDate">
                                        {{account.registrationDate | date: 'dd/MM/yyyy'}}
                                    </div>
                                </fieldset>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="span12" style="margin-left:0px !important">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Account Members</h2>

                    <input style="float:right;margin-top:6px" id="addMember" type="submit" value="Add"
                           class="btn btn-primary save-button"
                           value="Add Member"
                           ng-click="showAddModal()"/>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="rnr-table">
                        <table id="podTable4" class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="max-width:60px !important; width:60px !important" class="col-product"><span>Set Default</span>
                                </th>
                                <th style="max-width:150px !important; width:150px !important" class="col-product">
                                    <span>First Name</span></th>
                                <th style="max-width:150px !important; width:150px !important" class="col-product">
                                    <span>Last Name</span></th>
                                <th style="max-width:150px !important; width:150px !important" class="col-product">
                                    <span>PIN Code</span></th>
                                <th style="max-width:150px !important; width:150px !important" class="col-product">
                                    <span>Status</span></th>
                                <th style="max-width:150px !important; width:150px !important" class="col-product">
                                    <span>Renew Date</span></th>
                                <th style="max-width:80px !important; width:80px !important" class="col-product"><span>Gender</span>
                                </th>
                                <th style="max-width:50px !important; width:50px !important" class="col-product">
                                    <span>Age</span></th>
                                <th style="max-width:120px !important; width:120px !important" class="col-product">
                                    <span>Cell Phone</span></th>
                                <th style="max-width:120px !important; width:120px !important" class="col-product">
                                    <span>District</span></th>
                                <!--<th style="max-width:120px !important; width:120px !important" class="col-product">-->
                                <!--<span>Address</span></th>-->
                                <th style="max-width:120px !important; width:120px !important" class="col-product">
                                    <span>Occupation</span></th>

                                <th style="max-width:80px !important; width:80px !important" class="col-product"><span>Action</span>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="member in account.members"
                                ng-class="{'unsaved':member.unsaved}">
                                <td>
                                    <input ng-value="true"
                                           ng-change="defaultMember(member)"
                                           type="radio"
                                           name="member{{$index}}_default"
                                           ng-model="member.default">
                                </td>
                                <td ng-bind="member.user.firstName"></td>
                                <td ng-bind="member.user.lastName"></td>
                                <td ng-bind="member.memberPinCode"></td>
                                <td>
                                    <span ng-show="member.active">Active</span>
                                    <span ng-show="!member.active">Inactive</span>
                                </td>
                                <td>{{member.expirationDate | date:'dd/MM/yyyy' }}</td>
                                <td ng-bind="member.user.gender"></td>
                                <td>
                                    {{member.user.dateOfBirth | ageFilter}}
                                </td>
                                <td ng-bind="member.user.cellPhone"></td>
                                <td ng-bind="member.user.geographicZone.district"></td>
                                <!--<td ng-bind="member.user.address"></td>-->
                                <td ng-bind="member.user.occupation"></td>

                                <td>
                                    <input id="deleteMember" type="submit" value="Add"
                                           class="btn btn-danger small save-button"
                                           openlmis-message="delete"
                                           ng-click="removeMember(member)"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination total-items="totalItems" page="currentPage" max-size="5"
                                    items-per-page="pagination.limit"
                                    direction-links="false" class="pagination-sm"></pagination>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="row-fluid" ng-show="members !== undefined && members !== null">
        <div class="span12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Clients</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="rnr-table">
                        <table id="podTable3" class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="max-width:150px !important; width:150px !important" class="col-product">
                                    <span>First Name</span></th>
                                <th style="max-width:150px !important; width:150px !important" class="col-product">
                                    <span>Last Name</span></th>
                                <th style="max-width:150px !important; width:150px !important" class="col-product">
                                    <span>PIN Code</span></th>
                                <th style="max-width:150px !important; width:150px !important" class="col-product">
                                    <span>Acc Ref. #</span></th>
                                <th style="max-width:150px !important; width:150px !important" class="col-product">
                                    <span>Status</span></th>
                                <th style="max-width:150px !important; width:150px !important" class="col-product">
                                    <span>Package</span></th>
                                <th style="max-width:80px !important; width:80px !important" class="col-product"><span>Gender</span>
                                </th>
                                <th style="max-width:100px !important; width:40px !important" class="col-product">
                                    <span>Age</span></th>
                                <th style="max-width:120px !important; width:120px !important" class="col-product">
                                    <span>Cell Phone</span></th>
                                <th style="max-width:120px !important; width:120px !important" class="col-product">
                                    <span>District</span></th>
                                <th style="max-width:120px !important; width:120px !important" class="col-product">
                                    <span>Address</span></th>
                                <th style="max-width:120px !important; width:120px !important" class="col-product">
                                    <span>Occupation</span></th>
                                <th style="max-width:80px !important; width:80px !important" class="col-product"><span>Action</span>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-if="members.length===0">
                                <td colspan="12"> No member found</td>
                            </tr>
                            <tr ng-repeat="member in members "
                                ng-class="{'unsaved':member.unsaved}">
                                <td ng-bind="member.user.firstName"></td>
                                <td ng-bind="member.user.lastName"></td>
                                <td ng-bind="member.memberPinCode"></td>
                                <td>
                                    <a href ng-click="goToAccount(member.account.referenceNumber)">{{member.account.referenceNumber}}</a>
                                </td>
                                <td>
                                    <span ng-show="member.active">Active</span>
                                    <span ng-show="!member.active">Inactive</span>
                                </td>
                                <td ng-bind="member.account.accountPackage.name"></td>
                                <td ng-bind="member.user.gender"></td>
                                <td>
                                    {{member.user.dateOfBirth | ageFilter}}
                                </td>
                                <td ng-bind="member.user.cellPhone"></td>
                                <td ng-bind="member.user.geographicZone.district"></td>
                                <td ng-bind="member.user.address"></td>
                                <td ng-bind="member.user.occupation"></td>
                                <td>
                                    <input id="deleteMember3" type="submit" value="Add"
                                           class="btn btn-danger small save-button"
                                           openlmis-message="Deactivate"
                                           ng-click="removeMember(member)"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination total-items="totalItems" page="currentPage" max-size="5"
                                    items-per-page="pagination.limit"
                                    direction-links="false" class="pagination-sm"></pagination>
                    </div>
                </div>
            </div>

        </div>


    </div>


    <div class="sidebar-footer" style="width:100%;height:50px;padding:7px 9px 3px 10px">
        <div style="float:left">
            <input id="userSaveButton" type="submit" value="Save" class="btn btn-primary save-button"
                   openlmis-message="button.save"
                   ng-disabled="accountForm.$invalid || account.members.length ===0"
                   ng-click="saveAccount()"/>

            <input id="userCancelButton" type="button" class="btn btn-cancel save-button"
                   openlmis-message="button.cancel"
                   ng-click="cancel()"/>

        </div>
        <div class="toolbar-error" id="saveErrorMsgDiv" openlmis-message="error" ng-show="error"></div>
        <div class="toolbar-success" id="saveSuccessMsgDiv" ng-show="message"><span
                style="text-align: right"></span></div>
    </div>

</div>

</div>


<div non-scope-ng-include template-path="/public/pages/client/partials/add-member-modal.html"></div>
<div non-scope-ng-include template-path="/public/pages/client/partials/account-balance-modal.html"></div>

