<style>
    .table-bordered{
        border:1px solid #ddd;border-collapse:collapse !important;
    }

</style>

<div ng-hide="geoLevel" openlmis-message="msg.loading"></div>
<div xmlns="http://www.w3.org/1999/html" tab-scroll>

    <div ng-hide="regimen.id"><h2 id="addNewGeoZoneHeader">Add Regimen</h2></div>
    <div ng-show="regimen.id"><h2 id="editGeoZoneHeader">Edit Regimen</h2></div>


    <form id="create-role" name="regimenForm" novalidate class="app-form">

        <div>
            <div class="x_panel">
                <div class="x_content">


                    <div form-horizontal form-label-left>
                        <label id="parentLabel">Regimen Lines</label>

                        <div class="form-field row-fluid">
                            <select ui-select2="{width: '90%'}" class="span11" id="selectParentGeoZone" ng-model="regimen.regimenLineId"
                                    openlmis-message="label.select.parent.zone">
                                <option value=""></option>

                                    <option ng-repeat="regimen in regimenLines "
                                            value="{{ regimen.id }}">
                                        {{ regimen.name }}
                                    </option>

                            </select>
              <span class="field-error" ng-show="regimenForm.code.$error.required && showError"
                    openlmis-message="missing.value"></span>
                        </div>
                    </div>
                    <div class="clearfix">
                        </br>
                    </div>




                    <form class="form-horizontal form-label-left">

                        <div>
                            <fieldset class="form-group">
                                <label for="code" >Code
                                    <span class="label-required"> *</span>

                                </label>
                                <input type="text" class="form-control" id="code" name="code"
                                       ng-model="regimen.code"
                                       placeholder="" ng-required="true">

                                 <span class="field-error" ng-show="!regimen.code && showError"
                                       openlmis-message="missing.value"></span>
                            </fieldset>
                            <br/>

                            <fieldset class="form-group">
                                <label for="name">Name
                                    <span class="label-required"> *</span>

                                </label>

                                <input type="text" class="form-control" id="name" name="name"
                                       ng-model="regimen.name"
                                       placeholder="" ng-required="true">
                                    <span class="field-error" ng-show="!regimen.name && showError"
                                          openlmis-message="missing.value"></span>

                            </fieldset>


                            <fieldset class="form-group">
                                <label for="name">DisplayOrder
                                    <span class="label-required"> *</span>

                                </label>

                                <input type="text" class="form-control" id="displayOrder" name="displayOrder"
                                       ng-model="regimen.displayOrder"
                                       placeholder="" ng-required="true">
                                    <span class="field-error" ng-show="!regimen.displayOrder && showError"
                                          openlmis-message="missing.value"></span>

                            </fieldset>

                        </div>
                    </form>

                </div>
            </div>
        </div>


        <div class="sidebar-footer" style="width:90%;height:50px;padding:7px 9px 3px 10px">
            <div style="float:left">
                <input id="saveButton" type="button" class="btn btn-primary save-button" openlmis-message="button.save"
                       ng-click="save()"/>
                <input id="cancelButton" type="button" class="btn btn-primary btn-cancel save-button"
                       openlmis-message="button.cancel" ng-click="cancel();"/>
            </div>
            <div class="toolbar-error" id="saveFailMessage" openlmis-message="error" ng-show="error"></div>
        </div>
    </form>
</div>

