<style>
    .table-bordered{
        border:1px solid #ddd;border-collapse:collapse !important;
    }

</style>

<div>
    <h2>
        <span id="rolesHeader">Regimen</span>
        <a id="role-add-new" ng-href="#/create-regimen" class="pull-right btn btn-primary"
           openlmis-message="button.add.new"></a>
    </h2>


    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="regimenId">
        <span ng-bind="message"></span>.&nbsp;&nbsp;
        <a id="viewHere" href="" ng-click="edit(regimenId)" openlmis-message="search.viewHere"></a>
    </div>

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="deleteRegimenId">
        <span ng-bind="message"></span>
    </div>
    <div class="toolbar-error" id="saveFailMessage" openlmis-message="error" ng-show="error"></div>

    <div ng-hide="regimens"> No Regimen has been Added Yet</div>

    <table class="table table-striped table-bordered" ng-show="regimens">
        <thead>
        <tr class="gradient-header">
            <th id="regimenLine"> Regimen Line</th>
            <th id="codeHeader" openlmis-message="header.code"></th>
            <th id="nameHeader" openlmis-message="header.name"></th>
            <th id="levelNumberHeader">Display Order</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="regimen in regimens">
            <td id="regimenLIne{{$index}}">{{regimen.line.name}}</td>
            <td id="code{{$index}}">{{regimen.code}}</td>
            <td><a id="name{{$index}}" ng-href="#/edit/{{regimen.id}}">{{regimen.name}}</a></td>
            <td id="levelNumber{{$index}}" ng-bind="regimen.displayOrder"></td>
            <td>
                <span> <button type="button" class="btn btn-danger" ng-click="deleteRegimen(regimen.id)">Delete
                </button></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
