<!DOCTYPE html>


<style>
    .loader {

        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;

    }
    span.year-selected a, span.location-selected a, span.month-selected a, span.period-selected a {color:#0d6369;
        font-size:15px;font-weight:bold;}
    #tat {
        width: 400px;
        height: 100px;
        margin: 1em auto;
    }
    .portlet{
        border-bottom: 1px solid #2f96b4 !important;
        box-shadow: 10px 10px 5px #888888;

    }
    .portlet2 {
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        background-color: #ffffff;
        border-bottom: 1px solid #2f96b4;
        box-shadow: 10px 10px 5px #888888;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        padding: 1px 18px 60px;
        width: 28%;
    }
    .portlet3 {
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        background-color: #ffffff;
        border-bottom: 1px solid #2f96b4;
        box-shadow: 10px 10px 5px #888888;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
        padding: 1px 18px 40px;
        width: 28%;
    }
    .left{float:left; width:33%; }
    .dashlet-container{
        min-height: 450px;
        top:auto;}
    .header-section{

    }

    .filter-place-holder{
        min-height: 40px;
    }

    tr.lot-expired td span,
    tr.lot-expired td {
        color:#d58512;
    }

    .cr {
        background-color: rgba(255, 0, 0, 0.498039);
    }
    .rp {
        background-color: rgba(255, 255, 0, 0.498039);
    }
    .pd {
        background-color: rgba(0, 255, 0, 0.498039);
    }
    .cd {
        background-color: #95CEFF;
 /*       width: 0px;
        height: 0px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid black;*/
    }
    .col-md-3 {
        width: 25%;
    }
    .key {
        font-size: 11px;
        margin-top: 0.5em;
    }
    .title-name {
        color: blue;
    }
</style>
<script type="text/ng-template" id="myModalContent.html">
    <div style="width: 800px;" class="modal-header modal-header">
        <button  class="close" ng-click="ok()">X</button>
        <h2 ng-show="!show_email"><i class="flaticon-bar"></i>Reporting Detail</h2>

        <h2 ng-show="show_email"><i class="flaticon-bar"></i>Email Notification</h2>
    </div>
    <div class="modal-body">
        <div style="font-weight: bold" ng-hide="items.length > 0" openlmis-message="label.report.no.data.to.show"></div>
        <div ng-show="show_email">
            <div>
                <p>
                    Use this form to customize and send email notifications for
                    <strong>{{selected_facility.name}}</strong>
                </p>

                <div style="padding: 10px;">
                    <div>
                        <textarea rows="4" style="width: 350px;" ng-model="email_template"></textarea>
                    </div>
                    <div>
                        Who receives this notification?
                        <div>
                            <table class="table table-bordered">
                                <tr ng-repeat="contact in contacts">
                                    <td><strong>{{contact.name}}</strong></td>
                                    <td>{{contact.contact}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row-fluid dashlet-scroll-table" ng-show="!show_email">
            <table id="fullSupplyTable" ng-show="items.length > 0"
                   class="rnr-table table-bordered table"
                   ng-table="tableParams">
                <thead>
                <tr>
                    <th>
                        <span openlmis-message="label.district">	 </span>
                    </th>
                    <th
                            >
                        <span openlmis-message="label.facility">	 </span>
                    </th>

                    <th>
                        <span openlmis-message="label.vaccine.dashboard.reportingDate"></span>

                    </th>
                    <th>
                        <span openlmis-message="label.vaccine.dashboard.reportingStatus"></span>

                    </th>
                    <th>
                        <span openlmis-message="label.vaccine.dashboard.sendReminder"></span>

                    </th>

                    <th>
                        <span openlmis-message="label.phone"></span>

                    </th>

                </tr>


                </thead>
                <tbody
                        >
                <tr ng-style="{'background-color': getBackGroundColor($index)}"
                    ng-repeat="subRow in items">

                    <td>{{ items[$index-1].district == subRow.district ? '' : subRow.district }}</td>
                    <td ng-bind="subRow.facility_name"></td>
                    <td ng-bind="subRow.reported_date| date:'dd-MMM-yyyy'"
                            />

                    <td ng-bind="subRow.reporting_status"
                            />

                    <td
                            ><input ng-if="subRow.hascontacts" ng-click="itemChecked($index)" type="checkbox"/></td>
                    <td ng-bind="subRow.mainphone"></td>
                </tr>
                </tbody>
                <tfoot>
                <td colspan="4" style="text-align: right;"><a><span style="text-align: right;"></span></a></td>
                <td style="text-align: center;"><a ng-click="emailForNonReportingFacilities()"><span
                        style="text-align: center;">Email</span></a></td>
                </tfoot>
            </table>
        </div>
        <div class="modal-footer">
            <button ng-show="show_email" class="btn btn-primary pull-right" type="button"
                    ng-click="sendVaccineFacilityEmail()">Send
            </button>
            <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Close</button>
        </div>
    </div>

</script>

<script type="text/ng-template" id="supplying.html">
    <div class="modal-header">
        <button class="close" ng-click="ok()">X</button>
        <h2><i class="flaticon-bar"></i> Pending orders</h2>
    </div>
    <div class="modal-body">
        <div style="font-weight: bold" ng-hide="items.length > 0" openlmis-message="label.report.no.data.to.show"></div>

        <div class="row-fluid dashlet-scroll-table" ng-show="!show_email">
            <table id="supplyingTable" ng-show="items.length > 0"
                   class="rnr-table table-bordered table"
                   ng-table="tableParams">
                <thead>
                <tr>
                    <th
                            style="  width: 40px">
                        <span openlmis-message="label.facility">	 </span>
                    </th>

                    <th>
                        <span openlmis-message="label.period"></span>

                    </th>
                    <th style="width: 10px">
                        <span openlmis-message="label.vaccine.report.init.status"></span>

                    </th>
                    <th style=" text-align: left;">
                        <span openlmis-message="label.date.submitted"></span>

                    </th>
                    <th style=" text-align: left;">
                        <span openlmis-message="label.action"></span>
                    </th>

                </tr>


                </thead>
                <tbody
                        >
                <tr ng-style="{'background-color': getBackGroundColor($index)}"
                    ng-repeat="subRow in items">
                    <td>{{ items[$index-1].facilityName == subRow.facilityName ? '' : subRow.facilityName }}</td>
                    <td ng-bind="subRow.periodName"></td>
                    <td ng-bind="subRow.status"></td>
                    <td ng-bind="subRow.orderDate| date:'dd-MMM-yyyy'"></td>
                    <td style=" text-align: left;"><a style="float:left"
                                                      href="/public/pages/vaccine/inventory/stock-movement/index.html#/stock-movement-view/{{subRow.programId}}/{{subRow.periodId}}/{{subRow.facilityId}}/{{subRow.facilityName}}/{{subRow.id}}?page=1"
                                                      class="btn small-btn btn-info" target="_parent">
                        <span openlmis-message="issue"></span>
                    </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-show="show_email" class="btn btn-primary pull-right" type="button"
                ng-click="sendVaccineFacilityEmail()">Send
        </button>
        <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="supplying-pending-receive.html">
    <div class="modal-header modal-header">
        <button class="close" ng-click="ok()">X</button>
        <h2><i class="flaticon-bar"></i>Pending orders</h2>
    </div>
    <div class="modal-body">
        <div style="font-weight: bold"
             ng-hide="items.supplyingPendingToReceiveLowerLevel.length > 0 || items.supplyingPendingToReceive.length >0"
             openlmis-message="label.report.no.data.to.show"></div>

        <div class="row-fluid dashlet-scroll-table" ng-show="!show_email">
            <table class="rnr-table table-bordered table"
                   ng-table="tableParams"
                   ng-show="items.supplyingPendingToReceive.length > 0">
                <thead>
                <tr class="alert alert-warning">
                    <th style="text-align: left" colspan="7">
                            <span data-toggle="tooltip"
                                  title="No functional" class="icon-warning-sign red"></span>&nbsp;&nbsp;
                        <span style="text-align: center;"> You have pending request that need to be received</span>
                    </th>
                </tr>
                <tr style="text-align:left" class="">
                    <!--<th style="width: 30px">Ordered Date</th>-->
                    <th style="width: 30px">Date Issued</th>
                    <th style="width: 40px">Issued from</th>
                    <th style="width: 30px">Status</th>
                    <th style="width: 30px">Action</th>

                </tr>

                </thead>
                <tbody>
                <tr ng-style="{'background-color': getBackGroundColor($index)}"
                    ng-repeat="alert in items.supplyingPendingToReceive">
                    <!--<td ng-bind="alert.createdDate | date:'dd-MM-yyyy'"></td>-->
                    <td ng-bind="alert.distributionDate | date:'dd-MM-yyyy'"></td>
                    <td ng-bind="alert.fromFacilityName"></td>
                    <td ng-bind="alert.status"></td>
                    <td>
                        <a class="btn-small btn-info" href="/public/pages/vaccine/inventory/index.html#/receive"
                           openlmis-message="label.vaccine.stock.receive"></a>
                    </td>
                </tr>
                </tbody>

            </table>
            <br/>
            <table
                    class="rnr-table table-bordered table"
                    ng-table="tableParams"
                    ng-show="items.supplyingPendingToReceiveLowerLevel.length > 0">
                <thead>
                <tr class="alert alert-warning">
                    <th style="text-align: left" colspan="6">
                            <span data-toggle="tooltip"
                                  class="icon-warning-sign red"></span>&nbsp;&nbsp;
                        <span style="text-align: center;">Supervised Facilities not received consignment for more than  <span>{{items.daysForUnreceivedNotification}}</span> days</span>
                    </th>
                </tr>
                <tr style="text-align:left" class="">
                    <th style="width: 40px">Store Name</th>
                    <th style="width: 30px">Date Issued</th>
                    <th style="width: 40px">Voucher #</th>
                    <th style="width: 40px">Status</th>
                    <th style="width: 40px">Phone #</th>
                </tr>

                </thead>
                <tbody>
                <tr ng-style="{'background-color': getBackGroundColor($index)}"
                    ng-repeat="alert in items.supplyingPendingToReceiveLowerLevel">
                    <td ng-bind="alert.toFacilityName"></td>
                    <td ng-bind="alert.distributionDate | date:'dd-MM-yyyy'"></td>
                    <td ng-bind="alert.voucherNumber"></td>
                    <td ng-bind="alert.status"></td>
                    <td ng-bind="alert.cellPhone"></td>
                </tr>
                </tbody>

            </table>

            <br/>


        </div>
    </div>
    <div class="modal-footer">
        <button ng-show="show_email" class="btn btn-primary pull-right" type="button"
                ng-click="sendVaccineFacilityEmail()">Send
        </button>
        <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Close</button>
    </div>
</script>
<script type="text/ng-template" id="repairing.html">
    <div class="modal-header">
        <button  class="close" ng-click="ok()">X</button>
        <h2 ng-show="!show_email"><i class="flaticon-bar"></i>Repairing</h2>

        <h3 ng-show="show_email">Email Notification</h3>
    </div>
    <div class="modal-body">
        <div style="font-weight: bold" ng-hide="items.length > 0" openlmis-message="label.report.no.data.to.show"></div>
        <div ng-show="show_email">
            <div>
                <p>
                    Use this form to customize and send email notifications for
                    <strong>{{selected_facility.name}}</strong>
                </p>

                <div style="padding: 10px;">
                    <div>
                        <textarea rows="4" style="width: 350px;" ng-model="email_template"></textarea>
                    </div>
                    <div>
                        Who receives this notification?
                        <div>
                            <table class="table table-bordered">
                                <tr ng-repeat="contact in contacts">
                                    <td><strong>{{contact.name}}</strong></td>
                                    <td>{{contact.contact}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row-fluid dashlet-scroll-table" ng-show="!show_email">
            <!--<table id="repairingTable" ng-show="items.length > 0"-->
            <!--class="rnr-table table-bordered table"-->
            <!--ng-table="tableParams">-->
            <!--<thead>-->
            <!--<tr>-->

            <!--<th-->
            <!--style="  width: 40px">-->
            <!--<span openlmis-message="label.facility">	 </span>-->
            <!--</th>-->

            <!--<th>-->
            <!--<span openlmis-message="label.vaccine.dashboard.refrigator"></span>-->

            <!--</th>-->
            <!--<th style="width: 10px">-->
            <!--<span openlmis-message="label.vaccine.dashboard.model"></span>-->

            <!--</th>-->
            <!--<th style=" text-align: center; vertical-align: middle">-->
            <!--<span openlmis-message="label.vaccine.dashboard.year"></span>-->

            <!--</th>-->
            <!--<th style=" text-align: center; vertical-align: middle">-->
            <!--<span openlmis-message="label.vaccine.dashboard.dateReported"></span>-->

            <!--</th>-->
            <!--<th style=" text-align: center; vertical-align: middle">-->
            <!--<span openlmis-message="label.vaccine.dashboard.notify"></span>-->

            <!--</th>-->


            <!--</tr>-->


            <!--</thead>-->
            <!--<tbody-->
            <!-->
            <!--<tr ng-style="{'background-color': getBackGroundColor($index)}"-->
            <!--ng-repeat="subRow in items">-->


            <!--<td>{{ items[$index-1].facility_name == subRow.facility_name ? '' : subRow.facility_name }}</td>-->
            <!--<td ng-bind="subRow.equipment_name"></td>-->
            <!--<td ng-bind="subRow.model"></td>-->
            <!--<td ng-bind="subRow.year_installed"></td>-->
            <!--<td ng-bind="subRow.date_reported| date:'dd-MMM-yyyy'"-->
            <!--/>-->


            <!--<td-->
            <!--<input ng-if="items[$index-1].facility_name != subRow.facility_name"-->
            <!--ng-bind="subRow.checked" type="checkbox"/></td>-->
            <!--</tr>-->
            <!--</tbody>-->
            <!--<tfoot>-->
            <!--<td colspan="5" style="text-align: right;"><a><span style="text-align: right;"></span></a></td>-->
            <!--<td style="text-align: center;"><a ng-click="emailForNonReportingFacilities()"><span-->
            <!--style="text-align: center;">Email</span></a>-->
            <!--<button class="btn btn-primary pull-right" type="button" ng-click="ok()">Close</button>-->
            <!--</td>-->
            <!--</tfoot>-->
            <!--</table>-->

            <table id="repairingTable" ng-show="items.length > 0"
                   class="rnr-table table-bordered table"
                   ng-table="tableParams">
                <thead>
                <tr>
                    <th style="  width: 40px">
                        <span openlmis-message="label.facility">	 </span>
                    </th>
                    <th style="width: 10px">
                        <span openlmis-message="Equipment"></span>
                    </th>
                    <th style="">
                        <span openlmis-message="label.vaccine.dashboard.dateReported"></span>
                    </th>
                    <th style="">
                        <span openlmis-message="label.reported.by"></span>
                    </th>
                </tr>

                </thead>
                <tbody ng-repeat="subRow in items">
                <tr>
                    <td colspan="4" style="background:#006dcc">{{subRow.status}}</td>
                </tr>
                <tr ng-style="{'background-color': getBackGroundColor($index)}"
                    ng-repeat="eq in subRow.data">
                    <td>{{eq.facilityName}}</td>
                    <td ng-bind="eq.model"></td>
                    <td ng-bind="eq.modifiedDate | date:'dd-MMM-yyyy'"/>
                    <td ng-bind="eq.changeBy"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-show="show_email" class="btn btn-primary pull-right" type="button"
                ng-click="sendVaccineFacilityEmail()">Send
        </button>
        <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Close</button>
    </div>
</script>

<script type="text/ng-template" id="batch-expiry.html">
    <div class="modal-header modal-header">
        <button  class="close" ng-click="ok()">X</button>
        <h2 ><i class="flaticon-bar"></i>List Of Batches Nearly To Expire</h2>


    </div>
    <div class="modal-body">
        <div style="font-weight: bold" ng-hide="items.length > 0" openlmis-message="label.report.no.data.to.show"></div>
        <div class="row-fluid dashlet-scroll-table">
            <table id="batchToExpireTable" ng-show="items.length > 0"
                   class="rnr-table table-bordered table"
                   ng-table="tableParams">
                <thead>
                <tr>

                    <th style=" text-align: left; vertical-align: middle">
                        <span openlmis-message="label.vaccine.dashboard.products"></span>

                    </th>
                    <th style=" text-align: left; vertical-align: middle">
                        <span openlmis-message="label.vaccine.dashboard.Batch"></span>

                    </th>
                    <th style=" text-align: left; vertical-align: middle">
                        <span openlmis-message="label.stock.on.hand"></span>
                    </th>


                    <th style=" text-align: left; vertical-align: middle">
                        <span openlmis-message="label.expiryDate"></span>
                    </th>
                    <th style=" text-align: left; vertical-align: middle">
                        <span openlmis-message="label.vaccine.adverse.effect.manufacturer"></span>
                    </th>

                </tr>

                </thead>
                <tbody>
                <tr ng-style="{'background-color': getBackGroundColor($index)}"
                    ng-repeat="subRow in items"
                    ng-init="subRow.hasExpired=$parent.lotHasExpired(subRow.expirationDate)"
                    ng-class="{'lot-expired':subRow.hasExpired}">

                    <td ng-bind="subRow.product"></td>
                    <td>
                        <span ng-bind="subRow.lotNumber"></span>
                        <span ng-show="subRow.hasExpired">&nbsp;(Expired)</span>
                    </td>
                    <td ng-bind="subRow.quantityOnHand | number"></td>
                    <td ng-bind="subRow.expirationDate| date:'dd-MMM-yyyy'"/>
                    <td ng-bind="subRow.manufacturerName"></td>

                </tr>
                </tbody>

            </table>
        </div>
        <div class="modal-footer">

            <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Close</button>
        </div>
    </div>

</script>





<script type="text/ng-template" id="investigating.html">
    <div class="modal-header modal-header">
        <button  class="close" ng-click="ok()">X</button>
        <h2 ><i class="flaticon-bar"></i>Investigation Detail</h2>


    </div>
    <div class="modal-body">
        <div style="font-weight: bold" ng-hide="items.length > 0" openlmis-message="label.report.no.data.to.show"></div>
        <div class="row-fluid dashlet-scroll-table">
            <table id="investigatingTable" ng-show="items.length > 0"
                   class="rnr-table table-bordered table"
                   ng-table="tableParams">
                <thead>
                <tr>

                    <th
                            style="  width: 40px">
                        <span openlmis-message="label.facility">	 </span>
                    </th>

                    <th>
                        <span openlmis-message="label.vaccine.dashboard.incident"></span>

                    </th>
                    <th style="width: 10px">
                        <span openlmis-message="label.vaccine.dashboard.incident.date"></span>

                    </th>
                    <th style=" text-align: center; vertical-align: middle">
                        <span openlmis-message="label.vaccine.dashboard.products"></span>

                    </th>
                    <th style=" text-align: center; vertical-align: middle">
                        <span openlmis-message="label.vaccine.dashboard.Batch"></span>

                    </th>
                    <th style=" text-align: center; vertical-align: middle">
                        <span openlmis-message="label.expiryDate"></span>
                    </th>
                    <th style=" text-align: center; vertical-align: middle">
                        <span openlmis-message="label.vaccine.adverse.effect.manufacturer"></span>
                    </th>


                    <th style=" text-align: center; vertical-align: middle">
                        <span openlmis-message="label.vaccine.dashboard.note"></span>

                    </th>


                </tr>


                </thead>
                <tbody>
                <tr ng-style="{'background-color': getBackGroundColor($index)}" ng-repeat="subRow in items">
                    <td>{{ items[$index-1].facility_name == subRow.facility_name ? '' : subRow.facility_name }}</td>
                    <td ng-bind="subRow.aefi_case"></td>
                    <td ng-bind="subRow.aefi_date| date:'dd-MMM-yyyy'"/>
                    <td ng-bind="subRow.product_name"></td>
                    <td ng-bind="subRow.aefi_batch"></td>
                    <td ng-bind="subRow.aefi_expiry_date| date:'dd-MMM-yyyy'"/>
                    <td ng-bind="subRow.manufacturer"></td>
                    <td ng-bind="subRow.aefi_notes"></td>
                </tr>
                </tbody>

            </table>
        </div>
        <div class="modal-footer">

            <button class="btn btn-primary pull-right" type="button" ng-click="ok()">Close</button>
        </div>
    </div>

</script>
<script id="template/accordion/accordion.html" type="text/ng-template">
    <div class="accordion" ng-transclude></div>
</script>

<script id="template/accordion/accordion-group.html" type="text/ng-template">
    <div class="accordion-group">
        <div class="accordion-heading" style="margin-bottom:0; border-bottom:0">
            <a style="bottom:0" class="accordion-toggle" ng-class="{'collapsed':!isOpen,'open':isOpen}"
               ng-click="isOpen = !isOpen" accordion-transclude="heading">{{heading}}</a>
        </div>
        <div class="accordion-body" style="display:block; margin-bottom:0" collapse="!isOpen">

            <div class="accordion-inner" ng-transclude></div>
        </div>
    </div>
</script>


<div style="height: 20px">
    <div style="padding-top: -2px" class="pull-right">
       <span><a href="/public/pages/login.html">Login</a></span>
    </div>
      <div style="background-color: white">   <location-filter default="all" cm-model="filter.location"
                         on-change="filterChange(filter)"></location-filter>
          </div>






</div>
<div>

<!--
    Filter Area
-->
    <accordion>
        <accordion-group class="gray-cascade" is-open="filter.openPanel">
            <accordion-heading>
           <!--     <div class="accordion-title">
                    <div class="caption"><i class="flaticon-alert"></i>
                        <span class="caption-subject bold uppercase font-dark" openlmis-message="label.action.bar"></span>
                    </div>

                    <div  class="tools  pull-right">
                        <i ng-class="{'icon-minus-sign': actionBar.openPanel, 'icon-plus-sign': !actionBar.openPanel}"></i>
                    </div>
                    <div class=" pull-right ">
                        <span class="caption-subject bold  font-dark" openlmis-message="label.current.period"></span>: <span class="caption-helper">{{userPreferences.startdate| date:'MMMM,yyyy'}}</span>
                        <span class="caption-subject bold  font-dark"  openlmis-message="label.user.perimission.zone"></span>: <span class="caption-helper">{{userPreferences.zone_name}}&nbsp;</span>
                    </div>
                </div>-->

            </accordion-heading>

            <span class="reporting-header" style="padding: 0; margin:0; border: none; background: none">

                <div class="row-fluid" style="background-color: #eef1f5 !important;border-color: #F1F1F1" style="margin-left: 10px;">

                    <div class="col-md-6 col-sm-6 ">
                        <div class="portlet3">

                            <span style="font-size: 80%">
                                Year:<year-filter default="defaultYear" cm-model="filter.year" range="2"
                                             on-change="filterChange(filter)"></year-filter><br/>
                             <month-filter default="defaultMonth" cm-model="filter.month"
                                                on-change="filterChange(filter)"></month-filter>
                            </span>

</div>

                    </div>
                    <div class="col-md-6 col-sm-6 ">

                        <div class="portlet2 light"> <!--<div class="title-name">National TAT(Days)</div>-->
                            <div id="tat" style="height: 6px!important;"></div>
                        </div>
<!--
                            <div ng-hide="true" class="highcharts-container" id="highcharts-6" style="position: relative; overflow: hidden; width: 395px; height: 70px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg version="1.1" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="395" height="70"><desc>Created with Highstock 4.2.3</desc><defs><clipPath id="highcharts-7"><rect x="0" y="0" width="25" height="375"></rect></clipPath></defs><rect x="0" y="0" width="395" height="70" fill="#FFFFFF" class=" highcharts-background"></rect><path fill="#000000" d="M 0 0 L -3 -3 L 3 -3 L 0 0 L 0 25" stroke="#000000" stroke-width="1" transform="translate(370,10)"></path><path fill="rgba(255,0,0,0.5)" d="M 9.5 10 L 9.5 35 189.5 35 189.5 10" zIndex="0" visibility="visible"></path><path fill="rgba(255,255,0,0.5)" d="M 189.5 10 L 189.5 35 309.5 35 309.5 10" zIndex="0" visibility="visible"></path><path fill="rgba(0,255,0,0.5)" d="M 309.5 10 L 309.5 35 369.5 35 369.5 10" zIndex="0" visibility="visible"></path><g class="highcharts-grid" zIndex="1"></g><g class="highcharts-grid" zIndex="1"><path fill="none" d="M 9.5 10 L 9.5 35" stroke="#C0C0C0" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 159.5 10 L 159.5 35" stroke="#C0C0C0" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 309.5 10 L 309.5 35" stroke="#C0C0C0" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 84.5 10 L 84.5 35" stroke="#C0C0C0" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 234.5 10 L 234.5 35" stroke="#C0C0C0" stroke-width="1" zIndex="1" opacity="1"></path><path fill="none" d="M 385.5 10 L 385.5 35" stroke="#C0C0C0" stroke-width="1" zIndex="1" opacity="1"></path></g><g class="highcharts-axis" zIndex="2"><path fill="none" d="M 9.5 10 L 9.5 35" stroke="#C0C0C0" stroke-width="1" zIndex="7"></path></g><g class="highcharts-axis" zIndex="2"><path fill="none" d="M 9.5 35 L 9.5 38" stroke="#A0A0A0" stroke-width="1" opacity="1"></path><path fill="none" d="M 99.5 35 L 99.5 38" stroke="#A0A0A0" stroke-width="1" opacity="1"></path><path fill="none" d="M 189.5 35 L 189.5 38" stroke="#A0A0A0" stroke-width="1" opacity="1"></path><path fill="none" d="M 279.5 35 L 279.5 38" stroke="#A0A0A0" stroke-width="1" opacity="1"></path><path fill="none" d="M 369.5 35 L 369.5 38" stroke="#A0A0A0" stroke-width="1" opacity="1"></path><path fill="none" d="M 9.5 35 L 9.5 38" stroke="#C0C0C0" stroke-width="1" opacity="1"></path><path fill="none" d="M 159.5 35 L 159.5 38" stroke="#C0C0C0" stroke-width="1" opacity="1"></path><path fill="none" d="M 309.5 35 L 309.5 38" stroke="#C0C0C0" stroke-width="1" opacity="1"></path><path fill="none" d="M 84.5 35 L 84.5 38" stroke="#C0C0C0" stroke-width="1" opacity="1"></path><path fill="none" d="M 234.5 35 L 234.5 38" stroke="#C0C0C0" stroke-width="1" opacity="1"></path><path fill="none" d="M 385.5 35 L 385.5 38" stroke="#C0C0C0" stroke-width="1" opacity="1"></path></g><g class="highcharts-series-group" zIndex="3"><g class="highcharts-series highcharts-series-0 highcharts-tracker" zIndex="0.1" transform="translate(385,35) rotate(90) scale(-1,1) scale(1 1)" style="" width="375" height="25" clip-path="url(#highcharts-7)"><rect x="6.5" y="15.5" width="12" height="360" stroke="#FFFFFF" stroke-width="1" fill="#000000" rx="0" ry="0" visibility="hidden"></rect></g><g class="highcharts-markers highcharts-series-0" zIndex="0.1" transform="translate(385,35) rotate(90) scale(-1,1) scale(1 1)" width="375" height="25" clip-path="none"></g></g><g class="highcharts-data-labels highcharts-series-0 highcharts-tracker" zIndex="6" visibility="visible" transform="translate(10,10) scale(1 1)" opacity="1" style=""><g zIndex="1" style="" transform="translate(347,-2)"><text x="5" zIndex="1" style="font-size:11px;font-weight:bold;color:#000000;text-shadow:0 0 6px #FFFFFF, 0 0 3px #FFFFFF;fill:#000000;text-rendering:geometricPrecision;" y="16"><tspan>12</tspan></text></g></g><g class="highcharts-axis-labels highcharts-xaxis-labels" zIndex="7"></g><g class="highcharts-axis-labels highcharts-yaxis-labels" zIndex="7"><text x="14" style="color:#606060;cursor:default;font-size:11px;fill:#606060;width:37.5;text-overflow:ellipsis;" text-anchor="middle" transform="translate(0,0)" y="54" opacity="1"><tspan>0</tspan></text><text x="160" style="color:#606060;cursor:default;font-size:11px;fill:#606060;width:75;text-overflow:ellipsis;" text-anchor="middle" transform="translate(0,0)" y="54" opacity="1"><tspan>5</tspan></text><text x="310" style="color:#606060;cursor:default;font-size:11px;fill:#606060;width:75;text-overflow:ellipsis;" text-anchor="middle" transform="translate(0,0)" y="54" opacity="1"><tspan>10</tspan></text><text x="85" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" transform="translate(0,0)" y="54" opacity="1">2.5</text><text x="235" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" transform="translate(0,0)" y="54" opacity="1">7.5</text><text x="373.359375" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" text-anchor="middle" transform="translate(0,0)" y="54" opacity="1">12.5</text></g><g class="highcharts-tooltip" zIndex="8" style="cursor:default;padding:0;pointer-events:none;white-space:nowrap;" transform="translate(0,-9999)"><path fill="none" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isShadow="true" stroke="black" stroke-opacity="0.049999999999999996" stroke-width="5" transform="translate(1, 1)"></path><path fill="none" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isShadow="true" stroke="black" stroke-opacity="0.09999999999999999" stroke-width="3" transform="translate(1, 1)"></path><path fill="none" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" isShadow="true" stroke="black" stroke-opacity="0.15" stroke-width="1" transform="translate(1, 1)"></path><path fill="rgba(249, 249, 249, .85)" d="M 3.5 0.5 L 13.5 0.5 C 16.5 0.5 16.5 0.5 16.5 3.5 L 16.5 13.5 C 16.5 16.5 16.5 16.5 13.5 16.5 L 3.5 16.5 C 0.5 16.5 0.5 16.5 0.5 13.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5"></path><text x="8" zIndex="1" style="font-size:12px;color:#333333;fill:#333333;" y="20"></text></g><text x="385" text-anchor="end" zIndex="8" style="cursor:pointer;color:#909090;font-size:9px;fill:#909090;" y="65"> </text></svg></div></div>
-->

                    </div>
                    <div class="col-md-6 col-sm-6 ">
                        <div class="portlet light">
                            <div class="title-name">Key</div>
                            <div class="row-fluid span12">
                                <div class="col-sm-6 span6">

                                    <div class="key cr"><center>Collection Receipt (C-R)</center></div>
                                    <div class="key rp"><center>Receipt to Processing (R-P)</center></div>
                                </div>
                                <div class="col-sm-6 span6">

                                    <div class="key pd"><center>Processing Dispatch (P-D)</center></div>
                                    <div class="key cd"><center>Collection Dispatch (C-D)</center></div>
                                </div>
                            </div>

                           <!-- <div class="col-md-6">
                                <div class="key cr"><center>Collection Receipt (C-R)</center></div>
                                <div class="key rp"><center>Receipt to Processing (R-P)</center></div>
                            </div>
                            <div class="col-md-6">
                                <div class="key pd"><center>Processing Dispatch (P-D)</center></div>
                                <div class="key"><center><div class="cd"></div>Collection Dispatch (C-D)</center></div>
                            </div>

-->
                        </div>

                    </div>


                </div>
              <!-- Investigating--><!--
                <div class="box-col4" style="margin-left: 10px;">
                    <h2><i class="flaticon-bar"></i>Investigating</h2>
                    <span openlmis-message="label.aefi"></span>:  <span class="box-value"><a
                        ng-click="openInvestigatingDetailDialog()"
                        href="">{{investigating.count}}</a></span>
                    &nbsp;&nbsp;
                    <div class="pull-right" ng-show="batchToExpire.length > 0"> <span>Batch To Expire</span>: <span class="box-value"><a
                            ng-click="openBatchToExpireDialog()"
                            href="">{{totalBatchToExpire}}</a></span>
                    </div>

                </div>-->
            </span>
        </accordion-group>
    </accordion>

    <!--Tanzania Map tab-->
    <accordion close-others="false">
        <accordion-group class="gray-cascade" is-open="map.openPanel">
            <accordion-heading>
                <div class="accordion-title">

                    <div class="caption"><i class="flaticon-filter"></i>
                        <span  ng-click="sessionsTabCliced()" class="caption-subject bold capitalize font-dark">National Overview &nbsp;|&nbsp; {{filter.year}}-({{selectMonth.name}})</span>
                    </div>
                   <!-- <div class="tools">
                        <i ng-class="{'icon-minus-sign': sessions.openPanel, 'icon-plus-sign': !sessions.openPanel}"></i>
                    </div>-->
                </div>

            </accordion-heading>

            <!-- session
            <div class="clearfix" >&nbsp;</div>-->
            <!-- begin row -->
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="portlet light">
                      <!--  <div class="caption">
                           &lt;!&ndash; <span class="caption-subject bold uppercase font-dark" openlmis-message="title.sessions"></span>
                            <span class="caption-helper">monthly...</span>&ndash;&gt;
                            <div class="actions">
                              &lt;!&ndash;  <a class="btn btn-circle btn-icon-only btn-default" ng-click="openSessionsHelp()">
                                    <i class="icon-info"></i>
                                </a>&ndash;&gt;
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="sessionDetailCallback()">
                                    <i class="icon-table"></i>
                                </a>
                            </div>
                        </div>-->
                        <br/>
                        <div>
                        <ng-include
                                src="'/public/pages/dashboard/partials/slide-national-map.html'"></ng-include>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="portlet light">
                        <div class="caption">
                            <span class="caption-subject bold  font-dark" style="text-align: center !important;" >Testing Trends &nbsp;&nbsp;{{filter.year}}</span>
<!--
                            <span class="caption-helper">Testing Trends</span>
-->
                            <div class="actions">
                               <!-- <a class="btn btn-circle btn-icon-only btn-default" ng-click="openSessionsHelp()">
                                    <i class="icon-info"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="sessionDetailCallback()">
                                    <i class="icon-table"></i>
                                </a>-->
                            </div>
                        </div>
                        <div>
                            <div id="container2" style="width: 100%; height: 400px; margin: 0 auto">
                                <div  ng-show="showLoader" class="loader"></div>

                            </div>


                            <!--      <ng-include
                                          src="'/public/pages/dashboard/partials/slide-testing-trend.html'"></ng-include>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="portlet light">
                        <div class="caption">
                            <span class="caption-subject bold uppercase font-dark"></span>
                            <span class="caption-helper"> </span>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="openSessionsHelp()">
                                    <i class="icon-info"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="sessionDetailCallback()">
                                    <i class="icon-table"></i>
                                </a>
                            </div>

                        </div>
                        <ng-include
                                src="'/public/pages/dashboard/partials/slide-national-statistics.html'"></ng-include>
                    </div>
                </div>
            </div>
        </accordion-group>

        <!-- dropout tab-->

        <accordion-group class="gray-cascade" is-open="byAge.openPanel">
            <accordion-heading>

                <div class="accordion-title">
                    <div class="caption"><i class="flaticon-filter"></i>
                        <span ng-click="dropoutTabCliced()" class="caption-subject bold  font-dark"
                              >Test By AGE</span>
                    </div>

                </div>

            </accordion-heading>
            <div class="clearfix" >&nbsp;</div>
            <!-- begin row -->
            <div class="row">
                <div class="span12 portlet light">

                    <!--<div class="portlet light">-->
             <!--           <div class="caption">
                            <span class="caption-subject bold uppercase font-dark"></span>
                            <span class="caption-helper">Viral Load by Age &nbsp;|&nbsp; {{filter.year}})</span>

                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="openDropoutHelp()">
                                    <i class="icon-info"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="dropoutDetailCallback()">
                                    <i class="icon-table"></i>
                                </a>
                            </div>
                        </div>-->
                      <!--  <ng-include
                                src="'/public/pages/dashboard/partials/slide-test-by-age.html'"></ng-include>-->


                            <div id="byAge" style="min-width: 60% !important; height: 400px; max-width: 1000px; margin: 0 auto">

                                <div  ng-show="showLoader" class="loader"></div>

                            </div>



                            <!--
                                                </div>
                            -->
                </div>


              <div class="col-md-6 col-sm-6">
                    <div class="portlet light">
                       <!-- <div class="caption">
                            <span class="caption-subject bold uppercase font-dark" openlmis-message="title.dropout"></span>
                            <span class="caption-helper">by district...</span>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="openDropoutHelp()">
                                    <i class="icon-info"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="dropoutDetailCallback()">
                                    <i class="icon-table"></i>
                                </a>
                            </div>
                        </div>-->

                        <div id="labPerformance" style="width: 100%; height: 400px; margin: 0 auto"></div>


                    </div>
                </div>
              <div class="col-md-6 col-sm-6">
                    <div class="portlet light">
                        <div class="caption">
                            <span class="caption-subject bold uppercase font-dark" openlmis-message="title.dropout"></span>
                            <span class="caption-helper"> </span>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="openDropoutHelp()">
                                    <i class="icon-info"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="dropoutDetailCallback()">
                                    <i class="icon-table"></i>
                                </a>
                            </div>

                        </div>

                        <ng-include
                                src="'/public/pages/vaccine/dashboard/partials/slide-dropout-facility-trend.html'"></ng-include>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </accordion-group>


    <accordion>
        <accordion-group class="gray-cascade" is-open="new.openPanel">
            <accordion-heading>
                <div class="accordion-title" ng-click="stockStatusTabClicked()">
                    <div class="caption"><i class="flaticon-filter"></i>
                    <span class="caption-subject bold uppercase font-dark"
                          openlmis-message="label.stock.status.bar"></span>
                    </div>
                    <div class="tools">
                        <i ng-class="{'icon-minus-sign': stockStatus.openPanel, 'icon-plus-sign': !stockStatus.openPanel}"></i>
                    </div>
                </div>

            </accordion-heading>

            <!-- stock status
            <div class="clearfix" >&nbsp;</div> -->
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="portlet light">
                        <div class="caption">
                            <span class="caption-subject bold uppercase font-dark"></span>
                            <span class="caption-helper">{{homeFacility.name}} </span>

                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="openMyStockHelp()">
                                    <i class="icon-info"></i>
                                </a>
                                <a ng-click="openStockInventoryStatusDetails()"
                                   class="btn btn-circle btn-icon-only btn-default" tooltip="Detail Stock">
                                    <i class="icon-table"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="portlet light">
                        <div class="caption">
                            <span class="caption-subject bold uppercase font-dark" ></span>
                            <span class="caption-helper"></span>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="openStockStatusHelp()">
                                    <i class="icon-info"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default"
                                   ng-click="openStockInventoryStatusDetails()()">
                                    <i class="icon-table"></i>
                                </a>
                            </div>
                        </div>
                        <ng-include
                                src="'/public/pages/vaccine/dashboard/partials/slide-my-stock-supplies.html'"></ng-include>

                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="portlet light">
                        <div class="caption">
                            <span class="caption-subject bold uppercase font-dark" openlmis-message="title.stock.status"></span>
                            <span class="caption-helper"></span>

                        </div>
                        <ng-include
                                src="'/public/pages/vaccine/dashboard/partials/slide-my-supervised-facilities-stock.html'"></ng-include>

                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>

    <!-- Stock Status By Facility -->
    <accordion>
        <accordion-group class="gray-cascade" is-open="stockFacilityStatus.openPanel">
            <accordion-heading>
                <div class="accordion-title">
                    <div class="caption"><i class="flaticon-filter"></i>
                        <span ng-click="stockFacilityStatusTabCliced()" class="caption-subject bold uppercase font-dark" openlmis-message="label.stock.status.by.facility"></span>
                    </div>
                    <div class="tools">
                        <i ng-class="{'icon-minus-sign': stockFacilityStatus.openPanel, 'icon-plus-sign': !stockFacilityStatus.openPanel}"></i>
                    </div>
                </div>
            </accordion-heading>
            <div class="clearfix" ></div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="portlet light">
                        <div class="caption">
                            <span class="caption-subject bold uppercase font-dark"></span>
                            <span class="caption-helper"></span>

                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="openStockStatusHelp()">
                                    <i class="icon-info"></i>
                                </a>
                                <a ng-click="stockStatusDetailCallback()" class="btn btn-circle btn-icon-only btn-default" tooltip="Detail Coverage">
                                    <i class="icon-table"></i>
                                </a>
                            </div>
                        </div>
                        <ng-include
                                src="'/public/pages/vaccine/dashboard/partials/slide-stock-status-monthly-trend.html'"></ng-include>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="portlet light">
                        <div class="caption">
                            <span class="caption-subject bold uppercase font-dark" openlmis-message="title.stock.status"></span>
                            <span class="caption-helper"></span>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="openStockStatusHelp()">
                                    <i class="icon-info"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="stockStatusDetailCallback()">
                                    <i class="icon-table"></i>
                                </a>
                            </div>
                        </div>
                        <ng-include
                                src="'/public/pages/vaccine/dashboard/partials/slide-stock-status-district.html'"></ng-include>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="portlet light">
                        <div class="caption">
                            <span class="caption-subject bold uppercase font-dark" openlmis-message="title.stock.status"></span>
                            <span class="caption-helper"></span>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="openStockStatusHelp()">
                                    <i class="icon-info"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" ng-click="stockStatusDetailCallback()">
                                    <i class="icon-table"></i>
                                </a>
                            </div>

                        </div>

                        <ng-include
                                src="'/public/pages/vaccine/dashboard/partials/slide-stock-status-facility.html'"></ng-include>
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>


    <!--
        <accordion>
               <accordion-group class="gray-cascade" is-open="stockStatus.openPanel">
                   <accordion-heading>
                       <div class="accordion-title">
                           <div class="caption">
                               <span openlmis-message="label.stock.status"></span>
                           </div>
                           <div class="tools">
                               <i ng-class="{'icon-minus-sign': stockStatus.openPanel, 'icon-plus-sign': !stockStatus.openPanel}"></i>
                           </div>
                       </div>
                   </accordion-heading>

                   <tabset class="table">
                       <tab>
                           <tab-heading style="cursor: pointer;"><span openlmis-message="title.stock"></span></tab-heading>
                           <carousel interval="setInterval('stock')">
                               <slide>
                                   <ng-include
                                           src="'/public/pages/vaccine/dashboard/partials/slide-mystock-monthly-trend.html'"></ng-include>
                               </slide>
                               <slide>
                                   <ng-include
                                           src="'/public/pages/vaccine/dashboard/partials/slide-mystock-district-trend.html'"></ng-include>
                               </slide>

                               <slide>
                                   <ng-include
                                           src="'/public/pages/vaccine/dashboard/partials/slide-mystock-facility-trend.html'"></ng-include>
                                   </slide>

                               <slide>
                                   <ng-include
                                           src="'/public/pages/vaccine/dashboard/partials/slide-mystock-detail-trend.html'"></ng-include>
                               </slide>

                               <slide>
                                   <ng-include src="'/public/pages/vaccine/dashboard/partials/slide-mystock-help-content.html'"></ng-include>
                               </slide>
                               </carousel>
                       </tab>
                       <tab>
                           <tab-heading style="cursor: pointer;"><span openlmis-message="title.bundling"></span></tab-heading>
                           <carousel interval="setInterval('bundling')">
                               <slide>
                                   <ng-include
                                           src="'/public/pages/vaccine/dashboard/partials/slide-bundling-one-trend.html'"></ng-include>
                               </slide>
                               <slide>
                               </slide>
                               <slide>
                               </slide>
                               <slide>
                               </slide>
                               <slide>
                               </slide>
                           </carousel>
                        </tab>
                       </tabset>

               </accordion-group>
           </accordion>
    -->

</div>