<!DOCTYPE html>


<style>
    .left{float:left; width:33%; }
    .dashlet-container{
        min-height: 450px;
        top:auto;}
    .header-section{

    }

    .filter-place-holder{
        min-height: 40px;
    }
    span.year-selected a, span.location-selected a, span.month-selected a, span.period-selected a {color:#0d6369;
        font-size:15px;font-weight:bold;}

    #container {
        height: 500px;
        min-width: 310px;
        max-width: 800px;
        margin: 0 auto;
    }
    div.noDataMessage{padding:20px 35px; }

    div.box-container {
        margin-top:5px;
        border-radius:8px ;
        border: 1px solid #4572A7;
        padding:10px 10px 10px 10px !important;
        background:#EEF1F5;
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.6);
        height:98%;
    }
    div[class*="span6"]{min-height:100% !important}

</style>

<div id="loader" class="loader-icon"></div>

<div class="container-fluid" style="padding:0px !important;background-color: #F1F1F1 !important;" >
    <div class="row-fluid">
        <div class="span12" style="box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);margin-top:5px;border-radius:8px ;border: 2px solid #4572A7;width:100%;padding:10px 20px 20px 20px !important;background:#EEF1F5">
            <!--<span class="reporting-header" style="padding: 0; margin:0; border: none; background: none">-->
            <!-- Location Filter-->
            <div class="span4">
                <div class="" style="width:100%">
                    <h2><i class="flaticon-bar"></i><strong>Lab</strong></h2>
                    <location-filter default="all" cm-model="filter.location"
                                     on-change="filterChange(filter)"></location-filter>
                </div>
            </div>
            <!-- Period Filter-->
            <!--<div class="span2">-->
            <!--<div class="" style="width:100%">-->
            <!--<h2><i class="flaticon-bar"></i>Period</h2>-->
            <!--<period-filter cm-model="filter.period" on-change="filterChange(filter)"></period-filter>-->
            <!--</div>-->
            <!--</div>-->
            <!-- Year Filter-->
            <div class="span3">
                <div class="" style="width:100%">
                    <h2><i class="flaticon-bar"></i><strong>Year</strong></h2>
                    <year-filter default="defaultYear" cm-model="filter.year" range="2"
                                 on-change="filterChange(filter)"></year-filter>
                </div>
            </div>
            <!-- Month-->
            <div class="span5">
                <div class="">
                    <h2><i class="flaticon-bar"></i><strong>Month</strong></h2>
                    <month-filter default="defaultMonth" cm-model="filter.month"
                                  on-change="filterChange(filter)"></month-filter>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="row-fluid" style="margin-top:-5px">

        <div class="span4 box-container">
            <h2><i class="flaticon-bar"></i><strong>National Overview </strong> &nbsp;|&nbsp; {{filter.year}}-({{selectMonth.name}})</h2>
            <map-filter cm-model="filter.region" on-change="filterChange(filter)"></map-filter>
        </div>
        <div class="span8">
            <div class="row-fluid">
                <div class="span6">
                    <div  class="box-container">

                        <h2><i class="flaticon-bar"></i><strong>Viral Load Test Breakdown </strong></h2>
                        <div class="noDataMessage" ng-show="testBreakDown.dataPoints.length === 0">No data to display</div>
                        <div ng-show="testBreakDown.dataPoints.length > 0">
                            <c3chart bindto-id="tes-breakdown"
                                     chart-data="testBreakDown.dataPoints"
                                     chart-columns="testBreakDown.dataColumns"
                                     chart-x="testBreakDown.dataX"
                                     padding-bottom="10">
                                <chart-legend show-legend="true"/>
                                <chart-group group-values="test,test1000"/>
                                <!--<chart-tooltip value-format-function="getSOHVaccine" show-tooltip="true"/>-->
                                <!--<chart-colors color-function="getColorVaccine"/>-->
                                <chart-axis>
                                    <chart-axis-x axis-position="outer-center"
                                                  axis-label="Years"
                                            >
                                    </chart-axis-x>
                                    <chart-axis-y axis-position="outer-middle"
                                                  axis-label="Tests">
                                    </chart-axis-y>
                                </chart-axis>
                            </c3chart>

                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div  class="box-container">
                        <h2><i class="flaticon-bar"></i><strong>National Statistics</strong> &nbsp;|&nbsp; {{filter.year}}</h2>
                        <div class="noDataMessage" ng-show="nationStatistics.length ===0">No data to display</div>
                        <div ng-show="nationStatistics.length > 0">
                            <table id="fullSupplyTable"
                                   class="rnr-table table-bordered table"
                                   ng-table="tableParams">
                                <tbody>
                                <tr ng-repeat="row in nationStatistics">
                                    <td>{{row.name}}</td>
                                    <td>{{row.value | number}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row-fluid">
                <div class="span6">
                    <div  class="box-container">
                        <h2><i class="flaticon-bar"></i><strong>Viral Load by Age </strong> &nbsp;|&nbsp; {{filter.year}}-({{selectMonth.name}})</h2>
                        <div class="noDataMessage" ng-show="testByAge.dataPoints[0].adults === undefined">No data to display</div>
                        <div ng-show="testByAge.dataPoints[0].adults !== undefined">

                            <c3chart bindto-id="test-by-age"
                                     chart-data="testByAge.dataPoints"
                                     chart-columns="testByAge.dataColumns"
                                    >

                                <chart-pie expand="true"/>
                            </c3chart>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div  class="box-container">
                        <h2><i class="flaticon-bar"></i><strong>Test Trends </strong> &nbsp;|&nbsp;{{filter.year}}</h2>
                        <c3chart bindto-id="test-trend"
                                 chart-data="testTrend.dataPoints"
                                 chart-columns="testTrend.dataColumns"
                                 chart-x="testTrend.dataX"
                                >
                            <chart-axis>
                                <chart-axis-x axis-position="outer-center"
                                              axis-label="Months"
                                              axis-type="category">
                                </chart-axis-x>
                                <chart-axis-y axis-position="outer-middle"
                                              axis-label="Tests">
                                </chart-axis-y>
                            </chart-axis>

                            <chart-line step-type="step" connect-null="true"/>
                        </c3chart>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<hr/>
<br/>

<div class="row-fluid">
    <div class="span12 box-container">
        <h2><i class="flaticon-bar"></i><strong>Lab Performance </strong> &nbsp;|&nbsp;{{filter.year}}-({{selectMonth.name}})</h2>
        <div class="noDataMessage"  ng-show="labPerformance.dataPoints.length ===0">No data to display</div>
        <div ng-show="labPerformance.dataPoints.length > 0">
            <c3chart bindto-id="lab-performance"
                     chart-data="labPerformance.dataPoints"
                     chart-columns="labPerformance.dataColumns"
                     chart-x="labPerformance.dataX"
                     padding-bottom="10">
                <chart-legend show-legend="true"/>
                <!--<chart-group group-values="test,test1000"/>-->
                <chart-axis>
                    <chart-axis-x axis-position="outer-center"
                                  axis-label="Years"
                                  axis-type="category"
                            >
                    </chart-axis-x>
                    <chart-axis-y axis-position="outer-middle"
                                  axis-label="Tests">
                    </chart-axis-y>
                </chart-axis>
            </c3chart>
        </div>

    </div>
 <!--   <div class="span4 box-container">
        <h2><i class="flaticon-bar"></i><strong>Tests By Sample Type</strong> &nbsp;|&nbsp; {{filter.year}}-({{selectMonth.name}})</h2>
        <div class="noDataMessage" ng-show="testBySample.dataPoints.length ===0">No data to display</div>
        <div ng-show="testBySample.dataPoints.length > 0">
            <c3chart bindto-id="tes-by-sample"
                     chart-data="testBySample.dataPoints"
                     chart-columns="testBySample.dataColumns"
                     chart-x="testBySample.dataX"
                     padding-bottom="10">
                <chart-legend show-legend="true"/>
                <chart-group group-values="request,repeated"/>
                &lt;!&ndash;<chart-tooltip value-format-function="getSOHVaccine" show-tooltip="true"/>&ndash;&gt;
                &lt;!&ndash;<chart-colors color-function="getColorVaccine"/>&ndash;&gt;
                <chart-axis>
                    <chart-axis-x axis-position="outer-center"
                                  axis-label="Sample Type"
                                  axis-type="category"
                            >
                    </chart-axis-x>
                    <chart-axis-y axis-position="outer-middle"
                                  axis-label="Tests">
                    </chart-axis-y>
                </chart-axis>
            </c3chart>
        </div>
    </div>-->
</div>
</div>