<div class="row-fluid">
    <div class="span12" style="box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);margin-top:5px;border-radius:8px ;border: 2px solid #4572A7;width:100%;padding:10px 20px 20px 20px !important;background:#EEF1F5">
        <!--<span class="reporting-header" style="padding: 0; margin:0; border: none; background: none">-->
        <!-- Location Filter-->
        <div class="span4">
            <div class="" style="width:100%">
                <h2><i class="flaticon-bar"></i><strong>Lab</strong></h2>
                <location-filter default="all" cm-model="filter.location"
                                 on-change="filterChange(filter)"></location-filter>
            </div>
        </div>
        <!-- Period Filter-->
        <!--<div class="span2">-->
        <!--<div class="" style="width:100%">-->
        <!--<h2><i class="flaticon-bar"></i>Period</h2>-->
        <!--<period-filter cm-model="filter.period" on-change="filterChange(filter)"></period-filter>-->
        <!--</div>-->
        <!--</div>-->
        <!-- Year Filter-->
        <div class="span3">
            <div class="" style="width:100%">
                <h2><i class="flaticon-bar"></i><strong>Year</strong></h2>
                <year-filter default="defaultYear" cm-model="filter.year" range="2"
                             on-change="filterChange(filter)"></year-filter>
            </div>
        </div>
        <!-- Month-->
        <div class="span5">
            <div class="">
                <h2><i class="flaticon-bar"></i><strong>Month</strong></h2>
                <month-filter default="defaultMonth" cm-model="filter.month"
                              on-change="filterChange(filter)"></month-filter>
            </div>
        </div>
    </div>
</div>