
<div class="navbar navbar-default " style="border-color: rgba(0,0,0,.1);background-color: white;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075); padding-top: 50px;
">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse" ng-hide="true">
            <ul class="nav navbar-nav">

            </ul>
            <!-- <form class="navbar-form navbar-left" id="1267192336">
                <div class="form-group">
                    <input type="text" class="form-control col-md-8" placeholder="Search">
                </div>
            </form> -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#newDash">Summary</a></li>
                <li><a href="#/trend">Trends</a></li>
                <li><a href="#/regimen">Regimen</a></li>
                <li><a href="#/age">Age</a></li>
           <!--     <li class=" dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">County/Sub-County
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="">County</a></li>
                        <li><a href="">Sub-County</a></li>
                    </ul>
                </li>-->
                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Partners
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Summary</a></li>
                        <li><a href="">Trends</a></li>
                        <li><a href="">Partner Facilities</a></li>
                        <li><a href="">Partner Age</a></li>
                    </ul>
                </li>
                <li><a href="">Lab Performance</a></li>
                <li><a href="">Facilities</a></li>
                <!-- <li><a href="http://viralload.nascop.org/county">County View</a></li> -->
                <li><a href="http://evlims.nacp.go.tz/public/pages/login.html">Login</a></li>
                <li><a href="http://eid.nacp.go.tz/eid">EID View</a></li>
                <!-- <li><a href="javascript:void(0)">Link</a></li> -->
                <li class="dropdown">
                    <!-- <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                    <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Action</a></li>
                        <li><a href="javascript:void(0)">Another action</a></li>
                        <li><a href="javascript:void(0)">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">Separated link</a></li>
                    </ul> -->
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <style type="text/css">
        .ui-datepicker-calendar {
            display: none;
        }

        .date-picker {
            width: 100px;
            margin-right: 0.5em;
            font-size: 11px;
        }

        .date-pickerBtn {
            /*width: 80px;*/
            font-size: 11px;
            height: 22px;
        }

        .filter {
            font-size: 11px;
        }

        #breadcrum {
            font-size: 11px;
        }

        #errorAlert {
            font-size: 11px;
            background-color: #E08283;
            color: #96281B;
        }
    </style>
    <div class="row" id="filter" style="background-color: white;
    margin-bottom: 1.2em;
    margin-right: 0.1em;
    margin-left: 0.1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;">
        <div class="col-md-3">
            <location-filter default="all" cm-model="filter.location"
                             on-change="filterChange(filter)"></location-filter>

         <!--   <select ui-select2="{width: '5%'}" id="selectParentGeoZone" ng-model="lab.code"
                    >
                <option value="">Select Labs</option>
                <option ng-repeat="parentGeoZone in labs"
                        value="{{ parentGeoZone.code }}">
                    {{ parentGeoZone.name }}
                </option>
            </select>-->


        </div>
        <div class="col-md-9">
            <span style="font-size: 80%">
                                Year:<year-filter default="defaultYear" cm-model="filter.year" range="2"
                                                  on-change="filterChange(filter)"></year-filter><br/>
                             <month-filter default="defaultMonth" cm-model="filter.month"
                                           on-change="filterChange(filter)"></month-filter>
                            </span>

        </div>


    </div>
    <style type="text/css">
        .display_date {
            width: 130px;
            display: inline;
        }

        .display_range {
            width: 130px;
            display: inline;
        }

        #nattatdiv {
            background-color: white;
            margin-right: 1em;
            margin-left: 1em;
            margin-bottom: 1em;
        }

        .title-name {
            color: blue;
        }

        #title {
            padding-top: 1.5em;
        }

        .key {
            font-size: 11px;
            margin-top: 0.5em;
        }

        .cr {
            background-color: rgba(0, 255, 0, 0.5);

            /*
            background-color: rgba(255, 0, 0, 0.498039);
*/
        }

        .rp {
            background-color: rgba(255, 255, 0, 0.498039);
        }

        .pd {
            background-color: rgb(149, 206, 255);
        }

        .cd {
            width: 0px;
            height: 0px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid black;
        }
    </style>
    <div class="row">
        <div class="col-md-12" id="nattatdiv">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-4 title-name" id="title">
                    <center> Turnaround Time
                        <l>(Days)</l>
                    </center>
                </div>
                <div class="col-md-8">
                    <div id="tat" style="height:70px;" data-highcharts-chart="24"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="title-name">Key</div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="key cr">
                            <center>Collection to Receipt (C-R)</center>
                        </div>
                        <div class="key rp">
                            <center>Receipt to Processing (R-P)</center>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="key pd">
                            <center>Processing to Dispatch (P-D)</center>
                        </div>
                        <div class="key">
                            <center>
                                <div class="cd"></div>
                                Collection to Dispatch (C-D)
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Testing Trend + Map of the country  -->
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="display_date">( {{filter.year}} )</div>
                </div>

                <div class="panel-body" id="trendTrendTest">
                    <div id="trendTrend" style="height:450px;" data-highcharts-chart="27">
                        <div class="highcharts-container"  id="highcharts-92"
                             style="position: relative; overflow: hidden; width: 623px; height: 450px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    National Map  ({{dataM}})
                    <div class="display_date">( {{filter.year}} )</div>
                </div>
                <div class="panel-body" id="gender" style="height:450px;padding-bottom:0px;">
                    <div style="height:300px;">
                        <ng-include
                                src="'/public/pages/dashboard/partials/slide-national-map.html'"></ng-include>


                    </div>

                    <script type="text/javascript">
                        $(function () {
                            $('#gender_pie').highcharts({
                                chart: {
                                    type: 'column'
                                },
                                title: {
                                    text: ''
                                },
                                xAxis: {
                                    categories: ["F", "M", "No Data"]
                                },
                                yAxis: {
                                    min: 0,
                                    title: {
                                        text: 'Tests'
                                    },
                                    stackLabels: {
                                        rotation: 0,
                                        enabled: true,
                                        style: {
                                            fontWeight: 'bold',
                                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                                        },
                                        y: -10
                                    }
                                },

                                legend: {
                                    align: 'right',
                                    x: -30,
                                    verticalAlign: 'bottom',
                                    y: 0,
                                    floating: false,
                                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                                    borderColor: '#CCC',
                                    borderWidth: 1,
                                    shadow: true
                                },
                                tooltip: {
                                    headerFormat: '<b>{point.x}</b><br/>',
                                    pointFormat: '{series.name}: {point.y}<br/>% contribution: {point.percentage:.1f}%'
                                },
                                plotOptions: {
                                    column: {
                                        stacking: 'normal',
                                        dataLabels: {
                                            enabled: false,
                                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                                            style: {
                                                textShadow: '0 0 3px black'
                                            }
                                        }
                                    }
                                }, colors: [
                                    '#F2784B',
                                    '#1BA39C'
                                ],
                                series: [{
                                    "name": "Not Suppresed",
                                    "data": [2201, 1095, 14],
                                    "drilldown": {"color": "#913D88"}
                                }, {"name": "Suppresed", "data": [8315, 3386, 92], "drilldown": {"color": "#96281B"}}]
                            });
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Age
                    <div class="display_date">( 2017 )</div>
                </div>
                <div class="panel-body" id="ageGroups">
                    <div id="ByAge" style="height:450px;" data-highcharts-chart="27">
                        <div class="highcharts-container" id="highcharts-92"
                             style="position: relative; overflow: hidden; width: 623px; height: 450px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                        </div>
                    </div>

                </div>


            </div>
        </div>
        <!-- Map of the country -->
        <div class="col-md-6 col-sm-4 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Viral Load OutCome
                    <div class="display_date">( 2017 )</div>
                </div>
                <div class="panel-body" id="justification" style="height:500px;">
                    <div id="vlOutCome" data-highcharts-chart="27">
                        <div class="highcharts-container" id="highcharts-90"
                             style="position: relative; overflow: hidden; width: 623px; height: 400px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                        </div>
                    </div>



                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                   Regional OutCome
                    <div class="display_date">( 2017 )</div>
                </div>
                <div class="panel-body" id="region">
                    <div id="regionGraph" style="height:450px;" data-highcharts-chart="27">
                        <div class="highcharts-container" id="highcharts-90"
                             style="position: relative; overflow: hidden; width: 623px; height: 450px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">


                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Gender Outcome
                    <div class="display_date">( 2017 )</div>
                </div>
                <div class="panel-body" id="genderOutCome">
                    <div id=" " style="height:450px;" data-highcharts-chart="27">
                        <div class="highcharts-container" id="genderGraph"
                             style="position: relative; overflow: hidden; width: 623px; height: 450px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">


                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="agemodal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Age Category Breakdown</h4>
                </div>
                <div class="modal-body" id="CatAge">
                    <center>
                        <div class="loader"></div>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="justificationmodal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Pregnant and Lactating Mothers</h4>
                </div>
                <div class="modal-body" id="CatJust">
                    <center>
                        <div class="loader"></div>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $().ready(function () {
            $.get("http://viralload.nascop.org/template/dates", function (data) {
                obj = $.parseJSON(data);
                console.log(obj);
                if (obj['month'] == "null" || obj['month'] == null) {
                    obj['month'] = "";
                }
                $(".display_date").html("( " + obj['year'] + " " + obj['month'] + " )");
                $(".display_range").html("( " + obj['prev_year'] + " - " + obj['year'] + " )");
            });
            $("#nattat").load("http://viralload.nascop.org/charts/summaries/turnaroundtime");
            $("#samples").load("http://viralload.nascop.org/charts/summaries/sample_types");
            $("#vlOutcomes").load("http://viralload.nascop.org/charts/summaries/vl_outcomes");
            $("#justification").load("http://viralload.nascop.org/charts/summaries/justification");
            $("#ageGroups").load("http://viralload.nascop.org/charts/summaries/age");
            $("#gender").load("http://viralload.nascop.org/charts/summaries/gender");
            $("#county").load("http://viralload.nascop.org/charts/summaries/county_outcomes");

            $(".display_date").load("http://viralload.nascop.org/charts/summaries/display_date");
            $(".display_range").load("http://viralload.nascop.org/charts/summaries/display_range");

            $("select").change(function () {
                em = $(this).val();

                // Send the data using post
                var posting = $.post("http://viralload.nascop.org/template/filter_county_data", {county: em});

                // Put the results in a div
                posting.done(function (data) {
                    $.get("http://viralload.nascop.org/template/breadcrum/" + data, function (data) {
                        $("#breadcrum").html(data);
                    });
                    $.get("http://viralload.nascop.org/template/dates", function (data) {
                        obj = $.parseJSON(data);

                        if (obj['month'] == "null" || obj['month'] == null) {
                            obj['month'] = "";
                        }
                        $(".display_date").html("( " + obj['year'] + " " + obj['month'] + " )");
                        $(".display_range").html("( " + obj['prev_year'] + " - " + obj['year'] + " )");
                    });

                    // alert(data);
                    $('#heading').html('County Sites Outcomes <div class="display_date"></div>');
                    $("#nattat").html("<div>Loading...</div>");
                    $("#samples").html("<center><div class='loader'></div></center>");
                    $("#vlOutcomes").html("<center><div class='loader'></div></center>");
                    $("#justification").html("<center><div class='loader'></div></center>");
                    $("#ageGroups").html("<center><div class='loader'></div></center>");
                    $("#gender").html("<center><div class='loader'></div></center>");

                    $("#nattat").load("http://viralload.nascop.org/charts/summaries/turnaroundtime");
                    $("#samples").load("http://viralload.nascop.org/charts/summaries/sample_types/" + null + "/" + data);
                    $("#vlOutcomes").load("http://viralload.nascop.org/charts/summaries/vl_outcomes/" + null + "/" + null + "/" + data);
                    $("#justification").load("http://viralload.nascop.org/charts/summaries/justification/" + null + "/" + null + "/" + data);
                    $("#ageGroups").load("http://viralload.nascop.org/charts/summaries/age/" + null + "/" + null + "/" + data);
                    $("#gender").load("http://viralload.nascop.org/charts/summaries/gender/" + null + "/" + null + "/" + data);
                    $("#county").load("http://viralload.nascop.org/charts/summaries/county_outcomes/" + null + "/" + null + "/" + null + "/" + null + "/" + data);
                });
            });

            $("button").click(function () {
                var first, second;
                first = $(".date-picker[name=startDate]").val();
                second = $(".date-picker[name=endDate]").val();

                var new_title = set_multiple_date(first, second);

                $(".display_date").html(new_title);

                from = format_date(first);
                /* from is an array
                 [0] => month
                 [1] => year*/
                to = format_date(second);
                var error_check = check_error_date_range(from, to);

                if (!error_check) {
                    $("#nattat").html("<div>Loading...</div>");
                    $("#samples").html("<center><div class='loader'></div></center>");
                    $("#county").html("<center><div class='loader'></div></center>");
                    $("#vlOutcomes").html("<center><div class='loader'></div></center>");
                    $("#justification").html("<center><div class='loader'></div></center>");
                    $("#ageGroups").html("<center><div class='loader'></div></center>");
                    $("#gender").html("<center><div class='loader'></div></center>");

                    $("#nattat").load("http://viralload.nascop.org/charts/summaries/turnaroundtime/" + from[1] + "/" + from[0] + "/" + null + "/" + to[1] + "/" + to[0]);
                    $("#samples").load("http://viralload.nascop.org/charts/summaries/sample_types/" + from[1]);
                    $("#vlOutcomes").load("http://viralload.nascop.org/charts/summaries/vl_outcomes/" + from[1] + "/" + from[0] + "/" + null + "/" + null + "/" + to[1] + "/" + to[0]);
                    $("#justification").load("http://viralload.nascop.org/charts/summaries/justification/" + from[1] + "/" + from[0] + "/" + null + "/" + null + "/" + to[1] + "/" + to[0]);
                    $("#ageGroups").load("http://viralload.nascop.org/charts/summaries/age/" + from[1] + "/" + from[0] + "/" + null + "/" + null + "/" + to[1] + "/" + to[0]);
                    $("#gender").load("http://viralload.nascop.org/charts/summaries/gender/" + from[1] + "/" + from[0] + "/" + null + "/" + null + "/" + to[1] + "/" + to[0]);
                    $("#county").load("http://viralload.nascop.org/charts/summaries/county_outcomes/" + from[1] + "/" + from[0] + "/" + null + "/" + null + "/" + null + "/" + to[1] + "/" + to[0]);
                }

            });
        });

        function date_filter(criteria, id) {
            if (criteria === "monthly") {
                year = null;
                month = id;
            } else {
                year = id;
                month = null;
            }

            var posting = $.post('http://viralload.nascop.org/template/filter_date_data', {
                'year': year,
                'month': month
            });

            // Put the results in a div
            posting.done(function (data) {
                obj = $.parseJSON(data);

                if (obj['month'] == "null" || obj['month'] == null) {
                    obj['month'] = "";
                }
                $(".display_date").html("( " + obj['year'] + " " + obj['month'] + " )");
                $(".display_range").html("( " + obj['prev_year'] + " - " + obj['year'] + " )");

            });

            $("#nattat").html("<div>Loading...</div>");
            $("#samples").html("<center><div class='loader'></div></center>");
            $("#county").html("<center><div class='loader'></div></center>");
            $("#vlOutcomes").html("<center><div class='loader'></div></center>");
            $("#justification").html("<center><div class='loader'></div></center>");
            $("#ageGroups").html("<center><div class='loader'></div></center>");
            $("#gender").html("<center><div class='loader'></div></center>");

            $("#nattat").load("http://viralload.nascop.org/charts/summaries/turnaroundtime/" + year + "/" + month);
            $("#samples").load("http://viralload.nascop.org/charts/summaries/sample_types/" + year);
            $("#vlOutcomes").load("http://viralload.nascop.org/charts/summaries/vl_outcomes/" + year + "/" + month);
            $("#justification").load("http://viralload.nascop.org/charts/summaries/justification/" + year + "/" + month);
            $("#ageGroups").load("http://viralload.nascop.org/charts/summaries/age/" + year + "/" + month);
            $("#gender").load("http://viralload.nascop.org/charts/summaries/gender/" + year + "/" + month);
            $("#county").load("http://viralload.nascop.org/charts/summaries/county_outcomes/" + year + "/" + month);
        }

        function ageModal() {
            $('#agemodal').modal('show');
            $('#CatAge').load('http://viralload.nascop.org/charts/summaries/agebreakdown');
        }

        function justificationModal() {
            $('#justificationmodal').modal('show');
            $('#CatJust').load('http://viralload.nascop.org/charts/summaries/justificationbreakdown');
        }

    </script>
</div>

<!--end -->