<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div ng-show="nationStatistics.length > 0" style="height: 400px !important;">
    <table id="fullSupplyTable"
           class="rnr-table table-bordered table"
           ng-table="tableParams">
        <tbody>
        <tr ng-repeat="row in nationStatistics">
            <td>{{row.name}}</td>
            <td>{{row.value | number}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>