
<div class="navbar navbar-default " style="border-color: rgba(0,0,0,.1);background-color: white;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075); padding-top: 50px;
">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse" ng-hide="true">
            <ul class="nav navbar-nav">

            </ul>
            <!-- <form class="navbar-form navbar-left" id="1267192336">
                <div class="form-group">
                    <input type="text" class="form-control col-md-8" placeholder="Search">
                </div>
            </form> -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#newDash">Summary</a></li>
                <li><a href="#/trend">Trends</a></li>
                <li><a href="#/regimen">Regimen</a></li>
                <li><a href="#/age">Age</a></li>
                <!--     <li class=" dropdown">
                         <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">County/Sub-County
                             <b class="caret"></b></a>
                         <ul class="dropdown-menu">
                             <li><a href="">County</a></li>
                             <li><a href="">Sub-County</a></li>
                         </ul>
                     </li>-->
                <li class="dropdown">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Partners
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Summary</a></li>
                        <li><a href="">Trends</a></li>
                        <li><a href="">Partner Facilities</a></li>
                        <li><a href="">Partner Age</a></li>
                    </ul>
                </li>
                <li><a href="">Lab Performance</a></li>
                <li><a href="">Facilities</a></li>
                <!-- <li><a href="http://viralload.nascop.org/county">County View</a></li> -->
                <li><a href="http://evlims.nacp.go.tz/public/pages/login.html">Login</a></li>
                <li><a href="http://eid.nacp.go.tz/eid">EID View</a></li>
                <!-- <li><a href="javascript:void(0)">Link</a></li> -->
                <li class="dropdown">
                    <!-- <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                    <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Action</a></li>
                        <li><a href="javascript:void(0)">Another action</a></li>
                        <li><a href="javascript:void(0)">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">Separated link</a></li>
                    </ul> -->
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <style type="text/css">
        .ui-datepicker-calendar {
            display: none;
        }

        .date-picker {
            width: 100px;
            margin-right: 0.5em;
            font-size: 11px;
        }

        .date-pickerBtn {
            /*width: 80px;*/
            font-size: 11px;
            height: 22px;
        }

        .filter {
            font-size: 11px;
        }

        #breadcrum {
            font-size: 11px;
        }

        #errorAlert {
            font-size: 11px;
            background-color: #E08283;
            color: #96281B;
        }
    </style>
    <div class="row" id="filter" style="background-color: white;
    margin-bottom: 1.2em;
    margin-right: 0.1em;
    margin-left: 0.1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;">
        <div class="col-md-3">
            <location-filter default="all" cm-model="filter.location"
                             on-change="filterChange(filter)"></location-filter>

            <!--   <select ui-select2="{width: '5%'}" id="selectParentGeoZone" ng-model="lab.code"
                       >
                   <option value="">Select Labs</option>
                   <option ng-repeat="parentGeoZone in labs"
                           value="{{ parentGeoZone.code }}">
                       {{ parentGeoZone.name }}
                   </option>
               </select>-->


        </div>
        <div class="col-md-9">
            <span style="font-size: 80%">
                                Year:<year-filter default="defaultYear" cm-model="filter.year" range="2"
                                                  on-change="filterChange(filter)"></year-filter><br/>
                             <month-filter default="defaultMonth" cm-model="filter.month"
                                           on-change="filterChange(filter)"></month-filter>
                            </span>

        </div>


    </div>

    <div class="row">
        <!-- Testing Trend + Map of the country  -->
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="display_date">( {{filter.year}} )</div>
                </div>

                <div class="panel-body" id="trendTrendTest">
                    <div id="trendTrend" style="height:450px;" data-highcharts-chart="27">
                        <div class="highcharts-container"  id="highcharts-92"
                             style="position: relative; overflow: hidden; width: 623px; height: 450px; text-align: center; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="agemodal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Age Category Breakdown</h4>
                </div>
                <div class="modal-body" id="CatAge">
                    <center>
                        <div class="loader"></div>
                    </center>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="justificationmodal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Pregnant and Lactating Mothers</h4>
                </div>
                <div class="modal-body" id="CatJust">
                    <center>
                        <div class="loader"></div>
                    </center>
                </div>
            </div>
        </div>
    </div>

</div>

<!--end -->