<!DOCTYPE html>
<style>
    .left{float:left; width:33%; }
    .dashlet-container{
        min-height: 450px;
        top:auto;}
    .header-section{

    }

    .filter-place-holder{
        min-height: 40px;
    }
    span.year-selected a, span.location-selected a, span.month-selected a, span.period-selected a {color:#0d6369;
        font-size:15px;font-weight:bold;}

    #container {
        height: 500px;
        min-width: 310px;
        max-width: 800px;
        margin: 0 auto;
    }
    div.noDataMessage{padding:20px 35px; }

    div.box-container {
        margin-top:5px;
        border-radius:8px ;
        border: 1px solid #4572A7;
        padding:10px 10px 10px 10px !important;
        background:#EEF1F5;
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.6);
        height:98%;
    }
    div[class*="span6"]{min-height:100% !important}

</style>


<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!--
<div id="loader7" class="loader-icon"></div>
-->


<div class="container-fluid" style="padding:0px !important">
    <div class="row-fluid">
        <div class="span12" style="box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);margin-top:5px;border-radius:8px ;border: 2px solid #4572A7;width:100%;padding:10px 20px 20px 20px !important;background:#EEF1F5">
            <!--<span class="reporting-header" style="padding: 0; margin:0; border: none; background: none">-->
            <!-- Location Filter-->
            <div class="span4">
                <div class="" style="width:100%">
                    <h2><i class="flaticon-bar"></i><strong>Lab</strong></h2>
                    <location-filter default="all" cm-model="filter.location"
                                     on-change="filterChange(filter)"></location-filter>
                </div>
            </div>
            <!-- Period Filter-->
            <!--<div class="span2">-->
            <!--<div class="" style="width:100%">-->
            <!--<h2><i class="flaticon-bar"></i>Period</h2>-->
            <!--<period-filter cm-model="filter.period" on-change="filterChange(filter)"></period-filter>-->
            <!--</div>-->
            <!--</div>-->
            <!-- Year Filter-->
            <div class="span3">
                <div class="" style="width:100%">
                    <h2><i class="flaticon-bar"></i><strong>Year</strong></h2>
                    <year-filter default="defaultYear" cm-model="filter.year" range="2"
                                 on-change="filterChange(filter)"></year-filter>
                </div>
            </div>
            <!-- Month-->
            <div class="span5">
                <div class="">
                    <h2><i class="flaticon-bar"></i><strong>Month</strong></h2>
                    <month-filter default="defaultMonth" cm-model="filter.month"
                                  on-change="filterChange(filter)"></month-filter>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row-fluid" style="margin-top:-5px">

        <div class="span12">
<!--
            <h2><i class="flaticon-bar"></i><strong>Trend </strong> &nbsp;|&nbsp; {{filter.year}}-({{selectMonth.name}})</h2>
-->
<!--
            <map-filter cm-model="filter.region" on-change="filterChange(filter)"></map-filter>
-->

            <div class="span6">
                <div  class="box-container">
                    <h2><i class="flaticon-bar"></i><strong>Test Trends </strong> &nbsp;|&nbsp;{{filter.year}}</h2>

                    <c3chart bindto-id="test-trend"
                             chart-data="testTrend.dataPoints"
                             chart-columns="testTrend.dataColumns"
                             chart-x="testTrend.dataX"
                            >
                        <chart-axis>
                            <chart-axis-x axis-position="outer-center"
                                          axis-label="Months"
                                          axis-type="category">
                            </chart-axis-x>
                            <chart-axis-y axis-position="outer-middle"
                                          axis-label="Tests">
                            </chart-axis-y>
                        </chart-axis>

                        <chart-line step-type="step" connect-null="true"/>
                    </c3chart>
                </div>
            </div>

            <div class="span6">
                <div  class="box-container">
                    <h2><i class="flaticon-bar"></i><strong>Test Suppression Trends </strong> &nbsp;|&nbsp;{{filter.year}}</h2>
                    <c3chart bindto-id="test-trend2"
                             chart-data="testTrendSuppression.dataPoints"
                             chart-columns="testTrendSuppression.dataColumns"
                             chart-x="testTrendSuppression.dataX"
                            >
                        <chart-axis>
                            <chart-axis-x axis-position="outer-center"
                                          axis-label="Months"
                                          axis-type="category">
                                <chart-axis-x-tick tick-rotate="50"/>
                            </chart-axis-x>

                           <!-- <chart-axis-y axis-id="y2"
                                          axis-position="outer-right"
                                          axis-label="Lower numbers"
                                          padding-top="10"
                                          padding-bottom="0"
                                          range-max="100"
                                          range-min="0"/>-->

                            <chart-axis-y axis-position="outer-middle"
                                          axis-label="Suppression Rate (%)">
                            </chart-axis-y>
                        </chart-axis>

                        <chart-line step-type="step" connect-null="true"/>
                    </c3chart>
                </div>
            </div>

        </div>


    </div>
<!--
           <div class="clear-both"></div>
-->
<div class="span12 row-fluid">
            <div class="span6">
                <div  class="box-container">
                    <h2><i class="flaticon-bar"></i><strong>Rejection Rate Trends </strong> &nbsp;|&nbsp;{{filter.year}}</h2>
                    <c3chart bindto-id="test-trend3"
                             chart-data="testTrendRejection.dataPoints"
                             chart-columns="testTrendRejection.dataColumns"
                             chart-x="testTrendRejection.dataX"
                            >
                        <chart-axis>
                            <chart-axis-x axis-position="outer-middle"
                                          axis-label="Months"
                                          axis-type="category">
                                <chart-axis-x-tick tick-rotate="50"/>
                            </chart-axis-x>

                           <!-- <chart-axis-y axis-id="y2"
                                          axis-position="outer-right"
                                          axis-label="Lower numbers"
                                          padding-top="10"
                                          padding-bottom="0"
                                          range-max="100"
                                          range-min="0"/>-->

                            <chart-axis-y axis-position="outer-middle"
                                          axis-label="Rejection Rate (%)">
                            </chart-axis-y>
                        </chart-axis>

                        <chart-line step-type="step" connect-null="true"/>
                    </c3chart>
                </div>
            </div>

            <div class="span6"></div>
    </div>

<!--
    <div class="loader-icon" ng-show="resultIsLoading"></div>
-->




</div>
</body>
</html>