<style>
    .form-group .form-row input[type="text"] {
    height: 35px !important;
    }

    .form-group .form-control input[type="text"] {
    height: 35px !important;
    }

</style>

<div xmlns="http://www.w3.org/1999/html">
    <h2><span ng-style="color(); ">{{firtLetter}}</span>
        <a href="#/create-sms" class="pull-right btn btn-primary"><span id="sms-add-new">Send New SMS</span></a>
    </h2>

    <div class="alert alert-success" id="saveSuccessMsgDiv" ng-show="smsId">
        <span ng-bind="message"></span>.

    </div>

    <div>

        <br/>
        <table class="table table-striped table-bordered">
            <thead>
            <tr class="gradient-header">
                <th>Phone #
                </th>
                <th>Text Message
                </th>
                <th>Direction
                </th>
                <th>Sent
                </th>
                <th>Date Received
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sms in filterSMS">
                <td>
                    <div>{{sms.phoneNumber}}</div>
                </td>
                <td>
                    <div>{{sms.message}}</div>
                </td>
                <td>
                    <div>{{sms.direction}}</div>
                </td>
                <td>
                    <div>{{sms.sent}}</div>
                </td>
                <td>
                    <div>{{sms.dateSaved |date:'medium'}}</div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>