<div id="popup-box" ng-form="addNewMember" modal="doctorConsultationModal"
     options="{'backdrop':'static', 'escape':false}"
     style="width:80% !important;margin-left:-40% !important;">

    <div class="modal-header">
        <h3>Client Consultation</h3>
    </div>

    <div class="modal-body">
        <div class="content-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Client Information</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row-fluid">
                                <div class="span3">
                                    <strong>Name:</strong>
                                    <span ng-bind="consultationRecords.client.firstName"></span> &nbsp;
                                    <span ng-bind="consultationRecords.client.lastName"></span>
                                </div>
                                <div class="span1">
                                    <strong>Age:</strong>
                                    <span ng-bind="consultationRecords.client.age"></span>
                                </div>
                                <div class="span2">
                                    <strong>Gender:</strong>
                                    <span ng-bind="consultationRecords.client.gender"></span>
                                </div>
                                <div class="span2">
                                    <strong>Account Type:</strong>
                                    <span ng-bind="consultationRecords.package.name"></span>
                                </div>
                                <div class="span2">
                                    <strong>Account Type:</strong>
                                    <span ng-bind="consultationRecords.package.name"></span>
                                </div>
                                <div class="span2">
                                    <strong>Group Name:</strong>
                                    <span ng-bind="consultationRecords.package.name"></span>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span3">
                                    <strong>Cell Phone:</strong>
                                    <span ng-bind="consultationRecords.client.cellPhone"></span> &nbsp;
                                </div>
                                <div class="span1">
                                    <strong>Address:</strong>
                                    <span ng-bind="consultationRecords.client.address"></span>
                                </div>
                                <div class="span2">
                                    <strong>Region:</strong>
                                    <span ng-bind="consultationRecords.geoZone.region"></span>
                                </div>
                                <div class="span2">
                                    <strong>District:</strong>
                                    <span ng-bind="consultationRecords.geoZone.district"></span>
                                </div>
                                <div class="span2">
                                    <strong>Ward:</strong>
                                    <span ng-bind="consultationRecords.geoZone.ward"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="accordion">
                <div class="pull-right control-accordion">
                    <a id="expandAll" href="javascript:void(0);" onClick="accordion.expandCollapse('expand')"
                       openlmis-message="label.expand.all"></a> /
                    <a id="collapseAll" href="javascript:void(0);" onClick="accordion.expandCollapse('collapse')"
                       openlmis-message="label.collapse.all"></a>
                </div>
                <div class="clearfix"></div>
                <div class="accordion-section">
                    <div class="accordion-heading" onClick="accordion.expandCollapseToggle(this)">
                    <span><strong>+</strong><a
                            id="homeFacilityRoles"
                            href="javascript:void(0);">Medical History</a></span>
                    </div>
                    <div class="accordion-body prog-role-grid">
                        Medical Record here
                    </div>
                </div>
                <div class="accordion-section">
                    <div class="accordion-heading" onClick="accordion.expandCollapseToggle(this)">
                    <span><strong>+</strong><a
                            id="supervisoryRoles"
                            href="javascript:void(0);">Some new</a></span>
                    </div>
                    <div class="accordion-body prog-role-grid">
                        Some New
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer">

        <input type="button" id="issueSubmit"
               class="btn btn-primary save-button"
               ng-click="saveFinalConsultation()"
               value="Save and Exit Consultation"/>

        <input type="button" ng-click="cancelConsultation();" class="btn btn-cancel"
               value="Reject"/>
    </div>
</div>
