<!DOCTYPE html>

<html ng-app="afyacall">
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title openlmis-message="app.title"></title>
  <link rel="icon" href="/public/favicon.ico" type="image/x-icon"/>
  <script src="/public/lib/jquery/jquery-2.0.0.min.js"></script>
  <script src="/public/lib/jquery/jquery-ui-1.9.2.custom.min.js"></script>
  <script src="/public/lib/angular/angular.min.js"></script>
  <script src="/public/lib/angular/angular-route.min.js"></script>
  <script src="/public/lib/angular/angular-cookies.js"></script>
  <script src="/public/lib/angular/angular-resource.min.js"></script>
  <script src="/public/lib/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.min.css">
  <script src="/public/lib/angular-ui/angular-ui.min.js"></script>
  <script src="/public/lib/angular-ui/bootstrap/ui-bootstrap-0.1.0.min.js"></script>
  <link rel="stylesheet" href="/public/lib/angular-ui/angular-ui.min.css">
  <script src="/public/lib/underscore/underscore-min.js"></script>

  <script src="/public/js/shared/services/services.js"></script>
  <script type="text/javascript" src="/public/js/shared/services/message-service.js"></script>
  <script type="text/javascript" src="/public/js/shared/services/authorization-service.js"></script>
  <script src="/public/js/shared/app.js"></script>
  <!-- App directives -->
  <script src="/public/js/shared/directives/openlmis-message.js"></script>
  <script type="text/javascript" src="/public/js/shared/controller/forgot-password-controller.js"></script>
  <script type="text/javascript" src="/public/js/shared/controller/locale-controller.js"></script>


  <link rel="stylesheet" href="/public/css/app.css">
  <script src="/public/lib/localstorage/localStorage.js"></script>
  <script src="/public/js/shared/localStorageKeys.js"></script>
  <link type="text/css" rel="stylesheet" charset="UTF-8" href="/public/css/app.css">
  <!--[if IE 9]>
  <link rel="stylesheet" href="/public/css/ie9.css"/>
  <![endif]-->
</head>

<body>
<div class="login-page">
  <div class="login-container">
    <div class="modal-login-header">
      <h1>eVLIMS</h1>
      <ng-include src="'/public/pages/locale-list.html'"/>
    </div>
    <div class="forgot-password-form">
      <h2 id="forgotPasswordHeader" openlmis-message="forgot.password.email.subject"></h2>

      <div class="form-desc" openlmis-message="reset.password.message">
      </div>
      <form ng-submit="sendForgotPasswordEmail()" ng-controller="ForgotPasswordController">
        <fieldset>
          <div class="login-form-row">
            <input type="text" id="email" ng-model="user.email" openlmis-message="placeholder.email"/>
          </div>
          <div class="login-form-row or-row" openlmis-message="label.or">
          </div>
          <div class="login-form-row">
            <input type="text" id="username" ng-model="user.userName"
                   openlmis-message="placeholder.username"/>
          </div>
          <div class="alert alert-error" id="saveFailMessage" openlmis-message="error" ng-show="error">
          </div>
          <div class="login-form-row">
            <input id="submitPasswordButton" class="btn btn-primary" ng-disabled="submitDisabled"
                   type="submit"
                   openlmis-message="button.submit"/>
            <input id="cancelPasswordButton" class="btn btn-cancel" type="button" ng-click="goToLogin()"
                   openlmis-message="button.cancel"/>
          </div>
        </fieldset>
      </form>
    </div>

  </div>
</div>
</body>
</html>