<div ng-controller="LeftNavigationController" class="scroll-view " ng-class="{'vl':selectedTestType.code=='VL','eid':selectedTestType.code=='EID'}" >
    <div class="navbar nav_title" ng-class="{'vl':selectedTestType.code=='VL','eid':selectedTestType.code=='EID'}"
         style="text-align: center;">
        <a href="" class="site_title">
            <!--<i class="fa fa-paw"></i> -->
            <span>{{selectedTestType.name}}</span>
            <!--<img align="center" width="70%" height="65%"-->
                 <!--src="/public/images/afyaCall_logo.png" class=""/>-->
        </a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile" ng-controller="HeaderController" style="text-align: center;">
        <img align="center" width="80"  src="/public/images/tanzania.png" style="margin:0px auto"/>
        <div>Viral Load Lab Management Information System</div>
        <!--<div class="profile_pic">-->
            <!--<br/><br/>-->
        <!--<span class="pull-right">-->
            <!--<ng-letter-avatar data="{{userInfo.firstName}} {{userInfo.lastName}}" dynamic="true" charCount="1"-->
                              <!--shape="round"></ng-letter-avatar>-->
        <!--</span>-->


        <!--</div>-->
        <!--<div class="profile_info">-->
            <!--<span>Welcome,</span>-->

            <!--<h2>{{userInfo.firstName}} {{userInfo.lastName}}</h2>-->
        <!--</div>-->
    </div>
    <!-- /menu profile quick info -->
    <div class="clearfix"></div>
    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <!--<h3>General</h3>-->
            <ul class="nav side-menu">
                <!--<li><a href=""><i class="fa fa-tachometer"></i> Dashboard <span-->
                <!--class="fa"></span></a>-->

                <!--</li>-->



                <li ng-show="!hasPermission('SAMPLE_REGISTRATION')"><a href="http://evlims.nacp.go.tz/public/pages/vldashboard/index.html#!/summary"><i class="fa fa-pencil-square-o"></i>
                    National Dashboard</a><span
                            class="fa fa-chevron-down"></span>
                <!--    <ul class="nav child_menu">
                        <li> <a href="http://evlims.nacp.go.tz/public/pages/vldashboard/index.html#!/summary">Dash</a></li>
                    </ul>-->
                </li>


                <li ng-show="hasPermission('VIEW_DASHBOARD')"><a href="/public/pages/lab-dashboard/index.html/#!/summary"><i class="fa fa-pencil-square-o"></i>
                   Lab Dashboard</a><span
                            class="fa fa-chevron-down"></span>
                    <ul class="nav child_menu">
                        <li> <a href="/public/pages/dashboard/index.html/#/dashboard">Dash</a></li>
<!--
                        <li> <a href="/public/pages/lab-dashboard/index.html/#/dashboard">Lab Dashboard</a></li>
-->
                    </ul>
                </li>
                <li ng-show="hasPermission('ADMINISTRATION')"><a><i class="fa fa-cogs"></i>Administration <span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <!--      <li><a href="/public/pages/admin/index.html/#/health-settings">Health Record Settings</a></li>
                              <li><a href="/public/pages/admin/index.html/#/cv-settings">CV Settings</a></li>
                              <li><a href="/public/pages/admin/setting/index.html#/list">Other settings</a></li>
      -->
                        <li class="has-children">
                            <a id="manage-option" href="javascript: void(0);" openlmis-message="link.admin.manage"></a>
                            <div class="submenu">
                                <ul class="nav child_menu">
                                    <li>
                                        <a href="/public/pages/admin/upload/index.html">Upload</a>
                                    </li>
                                    <li><a href="/public/pages/admin/user/index.html#/search">Users</a></li>
                                    <li><a href="/public/pages/role/index.html"
                                            >Roles</a></li>
                                    <li><a href="">Geographic Zones</a></li>


                                </ul>

                            </div>


                        </li>

                    </ul>
                </li>

                <li ng-show="hasPermission('REGISTER_SAMPLE') || hasPermission('VIEW_SAMPLE')  "><a><i class="fa fa-pencil-square-o"></i>
                    Samples<span
                            class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li ng-show="hasPermission('REGISTER_SAMPLE') "><a href="/public/pages/vl/index.html/#/create-sample">Add Sample</a></li>
                        <li ng-show="hasPermission('VIEW_SAMPLE')"><a href="/public/pages/vl/index.html/#/list-samples">View Samples</a></li>
                        <li ng-show="hasPermission('VIEW_REJECTED_SAMPLES')"><a href="/public/pages/vl/index.html/#/rejected-sample">Rejected Samples</a></li>
                    </ul>
                </li>
                <li ng-show="hasPermission('CREATE_WORKSHEET')"><a><i class="fa fa-pencil-square-o"></i>
                   Worksheets <span
                            class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/public/pages/vl/index.html/#/create-worksheet">Create Worksheet</a></li>
                    </ul>
                </li>
                <li ng-show="hasPermission('VIEW_RESULTS')"><a><i class="fa fa-pencil-square-o"></i>
                   Results <span
                            class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/public/pages/vl/index.html/#/results2">View Results</a></li>
                        <li><a href="/public/pages/vl/index.html/#/results-list">View Dispatched Results</a></li>
                        <li><a href="/public/pages/vl/index.html/#/upload-result">Upload</a></li>
                    </ul>
                </li>
                <li ng-show="!hasPermission('VIEW_LAB_PERFORMANCE')"><a><i class="fa fa-pencil-square-o"></i>
                    Reports<span
                            class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/public/pages/vl/index.html/#/registry-report">Registry Report</a></li>
                        <li><a href="/public/pages/vl/index.html/#/age-summary">Age Summary Report</a></li>
                        <li><a href="/public/pages/vl/index.html/#/facility-list">Facility List Report</a></li>

                    </ul>

                </li>

                <li ng-show="hasPermission('VIEW_LAB_PERFORMANCE')"><a><i class="fa fa-pencil-square-o"></i>
                    Reports<span
                            class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="">Lab performance</a></li>
                    </ul>
                </li>
                <li ng-show="hasPermission('MANAGE_COMMODITIES')"><a><i class="fa fa-pencil-square-o"></i>
                    Commodities<span
                            class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/public/pages/inventory-report/index.html/#/search">Report commodities</a></li>
                    </ul>
                  <!--  <ul class="nav child_menu">
                        <li><a href="/public/pages/inventory-report/index.html/#/view">View Previous Report</a></li>
                    </ul>-->
                </li>




                <li ng-show="hasPermission('MANAGE1_REGISTRATION')"><a><i class="fa fa-pencil-square-o"></i>
                    Registration<span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/public/pages/client/index.html/#/search">Clients</a></li>
                    </ul>
                </li>

                <li ng-show="hasPermission('CONSULTATION')"><a><i class="fa fa-stethoscope"></i>
                    Consultation <span
                            class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/public/pages/consultation/index.html/#/search">Consultation Queue</a></li>
                    </ul>
                </li>

                <li ng-show="hasPermission('MANAGE_PROFILE')"><a><i class="fa fa-user"></i> Account<span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="/public/pages/client/index.html/#profile">Profile</a></li>
                        <li><a href="/public/pages/client/index.html/#payment">Payment</a></li>

                    </ul>
                </li>
                <li ng-show="hasPermission('MANAGE_HEALTH_RECORDS')"><a><i class="fa fa-medkit"></i>Health Records<span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="">Vitals</a></li>
                        <li><a href="">Existing Conditions</a></li>
                        <li><a href="">Medicines</a></li>
                        <li><a href="">Allergies</a></li>
                        <li><a href="">Blood Glucose</a></li>
                        <li><a href="">Immunization</a></li>
                        <li><a href="">Lipid Profile</a></li>
                        <li><a href="">Urine Test</a></li>

                    </ul>
                </li>

                <li ng-show="hasPermission('VIEW_DOCTORS')"><a><i class="fa fa-user-md"></i> Doctors<span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="">All Doctors</a></li>
                        <li><a href="">Family Doctors</a></li>
                        <li><a href="">Children Doctor</a></li>
                        <li><a href="">Search Doctor</a></li>
                    </ul>
                </li>

                <!--<li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>-->
                <!--<ul class="nav child_menu">-->
                <!--<li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>-->
                <!--<li><a href="fixed_footer.html">Fixed Footer</a></li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="menu_section">

        </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <!--<div class="sidebar-footer hidden-small">-->
    <!--<a data-toggle="tooltip" data-placement="top" title="Settings">-->
    <!--&lt;!&ndash;<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&ndash;&gt;&nbsp;-->
    <!--</a>-->
    <!--<a data-toggle="tooltip" data-placement="top" title="FullScreen">-->
    <!--&lt;!&ndash;<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>&ndash;&gt;&nbsp;-->
    <!--</a>-->
    <!--<a data-toggle="tooltip" data-placement="top" title="Lock">-->
    <!--&lt;!&ndash;<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>&ndash;&gt;&nbsp;-->
    <!--</a>-->
    <!--<a href="" ng-click="logout()" data-toggle="tooltip" data-placement="top" title="Logout">-->
    <!--<span class="glyphicon glyphicon-off" aria-hidden="true"></span>-->
    <!--</a>-->
    <!--</div>-->
    <!-- /menu footer buttons -->
</div>
