
<div class="login-container">
    <div class="modal-login-header">
        <!--<h1 openlmis-message="label.app.header"></h1>-->
        <h1>Viral Load Lab Information Management System</h1>
        <!--<img src="/public/images/afyaCall_logo.png" style="height:90%;margin-left:10px"/>-->
        <ng-include src="'/public/pages/locale-list.html'"/>
    </div>

    <div class="login-form" ng-controller="LoginController">
        <h2 id="signInLabel" openlmis-message="label.sign.in"></h2>

        <form ng-submit="doLogin()" novalidate>
            <fieldset>
                <div class="login-form-row">
                    <input ng-model="username" type="text" id="username" openlmis-message="placeholder.username"
                           required
                           autofocus/>
                </div>
                <div class="login-form-row">
                    <input ng-model="password" type="password" id="password" openlmis-message="placeholder.password"
                           required/>
                </div>
                <div id="loginError" class="alert alert-error" ng-bind="loginError" ng-show="loginError"></div>
                <div class="login-form-row">
                    <input class="btn btn-primary" type="submit" openlmis-message="button.sign.in"
                           ng-disabled="disableSignInButton"/>
                </div>
                <div class="login-form-row forgot-link">
                    <a id="forgotPasswordLink" href="" ng-click="goToForgotPassword()"
                       openlmis-message="link.forgot.password"></a>
                </div>
            </fieldset>
        </form>
    </div>
</div>

