
<div class="navigation toggleFullScreen" ng-controller="NationalNavigationController" ui-nav>

  <ul class="clearfix" >

    <li>
      <a id="summary-menu" href="#/home">Summary</a>
    </li>
      
    <li>
      <a id="trend-menu" href="#/trend">Trends</a>
    </li>
  <li>
      <a id="regimen-menu" href="javascript: void(0)">Regimen</a>
    </li>

    <li>
      <a id="age-menu" href="javascript: void(0)">Age</a>
    </li>
    <li>
      <a id="partner-menu" href="javascript: void(0)">Partners</a>
      <div class="submenu">
        <ul>
          <li>
            <a id="createRnr" href="/public/pages/logistics/rnr/index.html#/init-rnr"
               >Summary</a>
          </li>
          <li>
            <a id="trend" href="/public/pages/logistics/rnr/index.html#/init-rnr"
               >Trends</a>
          </li>
          <li>
            <a id="partner-facility" href="/public/pages/logistics/rnr/index.html#/init-rnr"
               >Partner Facilities</a>
          </li>

        </ul>
      </div>
    </li>

    <li>
      <a id="performance-menu" href="javascript: void(0)">Lab Performance</a>
    </li>

    <li>
      <a id="facility-view" href="/public/pages/logistics/rnr/index.html#/init-rnr"
              >Facilities</a>
    </li>

      <li style="float: right">
      <a id="eid-view" href="/public/pages/logistics/rnr/index.html#/init-rnr"
              >EID View</a>
    </li>

  </ul>
</div>
<!--<div class="navigation-locale-bar">
  <ng-include src="'/public/pages/locale-list.html'"/>
</div>-->
