<div class="nav_menu" ng-controller="HeaderController"
     style="background: linear-gradient(to bottom, #ffffff 0%, #fafafa 35%, #cfcfcf 100%);">

    <nav>
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>

        <ul class="nav navbar-nav navbar-right">

            <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                   aria-expanded="false">

                <span id="wrap">
                    <ng-letter-avatar data="{{userInfo.firstName}} {{userInfo.lastName}}" dynamic="true" charCount=1
                                      shape="round">
                    </ng-letter-avatar>{{userInfo.firstName}} {{userInfo.lastName}}
                </span>
                    <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                        <a href="javascript:;">
                            <span class="badge bg-red pull-right">50%</span>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a ng-click="logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                    </li>
                </ul>
            </li>
            <li ng-show="selectedTestType.id !== type.id"  ng-repeat="type in allTestTypes">
                <a ng-click="setSelectedTestType(type)" href=""><<&nbsp;Switch to {{type.name}} >></a>
            </li>


        </ul>
    </nav>
    <div id="loader" class="loader-icon"></div>
</div>
